chemical-sds-management/template.yaml
# ⚠️ NOTE: This file is for SAM local testing only.
AWSTemplateFormatVersion: "2010-09-09"
Transform: AWS::Serverless-2016-10-31
Description: >-
  UC28: 化学・素材 SDS 管理
  FSx for NetApp ONTAP S3 Access Points を活用した SDS 分析、
  ラボノート解析、規制準拠レポート生成のサーバーレスワークフロー。

Parameters:
  # --- Layer 1: Phase 1 共通 ---
  S3AccessPointAlias:
    Type: String
    AllowedPattern: "^[a-z0-9-]+-ext-s3alias$"
  S3AccessPointName:
    Type: String
    Default: ""
  S3AccessPointOutputAlias:
    Type: String
    AllowedPattern: "^[a-z0-9-]+-ext-s3alias$"
  OntapSecretName:
    Type: String
  OntapManagementIp:
    Type: String
    AllowedPattern: "^\\d{1,3}\\.\\d{1,3}\\.\\d{1,3}\\.\\d{1,3}$"
  SvmUuid:
    Type: String
  ScheduleExpression:
    Type: String
    Default: "cron(0 0 * * ? *)"
  VpcId:
    Type: AWS::EC2::VPC::Id
  PrivateSubnetIds:
    Type: List<AWS::EC2::Subnet::Id>
  PrivateRouteTableIds:
    Type: CommaDelimitedList
  OutputBucketName:
    Type: String
    Default: ""
  NotificationEmail:
    Type: String

  # --- Layer 2: Phase 2 拡張 ---
  MapConcurrency:
    Type: Number
    Default: 10
    MinValue: 1
    MaxValue: 100
  LambdaMemorySize:
    Type: Number
    Default: 256
    AllowedValues: [128, 256, 512, 1024, 2048]
  LambdaTimeout:
    Type: Number
    Default: 300
    MinValue: 30
    MaxValue: 900
  EnableCloudWatchAlarms:
    Type: String
    Default: "false"
    AllowedValues: ["true", "false"]
  EnableVpcEndpoints:
    Type: String
    Default: "false"
    AllowedValues: ["true", "false"]
  EnableXRayTracing:
    Type: String
    Default: "true"
    AllowedValues: ["true", "false"]
  EnableS3GatewayEndpoint:
    Type: String
    Default: "true"
    AllowedValues: ["true", "false"]
  BedrockModelId:
    Type: String
    Default: "anthropic.claude-haiku-4-5-20251001-v1:0"

  # --- Layer 3: TriggerMode ---
  TriggerMode:
    Type: String
    Default: "POLLING"
    AllowedValues: ["POLLING", "EVENT_DRIVEN"]
  FPolicyEventBusName:
    Type: String
    Default: "fsxn-fpolicy-events"

  # --- Layer 4: UC28 固有 ---
  SdsPrefix:
    Type: String
    Default: "sds/"
    Description: SDS ファイルのプレフィックス
  LabbookPrefix:
    Type: String
    Default: "labbooks/"
    Description: ラボノート画像のプレフィックス
  SdsValidityDays:
    Type: Number
    Default: 365
    MinValue: 1
    MaxValue: 3650
    Description: SDS 有効期間日数 (超過で critical アラート)
  TextractRegion:
    Type: String
    Default: "us-east-1"

Globals:
  Function:
    Runtime: python3.12
    MemorySize: !Ref LambdaMemorySize
    Timeout: !Ref LambdaTimeout
    Environment:
      Variables:
        S3_ACCESS_POINT: !Ref S3AccessPointAlias
        S3_ACCESS_POINT_OUTPUT: !Ref S3AccessPointOutputAlias
        POWERTOOLS_SERVICE_NAME: chemical-sds-management

Resources:
  DiscoveryFunction:
    Type: AWS::Serverless::Function
    Properties:
      FunctionName: !Sub "${AWS::StackName}-discovery"
      Handler: functions.discovery.handler.handler
      Environment:
        Variables:
          SDS_PREFIX: !Ref SdsPrefix
          LABBOOK_PREFIX: !Ref LabbookPrefix

  SdsExtractorFunction:
    Type: AWS::Serverless::Function
    Properties:
      FunctionName: !Sub "${AWS::StackName}-sds-extractor"
      Handler: functions.sds_extractor.handler.handler
      Environment:
        Variables:
          TEXTRACT_REGION: !Ref TextractRegion
          BEDROCK_MODEL_ID: !Ref BedrockModelId
          SDS_VALIDITY_DAYS: !Ref SdsValidityDays

  LabbookAnalyzerFunction:
    Type: AWS::Serverless::Function
    Properties:
      FunctionName: !Sub "${AWS::StackName}-labbook-analyzer"
      Handler: functions.labbook_analyzer.handler.handler
      Environment:
        Variables:
          TEXTRACT_REGION: !Ref TextractRegion

  ReportFunction:
    Type: AWS::Serverless::Function
    Properties:
      FunctionName: !Sub "${AWS::StackName}-report"
      Handler: functions.report.handler.handler
      Environment:
        Variables:
          SNS_TOPIC_ARN: !Ref NotificationTopic
          SDS_VALIDITY_DAYS: !Ref SdsValidityDays

  NotificationTopic:
    Type: AWS::SNS::Topic
    Properties:
      TopicName: !Sub "${AWS::StackName}-notifications"

  EmailSubscription:
    Type: AWS::SNS::Subscription
    Properties:
      TopicArn: !Ref NotificationTopic
      Protocol: email
      Endpoint: !Ref NotificationEmail

  WorkflowStateMachine:
    Type: AWS::Serverless::StateMachine
    Properties:
      Name: !Sub "${AWS::StackName}-workflow"
      DefinitionBody:
        Comment: "UC28 Chemical SDS Management Workflow"
        StartAt: Discovery
        States:
          Discovery:
            Type: Task
            Resource: !GetAtt DiscoveryFunction.Arn
            Next: SdsExtractorMap
          SdsExtractorMap:
            Type: Map
            ItemsPath: "$.sds_files"
            MaxConcurrency: !Ref MapConcurrency
            Iterator:
              StartAt: ExtractSds
              States:
                ExtractSds:
                  Type: Task
                  Resource: !GetAtt SdsExtractorFunction.Arn
                  End: true
            ResultPath: "$.sds_results"
            Next: LabbookAnalyzerMap
            Catch:
              - ErrorEquals: ["States.ALL"]
                ResultPath: "$.sds_error"
                Next: LabbookAnalyzerMap
          LabbookAnalyzerMap:
            Type: Map
            ItemsPath: "$.labbook_images"
            MaxConcurrency: !Ref MapConcurrency
            Iterator:
              StartAt: AnalyzeLabbook
              States:
                AnalyzeLabbook:
                  Type: Task
                  Resource: !GetAtt LabbookAnalyzerFunction.Arn
                  End: true
            ResultPath: "$.labbook_results"
            Next: Report
            Catch:
              - ErrorEquals: ["States.ALL"]
                ResultPath: "$.labbook_error"
                Next: Report
          Report:
            Type: Task
            Resource: !GetAtt ReportFunction.Arn
            End: true

Outputs:
  StateMachineArn:
    Value: !Ref WorkflowStateMachine
  DiscoveryFunctionArn:
    Value: !GetAtt DiscoveryFunction.Arn
  SdsExtractorFunctionArn:
    Value: !GetAtt SdsExtractorFunction.Arn
  LabbookAnalyzerFunctionArn:
    Value: !GetAtt LabbookAnalyzerFunction.Arn
  ReportFunctionArn:
    Value: !GetAtt ReportFunction.Arn
