autonomous-driving/template-deploy.yaml
AWSTemplateFormatVersion: "2010-09-09"
Description: >-
  UC9: 自動運転 / ADAS（ラベリング前処理・品質チェック）
  FSx for NetApp ONTAP S3 Access Points を活用したダッシュカム映像 / LiDAR 点群の
  ラベリング前処理、品質チェック、アノテーション管理のサーバーレスワークフロー。

# =====================================================================
# Parameters
# =====================================================================
Parameters:
  DeployBucket:
    Type: String
    Description: S3 bucket containing Lambda deployment packages

  # --- Phase 1 共通パラメータ ---
  S3AccessPointAlias:
    Type: String
    Description: FSx ONTAP S3 Access Point Alias (入力読み取り用)
    AllowedPattern: "^[a-z0-9-]+-ext-s3alias$"

  OntapSecretName:
    Type: String
    Description: ONTAP REST API 認証情報の Secrets Manager シークレット名

  OntapManagementIp:
    Type: String
    Description: ONTAP クラスタ管理 IP アドレス
    AllowedPattern: "^\\d{1,3}\\.\\d{1,3}\\.\\d{1,3}\\.\\d{1,3}$"

  SvmUuid:
    Type: String
    Description: ONTAP SVM UUID

  ScheduleExpression:
    Type: String
    Default: "rate(1 hour)"
    Description: EventBridge Scheduler のスケジュール式

  VpcId:
    Type: AWS::EC2::VPC::Id
    Description: Discovery Lambda を配置する VPC ID

  PrivateSubnetIds:
    Type: List<AWS::EC2::Subnet::Id>
    Description: Discovery Lambda を配置するプライベートサブネット ID リスト

  OutputBucketName:
    Type: String
    Default: ""
    Description: S3 出力バケット名（空の場合は自動生成）

  NotificationEmail:
    Type: String
    Description: SNS 通知の送信先メールアドレス

  # --- Phase 2 拡張パラメータ ---
  MapConcurrency:
    Type: Number
    Default: 10
    MinValue: 1
    MaxValue: 40
    Description: Step Functions Map ステートの最大同時実行数

  LambdaMemorySize:
    Type: Number
    Default: 1024
    MinValue: 128
    MaxValue: 10240
    Description: Lambda 関数のメモリサイズ (MB) — 動画/点群処理用に大きめ設定

  LambdaTimeout:
    Type: Number
    Default: 600
    MinValue: 30
    MaxValue: 900
    Description: Lambda 関数のタイムアウト (秒)

  EnableCloudWatchAlarms:
    Type: String
    Default: "false"
    AllowedValues: ["true", "false"]
    Description: CloudWatch Alarms を有効化する

  EnableVpcEndpoints:
    Type: String
    Default: "false"
    AllowedValues: ["true", "false"]
    Description: Interface VPC Endpoints を有効化する

  PrivateRouteTableIds:
    Type: CommaDelimitedList
    Default: ""
    Description: プライベートサブネットのルートテーブル ID リスト（S3 Gateway Endpoint 用。空の場合は S3 Gateway Endpoint を作成しない）

  # --- UC9 固有パラメータ ---
  FrameInterval:
    Type: Number
    Default: 1000
    MinValue: 100
    MaxValue: 60000
    Description: フレーム抽出間隔 (ミリ秒)

  BedrockModelId:
    Type: String
    Default: "amazon.nova-lite-v1:0"
    Description: Bedrock モデル ID（アノテーション提案生成用）

  SageMakerTransformJobName:
    Type: String
    Default: "ad-segmentation"
    Description: SageMaker Batch Transform ジョブ名プレフィックス

  # --- Phase 3 SageMaker 統合パラメータ ---
  EnableSageMakerTransform:
    Type: String
    Default: "false"
    AllowedValues: ["true", "false"]
    Description: SageMaker Batch Transform 統合を有効化する

  # --- Phase 4 Task Token Store パラメータ ---
  EnableDynamoDBTokenStore:
    Type: String
    Default: "true"
    AllowedValues: ["true", "false"]
    Description: DynamoDB Task Token Store を有効化する（SageMaker Callback Pattern 用）

  # --- Phase 4 Real-time Endpoint + A/B Testing パラメータ ---
  EnableRealtimeEndpoint:
    Type: String
    Default: "false"
    AllowedValues: ["true", "false"]
    Description: SageMaker Real-time Inference Endpoint を有効化する

  InferenceType:
    Type: String
    Default: "none"
    AllowedValues: ["none", "provisioned", "serverless", "components"]
    Description: 推論エンドポイントタイプ（none / provisioned / serverless / components）

  ServerlessMemorySizeInMB:
    Type: Number
    Default: 4096
    AllowedValues: [1024, 2048, 3072, 4096, 5120, 6144]
    Description: Serverless Inference のメモリサイズ (MB)

  ServerlessMaxConcurrency:
    Type: Number
    Default: 5
    MinValue: 1
    MaxValue: 200
    Description: Serverless Inference の最大同時実行数

  ServerlessProvisionedConcurrency:
    Type: Number
    Default: 0
    MinValue: 0
    MaxValue: 200
    Description: Serverless Inference の Provisioned Concurrency（0 = 無効）

  EnableABTesting:
    Type: String
    Default: "false"
    AllowedValues: ["true", "false"]
    Description: A/B テスト（Multi-Variant Endpoint）を有効化する

  ModelVariantsConfig:
    Type: String
    Default: ""
    Description: >-
      モデルバリアント設定 JSON 文字列
      例: [{"VariantName":"model-v1","ModelDataUrl":"s3://...","InstanceType":"ml.m5.large","InitialInstanceCount":1,"InitialVariantWeight":0.7}]

  RealtimeThreshold:
    Type: Number
    Default: 10
    MinValue: 1
    MaxValue: 10000
    Description: Real-time Endpoint ルーティングのファイル数閾値（file_count < threshold → Real-time）

  MaxAutoScalingInstances:
    Type: Number
    Default: 4
    MinValue: 1
    MaxValue: 20
    Description: Auto Scaling 最大インスタンス数

  # --- Phase 4 Model Registry パラメータ ---
  EnableModelRegistry:
    Type: String
    Default: "false"
    AllowedValues: ["true", "false"]
    Description: SageMaker Model Registry 統合を有効化する

  EnableSnapStart:
    Type: String
    Default: "false"
    AllowedValues: ["true", "false"]
    Description: Lambda SnapStart を有効化する（コールドスタート削減）

  OutputDestination:
    Type: String
    Default: "STANDARD_S3"
    AllowedValues: ["STANDARD_S3", "FSXN_S3AP"]
    Description: |
      AI/ML 成果物の書き込み先。STANDARD_S3（デフォルト）は新しい S3 バケットに書き込み。
      FSXN_S3AP は FSxN S3 Access Point 経由でオリジナルデータと同一ボリュームに書き込み
      （"no data movement" パターン）。詳細: docs/aws-feature-requests/fsxn-s3ap-improvements.md

  OutputS3APAlias:
    Type: String
    Default: ""
    Description: |
      OutputDestination=FSXN_S3AP 時の出力先 S3 AP Alias。空なら入力用 S3AccessPointAlias を再利用。

  OutputS3APPrefix:
    Type: String
    Default: "ai-outputs/"
    Description: |
      OutputDestination=FSXN_S3AP 時、全出力キーに付与するプレフィックス。

  S3AccessPointName:
    Type: String
    Default: ""
    Description: |
      入力用 S3 Access Point の名前（alias ではなく）。指定すると AP ARN 形式でも
      IAM アクセスを許可する（FSxN S3AP の permission 判定で両形式をサポート）。

  OutputS3APName:
    Type: String
    Default: ""
    Description: |
      出力用 S3 AP の名前。空なら S3AccessPointName を再利用。

  # --- Phase 6B Inference Components パラメータ ---
  EnableInferenceComponents:
    Type: String
    Default: "false"
    AllowedValues: ["true", "false"]
    Description: SageMaker Inference Components（scale-to-zero 対応）を有効化する

  InferenceComponentName:
    Type: String
    Default: "ad-segmentation-component"
    Description: Inference Component 名

  ComponentsMinInstanceCount:
    Type: Number
    Default: 0
    MinValue: 0
    MaxValue: 10
    Description: Inference Components の最小インスタンス数（0 = scale-to-zero）

  ComponentsMaxInstanceCount:
    Type: Number
    Default: 4
    MinValue: 1
    MaxValue: 20
    Description: Inference Components の最大インスタンス数

  ComponentsScaleFromZeroTimeout:
    Type: Number
    Default: 300
    MinValue: 60
    MaxValue: 900
    Description: scale-from-zero タイムアウト秒（Step Functions タスクタイムアウト）

# =====================================================================
# Conditions
# =====================================================================
Conditions:
  CreateCloudWatchAlarms:
    !Equals [!Ref EnableCloudWatchAlarms, "true"]
  CreateVpcEndpoints:
    !Equals [!Ref EnableVpcEndpoints, "true"]
  CreateS3GatewayEndpoint:
    !And
      - !Condition CreateVpcEndpoints
      - !Not [!Equals [!Select [0, !Ref PrivateRouteTableIds], ""]]
  UseAutoOutputBucket:
    !Equals [!Ref OutputBucketName, ""]
  UseStandardS3:
    !Equals [!Ref OutputDestination, "STANDARD_S3"]
  UseFsxnS3AP:
    !Equals [!Ref OutputDestination, "FSXN_S3AP"]
  UseInputApAsOutputAp:
    !Equals [!Ref OutputS3APAlias, ""]
  HasS3AccessPointName:
    !Not [!Equals [!Ref S3AccessPointName, ""]]
  UseInputApNameAsOutputApName:
    !Equals [!Ref OutputS3APName, ""]
  CreateSageMakerResources:
    !Equals [!Ref EnableSageMakerTransform, "true"]
  CreateTokenStore:
    !Equals [!Ref EnableDynamoDBTokenStore, "true"]
  CreateRealtimeEndpoint:
    !Equals [!Ref EnableRealtimeEndpoint, "true"]
  CreateABTesting:
    !And
      - !Condition CreateRealtimeEndpoint
      - !Equals [!Ref EnableABTesting, "true"]
  UseServerlessInference:
    !And
      - !Condition CreateRealtimeEndpoint
      - !Equals [!Ref InferenceType, "serverless"]
  IsServerlessInference:
    !Equals [!Ref InferenceType, "serverless"]
  IsProvisionedInference:
    !Equals [!Ref InferenceType, "provisioned"]
  HasProvisionedConcurrency:
    !And
      - !Condition IsServerlessInference
      - !Not [!Equals [!Ref ServerlessProvisionedConcurrency, "0"]]
  CreateModelRegistry:
    !Equals [!Ref EnableModelRegistry, "true"]

  SnapStartEnabled:
    !Equals [!Ref EnableSnapStart, "true"]

  CreateInferenceComponents:
    !And
      - !Equals [!Ref EnableInferenceComponents, "true"]
      - !Equals [!Ref InferenceType, "components"]

  # InferenceRoutingEnabled: true if ANY inference path (batch / realtime /
  # components) is enabled at template level. Used as a Step Functions
  # DefinitionSubstitution to flip the workflow router between
  # "run inference" and "skip inference entirely" modes.
  AnyInferenceEnabled:
    !Or
      - !Equals [!Ref EnableSageMakerTransform, "true"]
      - !Equals [!Ref EnableRealtimeEndpoint, "true"]
      - !Equals [!Ref EnableInferenceComponents, "true"]

# =====================================================================
# Resources
# =====================================================================
Resources:

  # -----------------------------------------------------------------
  # S3 Output Bucket (SSE-KMS)
  # OutputDestination=STANDARD_S3 モード時は Lambda 成果物の書き込み先。
  # FSXN_S3AP モード時も SageMaker Model artifact storage 等の用途で
  # 作成される（SageMaker 機能を使う場合必須）。
  # -----------------------------------------------------------------
  OutputBucket:
    Type: AWS::S3::Bucket
    Properties:
      BucketName: !If
        - UseAutoOutputBucket
        - !Sub "${AWS::StackName}-output-${AWS::AccountId}"
        - !Ref OutputBucketName
      BucketEncryption:
        ServerSideEncryptionConfiguration:
          - ServerSideEncryptionByDefault:
              SSEAlgorithm: aws:kms
      PublicAccessBlockConfiguration:
        BlockPublicAcls: true
        BlockPublicPolicy: true
        IgnorePublicAcls: true
        RestrictPublicBuckets: true
      VersioningConfiguration:
        Status: Enabled
      Tags:
        - Key: UseCase
          Value: autonomous-driving

  # -----------------------------------------------------------------
  # SNS Topic + Email Subscription
  # -----------------------------------------------------------------
  NotificationTopic:
    Type: AWS::SNS::Topic
    Properties:
      TopicName: !Sub "${AWS::StackName}-notifications"
      KmsMasterKeyId: alias/aws/sns

  EmailSubscription:
    Type: AWS::SNS::Subscription
    Properties:
      TopicArn: !Ref NotificationTopic
      Protocol: email
      Endpoint: !Ref NotificationEmail

  # -----------------------------------------------------------------
  # Lambda Security Group (Discovery Lambda 用 — VPC 内)
  # -----------------------------------------------------------------
  LambdaSecurityGroup:
    Type: AWS::EC2::SecurityGroup
    Properties:
      GroupDescription: !Sub "${AWS::StackName} - Discovery Lambda security group"
      VpcId: !Ref VpcId
      SecurityGroupEgress:
        - IpProtocol: tcp
          FromPort: 443
          ToPort: 443
          CidrIp: 0.0.0.0/0
          Description: Allow HTTPS outbound
      Tags:
        - Key: Name
          Value: !Sub "${AWS::StackName}-lambda-sg"

  # -----------------------------------------------------------------
  # VPC Endpoint Security Group (conditional)
  # -----------------------------------------------------------------
  VpcEndpointSecurityGroup:
    Type: AWS::EC2::SecurityGroup
    Condition: CreateVpcEndpoints
    Properties:
      GroupDescription: !Sub "${AWS::StackName} - VPC Endpoints security group"
      VpcId: !Ref VpcId
      SecurityGroupIngress:
        - IpProtocol: tcp
          FromPort: 443
          ToPort: 443
          SourceSecurityGroupId: !Ref LambdaSecurityGroup
          Description: Allow HTTPS from Lambda
      Tags:
        - Key: Name
          Value: !Sub "${AWS::StackName}-vpce-sg"

  # -----------------------------------------------------------------
  # Interface VPC Endpoints (conditional)
  # -----------------------------------------------------------------
  SecretsManagerEndpoint:
    Type: AWS::EC2::VPCEndpoint
    Condition: CreateVpcEndpoints
    Properties:
      VpcId: !Ref VpcId
      ServiceName: !Sub "com.amazonaws.${AWS::Region}.secretsmanager"
      VpcEndpointType: Interface
      SubnetIds: !Ref PrivateSubnetIds
      SecurityGroupIds:
        - !Ref VpcEndpointSecurityGroup
      PrivateDnsEnabled: true

  CloudWatchEndpoint:
    Type: AWS::EC2::VPCEndpoint
    Condition: CreateVpcEndpoints
    Properties:
      VpcId: !Ref VpcId
      ServiceName: !Sub "com.amazonaws.${AWS::Region}.monitoring"
      VpcEndpointType: Interface
      SubnetIds: !Ref PrivateSubnetIds
      SecurityGroupIds:
        - !Ref VpcEndpointSecurityGroup
      PrivateDnsEnabled: true

  CloudWatchLogsEndpoint:
    Type: AWS::EC2::VPCEndpoint
    Condition: CreateVpcEndpoints
    Properties:
      VpcId: !Ref VpcId
      ServiceName: !Sub "com.amazonaws.${AWS::Region}.logs"
      VpcEndpointType: Interface
      SubnetIds: !Ref PrivateSubnetIds
      SecurityGroupIds:
        - !Ref VpcEndpointSecurityGroup
      PrivateDnsEnabled: true

  S3GatewayEndpoint:
    Type: AWS::EC2::VPCEndpoint
    Condition: CreateS3GatewayEndpoint
    Properties:
      VpcId: !Ref VpcId
      ServiceName: !Sub "com.amazonaws.${AWS::Region}.s3"
      VpcEndpointType: Gateway
      RouteTableIds: !Ref PrivateRouteTableIds

  # -----------------------------------------------------------------
  # CloudWatch Log Groups (14 day retention)
  # -----------------------------------------------------------------
  DiscoveryLogGroup:
    Type: AWS::Logs::LogGroup
    Properties:
      LogGroupName: !Sub "/aws/lambda/${AWS::StackName}-discovery"
      RetentionInDays: 14

  FrameExtractionLogGroup:
    Type: AWS::Logs::LogGroup
    Properties:
      LogGroupName: !Sub "/aws/lambda/${AWS::StackName}-frame-extraction"
      RetentionInDays: 14

  PointCloudQcLogGroup:
    Type: AWS::Logs::LogGroup
    Properties:
      LogGroupName: !Sub "/aws/lambda/${AWS::StackName}-point-cloud-qc"
      RetentionInDays: 14

  AnnotationManagerLogGroup:
    Type: AWS::Logs::LogGroup
    Properties:
      LogGroupName: !Sub "/aws/lambda/${AWS::StackName}-annotation-manager"
      RetentionInDays: 14

  # -----------------------------------------------------------------
  # IAM Roles — least-privilege per Lambda
  # -----------------------------------------------------------------

  # Discovery Lambda: VPC 内、S3 AP 読み取り + ONTAP API アクセス
  DiscoveryLambdaRole:
    Type: AWS::IAM::Role
    Properties:
      RoleName: !Sub "${AWS::StackName}-discovery-role"
      AssumeRolePolicyDocument:
        Version: "2012-10-17"
        Statement:
          - Effect: Allow
            Principal:
              Service: lambda.amazonaws.com
            Action: sts:AssumeRole
      ManagedPolicyArns:
        - arn:aws:iam::aws:policy/service-role/AWSLambdaVPCAccessExecutionRole
      Policies:
        - PolicyName: DiscoveryPolicy
          PolicyDocument:
            Version: "2012-10-17"
            Statement:
              - Sid: S3AccessPointRead
                Effect: Allow
                Action:
                  - s3:ListBucket
                  - s3:GetObject
                  - s3:GetBucketLocation
                Resource: !If
                  - HasS3AccessPointName
                  - - !Sub "arn:aws:s3:::${S3AccessPointAlias}"
                    - !Sub "arn:aws:s3:::${S3AccessPointAlias}/*"
                    - !Sub "arn:aws:s3:${AWS::Region}:${AWS::AccountId}:accesspoint/${S3AccessPointName}"
                    - !Sub "arn:aws:s3:${AWS::Region}:${AWS::AccountId}:accesspoint/${S3AccessPointName}/*"
                  - - !Sub "arn:aws:s3:::${S3AccessPointAlias}"
                    - !Sub "arn:aws:s3:::${S3AccessPointAlias}/*"
              - Sid: S3AccessPointWrite
                Effect: Allow
                Action:
                  - s3:PutObject
                Resource: !If
                  - HasS3AccessPointName
                  - - !Sub "arn:aws:s3:::${S3AccessPointAlias}/*"
                    - !Sub "arn:aws:s3:${AWS::Region}:${AWS::AccountId}:accesspoint/${S3AccessPointName}/object/*"
                  - - !Sub "arn:aws:s3:::${S3AccessPointAlias}/*"
              - Sid: SecretsManager
                Effect: Allow
                Action:
                  - secretsmanager:GetSecretValue
                Resource:
                  - !Sub "arn:aws:secretsmanager:${AWS::Region}:${AWS::AccountId}:secret:${OntapSecretName}*"
              - Sid: FsxDescribe
                Effect: Allow
                Action:
                  - fsx:DescribeFileSystems
                  - fsx:DescribeVolumes
                  - fsx:DescribeStorageVirtualMachines
                Resource: "*"
              - Sid: CloudWatchLogs
                Effect: Allow
                Action:
                  - logs:CreateLogStream
                  - logs:PutLogEvents
                Resource:
                  - !GetAtt DiscoveryLogGroup.Arn
                  - !Sub "${DiscoveryLogGroup.Arn}:*"

  # FrameExtraction Lambda: VPC 外、S3 AP 読み取り + Rekognition + S3 出力
  FrameExtractionLambdaRole:
    Type: AWS::IAM::Role
    Properties:
      RoleName: !Sub "${AWS::StackName}-frame-extraction-role"
      AssumeRolePolicyDocument:
        Version: "2012-10-17"
        Statement:
          - Effect: Allow
            Principal:
              Service: lambda.amazonaws.com
            Action: sts:AssumeRole
      ManagedPolicyArns:
        - arn:aws:iam::aws:policy/service-role/AWSLambdaBasicExecutionRole
      Policies:
        - PolicyName: FrameExtractionPolicy
          PolicyDocument:
            Version: "2012-10-17"
            Statement:
              - Sid: S3AccessPointRead
                Effect: Allow
                Action:
                  - s3:GetObject
                Resource:
                  - !Sub "arn:aws:s3:::${S3AccessPointAlias}/*"
              - Sid: RekognitionDetectLabels
                Effect: Allow
                Action:
                  - rekognition:DetectLabels
                Resource: "*"
              - Sid: S3OutputBucketWrite
                Effect: Allow
                Action:
                  - s3:PutObject
                Resource: !If
                  - UseStandardS3
                  - - !Sub "${OutputBucket.Arn}/*"
                  - !If
                    - HasS3AccessPointName
                    - - !Sub
                        - "arn:aws:s3:::${Alias}/*"
                        - Alias: !If [UseInputApAsOutputAp, !Ref S3AccessPointAlias, !Ref OutputS3APAlias]
                      - !Sub
                        - "arn:aws:s3:${AWS::Region}:${AWS::AccountId}:accesspoint/${Name}/object/*"
                        - Name: !If [UseInputApNameAsOutputApName, !Ref S3AccessPointName, !Ref OutputS3APName]
                    - - !Sub
                        - "arn:aws:s3:::${Alias}/*"
                        - Alias: !If [UseInputApAsOutputAp, !Ref S3AccessPointAlias, !Ref OutputS3APAlias]
              - Sid: CloudWatchLogs
                Effect: Allow
                Action:
                  - logs:CreateLogStream
                  - logs:PutLogEvents
                Resource:
                  - !GetAtt FrameExtractionLogGroup.Arn
                  - !Sub "${FrameExtractionLogGroup.Arn}:*"

  # PointCloudQC Lambda: VPC 外、S3 AP 読み取り + S3 出力
  PointCloudQcLambdaRole:
    Type: AWS::IAM::Role
    Properties:
      RoleName: !Sub "${AWS::StackName}-point-cloud-qc-role"
      AssumeRolePolicyDocument:
        Version: "2012-10-17"
        Statement:
          - Effect: Allow
            Principal:
              Service: lambda.amazonaws.com
            Action: sts:AssumeRole
      ManagedPolicyArns:
        - arn:aws:iam::aws:policy/service-role/AWSLambdaBasicExecutionRole
      Policies:
        - PolicyName: PointCloudQcPolicy
          PolicyDocument:
            Version: "2012-10-17"
            Statement:
              - Sid: S3AccessPointRead
                Effect: Allow
                Action:
                  - s3:GetObject
                Resource:
                  - !Sub "arn:aws:s3:::${S3AccessPointAlias}/*"
              - Sid: S3OutputBucketWrite
                Effect: Allow
                Action:
                  - s3:PutObject
                Resource: !If
                  - UseStandardS3
                  - - !Sub "${OutputBucket.Arn}/*"
                  - !If
                    - HasS3AccessPointName
                    - - !Sub
                        - "arn:aws:s3:::${Alias}/*"
                        - Alias: !If [UseInputApAsOutputAp, !Ref S3AccessPointAlias, !Ref OutputS3APAlias]
                      - !Sub
                        - "arn:aws:s3:${AWS::Region}:${AWS::AccountId}:accesspoint/${Name}/object/*"
                        - Name: !If [UseInputApNameAsOutputApName, !Ref S3AccessPointName, !Ref OutputS3APName]
                    - - !Sub
                        - "arn:aws:s3:::${Alias}/*"
                        - Alias: !If [UseInputApAsOutputAp, !Ref S3AccessPointAlias, !Ref OutputS3APAlias]
              - Sid: CloudWatchLogs
                Effect: Allow
                Action:
                  - logs:CreateLogStream
                  - logs:PutLogEvents
                Resource:
                  - !GetAtt PointCloudQcLogGroup.Arn
                  - !Sub "${PointCloudQcLogGroup.Arn}:*"

  # AnnotationManager Lambda: VPC 外、Bedrock + SageMaker + S3 出力 + SNS
  AnnotationManagerLambdaRole:
    Type: AWS::IAM::Role
    Properties:
      RoleName: !Sub "${AWS::StackName}-annotation-manager-role"
      AssumeRolePolicyDocument:
        Version: "2012-10-17"
        Statement:
          - Effect: Allow
            Principal:
              Service: lambda.amazonaws.com
            Action: sts:AssumeRole
      ManagedPolicyArns:
        - arn:aws:iam::aws:policy/service-role/AWSLambdaBasicExecutionRole
      Policies:
        - PolicyName: AnnotationManagerPolicy
          PolicyDocument:
            Version: "2012-10-17"
            Statement:
              - Sid: Bedrock
                Effect: Allow
                Action:
                  - bedrock:InvokeModel
                Resource:
                  - !Sub "arn:aws:bedrock:${AWS::Region}::foundation-model/${BedrockModelId}"
              - Sid: SageMaker
                Effect: Allow
                Action:
                  - sagemaker:CreateTransformJob
                  - sagemaker:DescribeTransformJob
                Resource: "*"
              - Sid: S3OutputBucketWrite
                Effect: Allow
                Action:
                  - s3:PutObject
                Resource: !If
                  - UseStandardS3
                  - - !Sub "${OutputBucket.Arn}/*"
                  - !If
                    - HasS3AccessPointName
                    - - !Sub
                        - "arn:aws:s3:::${Alias}/*"
                        - Alias: !If [UseInputApAsOutputAp, !Ref S3AccessPointAlias, !Ref OutputS3APAlias]
                      - !Sub
                        - "arn:aws:s3:${AWS::Region}:${AWS::AccountId}:accesspoint/${Name}/object/*"
                        - Name: !If [UseInputApNameAsOutputApName, !Ref S3AccessPointName, !Ref OutputS3APName]
                    - - !Sub
                        - "arn:aws:s3:::${Alias}/*"
                        - Alias: !If [UseInputApAsOutputAp, !Ref S3AccessPointAlias, !Ref OutputS3APAlias]
              - Sid: SNSPublish
                Effect: Allow
                Action:
                  - sns:Publish
                Resource:
                  - !Ref NotificationTopic
              - Sid: CloudWatchLogs
                Effect: Allow
                Action:
                  - logs:CreateLogStream
                  - logs:PutLogEvents
                Resource:
                  - !GetAtt AnnotationManagerLogGroup.Arn
                  - !Sub "${AnnotationManagerLogGroup.Arn}:*"

  # -----------------------------------------------------------------
  # Lambda Functions
  # -----------------------------------------------------------------
  DiscoveryFunction:
    Type: AWS::Lambda::Function
    Properties:
      FunctionName: !Sub "${AWS::StackName}-discovery"
      Runtime: python3.13
      SnapStart:
        !If
          - SnapStartEnabled
          - ApplyOn: PublishedVersions
          - !Ref AWS::NoValue
      Handler: handler.handler
      Code:
        S3Bucket: !Ref DeployBucket
        S3Key: lambda/autonomous-driving-discovery.zip
      MemorySize: !Ref LambdaMemorySize
      Timeout: !Ref LambdaTimeout
      Role: !GetAtt DiscoveryLambdaRole.Arn
      VpcConfig:
        SecurityGroupIds:
          - !Ref LambdaSecurityGroup
        SubnetIds: !Ref PrivateSubnetIds
      Environment:
        Variables:
          S3_ACCESS_POINT: !Ref S3AccessPointAlias
          PREFIX_FILTER: "driving/"
          SUFFIX_FILTER: ".mp4,.avi,.mkv,.pcd,.las,.laz,.ply,.json"
          ONTAP_SECRET_NAME: !Ref OntapSecretName
          ONTAP_MANAGEMENT_IP: !Ref OntapManagementIp
          SVM_UUID: !Ref SvmUuid
          VERIFY_SSL: "false"
      LoggingConfig:
        LogGroup: !Ref DiscoveryLogGroup
      Tags:
        - Key: UseCase
          Value: autonomous-driving

  FrameExtractionFunction:
    Type: AWS::Lambda::Function
    Properties:
      FunctionName: !Sub "${AWS::StackName}-frame-extraction"
      Runtime: python3.13
      SnapStart:
        !If
          - SnapStartEnabled
          - ApplyOn: PublishedVersions
          - !Ref AWS::NoValue
      Handler: handler.handler
      Code:
        S3Bucket: !Ref DeployBucket
        S3Key: lambda/autonomous-driving-frame_extraction.zip
      MemorySize: !Ref LambdaMemorySize
      Timeout: !Ref LambdaTimeout
      Role: !GetAtt FrameExtractionLambdaRole.Arn
      Environment:
        Variables:
          S3_ACCESS_POINT: !Ref S3AccessPointAlias
          OUTPUT_DESTINATION: !Ref OutputDestination
          OUTPUT_BUCKET: !If [UseStandardS3, !Ref OutputBucket, ""]
          OUTPUT_S3AP_ALIAS:
            !If
              - UseFsxnS3AP
              - !If [UseInputApAsOutputAp, !Ref S3AccessPointAlias, !Ref OutputS3APAlias]
              - ""
          OUTPUT_S3AP_PREFIX: !Ref OutputS3APPrefix
          FRAME_INTERVAL: !Ref FrameInterval
      LoggingConfig:
        LogGroup: !Ref FrameExtractionLogGroup
      Tags:
        - Key: UseCase
          Value: autonomous-driving

  PointCloudQcFunction:
    Type: AWS::Lambda::Function
    Properties:
      FunctionName: !Sub "${AWS::StackName}-point-cloud-qc"
      Runtime: python3.13
      SnapStart:
        !If
          - SnapStartEnabled
          - ApplyOn: PublishedVersions
          - !Ref AWS::NoValue
      Handler: handler.handler
      Code:
        S3Bucket: !Ref DeployBucket
        S3Key: lambda/autonomous-driving-point_cloud_qc.zip
      MemorySize: !Ref LambdaMemorySize
      Timeout: !Ref LambdaTimeout
      Role: !GetAtt PointCloudQcLambdaRole.Arn
      Environment:
        Variables:
          S3_ACCESS_POINT: !Ref S3AccessPointAlias
          OUTPUT_DESTINATION: !Ref OutputDestination
          OUTPUT_BUCKET: !If [UseStandardS3, !Ref OutputBucket, ""]
          OUTPUT_S3AP_ALIAS:
            !If
              - UseFsxnS3AP
              - !If [UseInputApAsOutputAp, !Ref S3AccessPointAlias, !Ref OutputS3APAlias]
              - ""
          OUTPUT_S3AP_PREFIX: !Ref OutputS3APPrefix
      LoggingConfig:
        LogGroup: !Ref PointCloudQcLogGroup
      Tags:
        - Key: UseCase
          Value: autonomous-driving

  AnnotationManagerFunction:
    Type: AWS::Lambda::Function
    Properties:
      FunctionName: !Sub "${AWS::StackName}-annotation-manager"
      Runtime: python3.13
      SnapStart:
        !If
          - SnapStartEnabled
          - ApplyOn: PublishedVersions
          - !Ref AWS::NoValue
      Handler: handler.handler
      Code:
        S3Bucket: !Ref DeployBucket
        S3Key: lambda/autonomous-driving-annotation_manager.zip
      MemorySize: !Ref LambdaMemorySize
      Timeout: !Ref LambdaTimeout
      Role: !GetAtt AnnotationManagerLambdaRole.Arn
      Environment:
        Variables:
          OUTPUT_DESTINATION: !Ref OutputDestination
          OUTPUT_BUCKET: !If [UseStandardS3, !Ref OutputBucket, ""]
          OUTPUT_S3AP_ALIAS:
            !If
              - UseFsxnS3AP
              - !If [UseInputApAsOutputAp, !Ref S3AccessPointAlias, !Ref OutputS3APAlias]
              - ""
          OUTPUT_S3AP_PREFIX: !Ref OutputS3APPrefix
          BEDROCK_MODEL_ID: !Ref BedrockModelId
          SNS_TOPIC_ARN: !Ref NotificationTopic
          SAGEMAKER_TRANSFORM_JOB_NAME: !Ref SageMakerTransformJobName
      LoggingConfig:
        LogGroup: !Ref AnnotationManagerLogGroup
      Tags:
        - Key: UseCase
          Value: autonomous-driving

  # -----------------------------------------------------------------
  # Step Functions State Machine
  # Discovery → Parallel(FrameExtraction Map, PointCloudQC Map) → AnnotationManager
  # -----------------------------------------------------------------
  StateMachineRole:
    Type: AWS::IAM::Role
    Properties:
      RoleName: !Sub "${AWS::StackName}-sfn-role"
      AssumeRolePolicyDocument:
        Version: "2012-10-17"
        Statement:
          - Effect: Allow
            Principal:
              Service: states.amazonaws.com
            Action: sts:AssumeRole
      Policies:
        - PolicyName: StepFunctionsPolicy
          PolicyDocument:
            Version: "2012-10-17"
            Statement:
              - Sid: InvokeLambda
                Effect: Allow
                Action:
                  - lambda:InvokeFunction
                Resource:
                  - !GetAtt DiscoveryFunction.Arn
                  - !GetAtt FrameExtractionFunction.Arn
                  - !GetAtt PointCloudQcFunction.Arn
                  - !GetAtt AnnotationManagerFunction.Arn
              - !If
                - CreateRealtimeEndpoint
                - Sid: InvokeRealtimeLambda
                  Effect: Allow
                  Action:
                    - lambda:InvokeFunction
                  Resource:
                    - !GetAtt RealtimeInvokeFunction.Arn
                - !Ref "AWS::NoValue"
              - !If
                - CreateSageMakerResources
                - Sid: InvokeSageMakerLambda
                  Effect: Allow
                  Action:
                    - lambda:InvokeFunction
                  Resource:
                    - !GetAtt SageMakerInvokeFunction.Arn
                - !Ref "AWS::NoValue"
              - !If
                - CreateInferenceComponents
                - Sid: InvokeComponentsLambda
                  Effect: Allow
                  Action:
                    - lambda:InvokeFunction
                  Resource:
                    - !GetAtt ComponentsInvokeFunction.Arn
                - !Ref "AWS::NoValue"

  AutonomousDrivingStateMachine:
    Type: AWS::StepFunctions::StateMachine
    Properties:
      StateMachineName: !Sub "${AWS::StackName}-workflow"
      RoleArn: !GetAtt StateMachineRole.Arn
      DefinitionString: !Sub |
        {
          "Comment": "Autonomous Driving - Labeling Preprocessing & QC Workflow",
          "StartAt": "Discovery",
          "States": {
            "Discovery": {
              "Type": "Task",
              "Resource": "${DiscoveryFunction.Arn}",
              "ResultPath": "$.discovery",
              "Next": "ParallelProcessing",
              "Retry": [
                {
                  "ErrorEquals": ["States.TaskFailed"],
                  "IntervalSeconds": 5,
                  "MaxAttempts": 2,
                  "BackoffRate": 2.0
                }
              ]
            },
            "ParallelProcessing": {
              "Type": "Parallel",
              "ResultPath": "$.parallel_results",
              "Next": "InferenceRouting",
              "Branches": [
                {
                  "StartAt": "ProcessVideoFiles",
                  "States": {
                    "ProcessVideoFiles": {
                      "Type": "Map",
                      "ItemsPath": "$.discovery.video_files",
                      "MaxConcurrency": ${MapConcurrency},
                      "ResultPath": "$.detection_results",
                      "ItemProcessor": {
                        "ProcessorConfig": {
                          "Mode": "INLINE"
                        },
                        "StartAt": "ExtractFrames",
                        "States": {
                          "ExtractFrames": {
                            "Type": "Task",
                            "Resource": "${FrameExtractionFunction.Arn}",
                            "Retry": [
                              {
                                "ErrorEquals": ["States.TaskFailed"],
                                "IntervalSeconds": 10,
                                "MaxAttempts": 3,
                                "BackoffRate": 2.0
                              }
                            ],
                            "Catch": [
                              {
                                "ErrorEquals": ["States.ALL"],
                                "ResultPath": "$.error",
                                "Next": "MarkVideoFailed"
                              }
                            ],
                            "End": true
                          },
                          "MarkVideoFailed": {
                            "Type": "Pass",
                            "Result": {"status": "ERROR"},
                            "End": true
                          }
                        }
                      },
                      "End": true
                    }
                  }
                },
                {
                  "StartAt": "ProcessLidarFiles",
                  "States": {
                    "ProcessLidarFiles": {
                      "Type": "Map",
                      "ItemsPath": "$.discovery.lidar_files",
                      "MaxConcurrency": ${MapConcurrency},
                      "ResultPath": "$.qc_results",
                      "ItemProcessor": {
                        "ProcessorConfig": {
                          "Mode": "INLINE"
                        },
                        "StartAt": "PointCloudQC",
                        "States": {
                          "PointCloudQC": {
                            "Type": "Task",
                            "Resource": "${PointCloudQcFunction.Arn}",
                            "Retry": [
                              {
                                "ErrorEquals": ["States.TaskFailed"],
                                "IntervalSeconds": 10,
                                "MaxAttempts": 3,
                                "BackoffRate": 2.0
                              }
                            ],
                            "Catch": [
                              {
                                "ErrorEquals": ["States.ALL"],
                                "ResultPath": "$.error",
                                "Next": "MarkLidarFailed"
                              }
                            ],
                            "End": true
                          },
                          "MarkLidarFailed": {
                            "Type": "Pass",
                            "Result": {"status": "FAIL"},
                            "End": true
                          }
                        }
                      },
                      "End": true
                    }
                  }
                }
              ]
            },
            "InferenceRouting": {
              "Type": "Choice",
              "Choices": [
                {
                  "Variable": "$.discovery.inference_type",
                  "StringEquals": "serverless",
                  "Next": "ServerlessInference"
                },
                {
                  "Variable": "$.discovery.inference_type",
                  "StringEquals": "components",
                  "Next": "ComponentsInference"
                },
                {
                  "Variable": "$.discovery.file_count",
                  "NumericGreaterThanEqualsPath": "$.discovery.batch_threshold",
                  "Next": "BatchTransform"
                },
                {
                  "And": [
                    {
                      "Variable": "$.discovery.file_count",
                      "NumericLessThanPath": "$.discovery.batch_threshold"
                    },
                    {
                      "Variable": "$.discovery.inference_type",
                      "StringEquals": "provisioned"
                    }
                  ],
                  "Next": "RealtimeInference"
                }
              ],
              "Default": "${!DefaultInferenceNext}"
            },
            "ServerlessInference": {
              "Type": "Task",
              "Resource": "${!RealtimeInvokeArn}",
              "Parameters": {
                "s3_uri.$": "$.discovery.model_input_uri",
                "inference_type": "serverless"
              },
              "ResultPath": "$.inference_result",
              "Next": "AnnotationManager",
              "TimeoutSeconds": 120,
              "Retry": [
                {
                  "ErrorEquals": ["States.TaskFailed"],
                  "IntervalSeconds": 5,
                  "MaxAttempts": 1,
                  "BackoffRate": 2.0
                }
              ],
              "Catch": [
                {
                  "ErrorEquals": ["ServerlessColdStartTimeoutError"],
                  "ResultPath": "$.serverless_error",
                  "Next": "BatchTransform"
                },
                {
                  "ErrorEquals": ["States.ALL"],
                  "ResultPath": "$.serverless_error",
                  "Next": "BatchTransform"
                }
              ]
            },
            "RealtimeInference": {
              "Type": "Task",
              "Resource": "${!RealtimeInvokeArn}",
              "Parameters": {
                "s3_uri.$": "$.discovery.model_input_uri",
                "inference_type": "provisioned"
              },
              "ResultPath": "$.inference_result",
              "Next": "AnnotationManager",
              "Retry": [
                {
                  "ErrorEquals": ["States.TaskFailed"],
                  "IntervalSeconds": 5,
                  "MaxAttempts": 2,
                  "BackoffRate": 2.0
                }
              ]
            },
            "ComponentsInference": {
              "Type": "Task",
              "Resource": "${!ComponentsInvokeArn}",
              "Parameters": {
                "s3_uri.$": "$.discovery.model_input_uri",
                "inference_type": "components"
              },
              "ResultPath": "$.inference_result",
              "Next": "AnnotationManager",
              "TimeoutSeconds": ${ComponentsScaleFromZeroTimeout},
              "Retry": [
                {
                  "ErrorEquals": ["States.TaskFailed"],
                  "IntervalSeconds": 10,
                  "MaxAttempts": 2,
                  "BackoffRate": 2.0
                }
              ],
              "Catch": [
                {
                  "ErrorEquals": ["ComponentsColdStartTimeoutError"],
                  "ResultPath": "$.components_error",
                  "Next": "BatchTransform"
                },
                {
                  "ErrorEquals": ["States.ALL"],
                  "ResultPath": "$.components_error",
                  "Next": "BatchTransform"
                }
              ]
            },
            "BatchTransform": {
              "Type": "Task",
              "Resource": "${!SageMakerInvokeArn}",
              "Parameters": {
                "input_uri.$": "$.discovery.model_input_uri",
                "file_count.$": "$.discovery.file_count"
              },
              "ResultPath": "$.inference_result",
              "Next": "AnnotationManager",
              "Retry": [
                {
                  "ErrorEquals": ["States.TaskFailed"],
                  "IntervalSeconds": 10,
                  "MaxAttempts": 2,
                  "BackoffRate": 2.0
                }
              ]
            },
            "AnnotationManager": {
              "Type": "Task",
              "Resource": "${AnnotationManagerFunction.Arn}",
              "Parameters": {
                "detection_results.$": "$.parallel_results[0].detection_results",
                "qc_results.$": "$.parallel_results[1].qc_results",
                "inference_result.$": "$.inference_result"
              },
              "ResultPath": "$.annotation_result",
              "End": true,
              "Retry": [
                {
                  "ErrorEquals": ["States.TaskFailed"],
                  "IntervalSeconds": 10,
                  "MaxAttempts": 2,
                  "BackoffRate": 2.0
                }
              ]
            }
          }
        }
      # DefinitionSubstitutions: conditional Lambda ARN placeholders
      # The DefinitionString above uses ${!RealtimeInvokeArn},
      # ${!SageMakerInvokeArn}, ${!ComponentsInvokeArn} to reference
      # conditional Lambda resources. CloudFormation's !Sub cannot resolve
      # ${X.Arn} for resources with unmet Condition (resource does not
      # exist), so we use DefinitionSubstitutions to inject the real ARN
      # when the resource exists, or a harmless placeholder ARN when it
      # doesn't.
      #
      # InferenceEntryPoint: workflow short-circuits inference entirely
      # when no inference backend is enabled at template level. Skips
      # straight to AnnotationManager, preserving the overall workflow
      # shape while avoiding invocation of non-existent Lambdas.
      DefinitionSubstitutions:
        DefaultInferenceNext: !If
          - AnyInferenceEnabled
          - "BatchTransform"
          - "AnnotationManager"
        RealtimeInvokeArn: !If
          - CreateRealtimeEndpoint
          - !GetAtt RealtimeInvokeFunction.Arn
          - !Sub "arn:${AWS::Partition}:lambda:${AWS::Region}:${AWS::AccountId}:function:${AWS::StackName}-realtime-disabled"
        SageMakerInvokeArn: !If
          - CreateSageMakerResources
          - !GetAtt SageMakerInvokeFunction.Arn
          - !Sub "arn:${AWS::Partition}:lambda:${AWS::Region}:${AWS::AccountId}:function:${AWS::StackName}-sagemaker-disabled"
        ComponentsInvokeArn: !If
          - CreateInferenceComponents
          - !GetAtt ComponentsInvokeFunction.Arn
          - !Sub "arn:${AWS::Partition}:lambda:${AWS::Region}:${AWS::AccountId}:function:${AWS::StackName}-components-disabled"

  # -----------------------------------------------------------------
  # EventBridge Scheduler
  # -----------------------------------------------------------------
  SchedulerRole:
    Type: AWS::IAM::Role
    Properties:
      RoleName: !Sub "${AWS::StackName}-scheduler-role"
      AssumeRolePolicyDocument:
        Version: "2012-10-17"
        Statement:
          - Effect: Allow
            Principal:
              Service: scheduler.amazonaws.com
            Action: sts:AssumeRole
      Policies:
        - PolicyName: SchedulerPolicy
          PolicyDocument:
            Version: "2012-10-17"
            Statement:
              - Effect: Allow
                Action:
                  - states:StartExecution
                Resource:
                  - !Ref AutonomousDrivingStateMachine

  AutonomousDrivingSchedule:
    Type: AWS::Scheduler::Schedule
    Properties:
      Name: !Sub "${AWS::StackName}-schedule"
      ScheduleExpression: !Ref ScheduleExpression
      FlexibleTimeWindow:
        Mode: "OFF"
      Target:
        Arn: !Ref AutonomousDrivingStateMachine
        RoleArn: !GetAtt SchedulerRole.Arn
        Input: "{}"

  # -----------------------------------------------------------------
  # CloudWatch Alarms (conditional)
  # -----------------------------------------------------------------
  StepFunctionsFailureAlarm:
    Type: AWS::CloudWatch::Alarm
    Condition: CreateCloudWatchAlarms
    Properties:
      AlarmName: !Sub "${AWS::StackName}-sfn-failures"
      AlarmDescription: Step Functions execution failures
      Namespace: AWS/States
      MetricName: ExecutionsFailed
      Dimensions:
        - Name: StateMachineArn
          Value: !Ref AutonomousDrivingStateMachine
      Statistic: Sum
      Period: 300
      EvaluationPeriods: 1
      Threshold: 1
      ComparisonOperator: GreaterThanOrEqualToThreshold
      TreatMissingData: notBreaching
      AlarmActions:
        - !Ref NotificationTopic

  FrameExtractionErrorAlarm:
    Type: AWS::CloudWatch::Alarm
    Condition: CreateCloudWatchAlarms
    Properties:
      AlarmName: !Sub "${AWS::StackName}-frame-extraction-errors"
      AlarmDescription: Frame Extraction Lambda error rate
      Namespace: AWS/Lambda
      MetricName: Errors
      Dimensions:
        - Name: FunctionName
          Value: !Ref FrameExtractionFunction
      Statistic: Sum
      Period: 300
      EvaluationPeriods: 1
      Threshold: 3
      ComparisonOperator: GreaterThanOrEqualToThreshold
      TreatMissingData: notBreaching
      AlarmActions:
        - !Ref NotificationTopic

  PointCloudQcErrorAlarm:
    Type: AWS::CloudWatch::Alarm
    Condition: CreateCloudWatchAlarms
    Properties:
      AlarmName: !Sub "${AWS::StackName}-point-cloud-qc-errors"
      AlarmDescription: Point Cloud QC Lambda error rate
      Namespace: AWS/Lambda
      MetricName: Errors
      Dimensions:
        - Name: FunctionName
          Value: !Ref PointCloudQcFunction
      Statistic: Sum
      Period: 300
      EvaluationPeriods: 1
      Threshold: 3
      ComparisonOperator: GreaterThanOrEqualToThreshold
      TreatMissingData: notBreaching
      AlarmActions:
        - !Ref NotificationTopic

  AnnotationManagerErrorAlarm:
    Type: AWS::CloudWatch::Alarm
    Condition: CreateCloudWatchAlarms
    Properties:
      AlarmName: !Sub "${AWS::StackName}-annotation-manager-errors"
      AlarmDescription: Annotation Manager Lambda error rate
      Namespace: AWS/Lambda
      MetricName: Errors
      Dimensions:
        - Name: FunctionName
          Value: !Ref AnnotationManagerFunction
      Statistic: Sum
      Period: 300
      EvaluationPeriods: 1
      Threshold: 1
      ComparisonOperator: GreaterThanOrEqualToThreshold
      TreatMissingData: notBreaching
      AlarmActions:
        - !Ref NotificationTopic

  # =================================================================
  # Phase 4: DynamoDB Task Token Store (conditional)
  # =================================================================

  # -----------------------------------------------------------------
  # DynamoDB Task Token Store Table
  # -----------------------------------------------------------------
  TaskTokenStoreTable:
    Type: AWS::DynamoDB::Table
    Condition: CreateTokenStore
    Properties:
      TableName: !Sub "${AWS::StackName}-task-token-store"
      AttributeDefinitions:
        - AttributeName: correlation_id
          AttributeType: S
        - AttributeName: transform_job_name
          AttributeType: S
      KeySchema:
        - AttributeName: correlation_id
          KeyType: HASH
      GlobalSecondaryIndexes:
        - IndexName: TransformJobNameIndex
          KeySchema:
            - AttributeName: transform_job_name
              KeyType: HASH
          Projection:
            ProjectionType: ALL
      BillingMode: PAY_PER_REQUEST
      SSESpecification:
        SSEEnabled: true
      TimeToLiveSpecification:
        AttributeName: ttl
        Enabled: true
      PointInTimeRecoverySpecification:
        PointInTimeRecoveryEnabled: true
      Tags:
        - Key: UseCase
          Value: autonomous-driving
        - Key: Phase
          Value: "4"
        - Key: Component
          Value: task-token-store

  # -----------------------------------------------------------------
  # SageMaker Invoke Lambda (conditional — Phase 3/4)
  # -----------------------------------------------------------------
  SageMakerInvokeLogGroup:
    Type: AWS::Logs::LogGroup
    Condition: CreateSageMakerResources
    Properties:
      LogGroupName: !Sub "/aws/lambda/${AWS::StackName}-sagemaker-invoke"
      RetentionInDays: 14

  SageMakerInvokeLambdaRole:
    Type: AWS::IAM::Role
    Condition: CreateSageMakerResources
    Properties:
      RoleName: !Sub "${AWS::StackName}-sagemaker-invoke-role"
      AssumeRolePolicyDocument:
        Version: "2012-10-17"
        Statement:
          - Effect: Allow
            Principal:
              Service: lambda.amazonaws.com
            Action: sts:AssumeRole
      ManagedPolicyArns:
        - arn:aws:iam::aws:policy/service-role/AWSLambdaBasicExecutionRole
      Policies:
        - PolicyName: SageMakerInvokePolicy
          PolicyDocument:
            Version: "2012-10-17"
            Statement:
              - Sid: SageMakerCreateJob
                Effect: Allow
                Action:
                  - sagemaker:CreateTransformJob
                  - sagemaker:AddTags
                Resource:
                  - !Sub "arn:aws:sagemaker:${AWS::Region}:${AWS::AccountId}:transform-job/*"
              - Sid: S3WriteOutput
                Effect: Allow
                Action:
                  - s3:PutObject
                Resource: !If
                  - UseStandardS3
                  - - !Sub "${OutputBucket.Arn}/*"
                  - !If
                    - HasS3AccessPointName
                    - - !Sub
                        - "arn:aws:s3:::${Alias}/*"
                        - Alias: !If [UseInputApAsOutputAp, !Ref S3AccessPointAlias, !Ref OutputS3APAlias]
                      - !Sub
                        - "arn:aws:s3:${AWS::Region}:${AWS::AccountId}:accesspoint/${Name}/object/*"
                        - Name: !If [UseInputApNameAsOutputApName, !Ref S3AccessPointName, !Ref OutputS3APName]
                    - - !Sub
                        - "arn:aws:s3:::${Alias}/*"
                        - Alias: !If [UseInputApAsOutputAp, !Ref S3AccessPointAlias, !Ref OutputS3APAlias]
              - Sid: CloudWatchLogs
                Effect: Allow
                Action:
                  - logs:CreateLogStream
                  - logs:PutLogEvents
                Resource:
                  - !GetAtt SageMakerInvokeLogGroup.Arn
                  - !Sub "${SageMakerInvokeLogGroup.Arn}:*"
              - !If
                - CreateTokenStore
                - Sid: DynamoDBTokenStore
                  Effect: Allow
                  Action:
                    - dynamodb:PutItem
                    - dynamodb:GetItem
                    - dynamodb:DeleteItem
                    - dynamodb:Query
                  Resource:
                    - !GetAtt TaskTokenStoreTable.Arn
                    - !Sub "${TaskTokenStoreTable.Arn}/index/*"
                - !Ref "AWS::NoValue"
      Tags:
        - Key: UseCase
          Value: autonomous-driving
        - Key: Phase
          Value: "4"
        - Key: Component
          Value: sagemaker

  SageMakerInvokeFunction:
    Type: AWS::Lambda::Function
    Condition: CreateSageMakerResources
    Properties:
      FunctionName: !Sub "${AWS::StackName}-sagemaker-invoke"
      Runtime: python3.13
      SnapStart:
        !If
          - SnapStartEnabled
          - ApplyOn: PublishedVersions
          - !Ref AWS::NoValue
      Handler: handler.handler
      Code:
        S3Bucket: !Ref DeployBucket
        S3Key: lambda/autonomous-driving-sagemaker_invoke.zip
      MemorySize: !Ref LambdaMemorySize
      Timeout: !Ref LambdaTimeout
      Role: !GetAtt SageMakerInvokeLambdaRole.Arn
      Environment:
        Variables:
          SAGEMAKER_TRANSFORM_JOB_NAME: !Ref SageMakerTransformJobName
          OUTPUT_DESTINATION: !Ref OutputDestination
          OUTPUT_BUCKET: !If [UseStandardS3, !Ref OutputBucket, ""]
          OUTPUT_S3AP_ALIAS:
            !If
              - UseFsxnS3AP
              - !If [UseInputApAsOutputAp, !Ref S3AccessPointAlias, !Ref OutputS3APAlias]
              - ""
          OUTPUT_S3AP_PREFIX: !Ref OutputS3APPrefix
          TOKEN_STORAGE_MODE: !If [CreateTokenStore, "dynamodb", "direct"]
          TASK_TOKEN_TABLE_NAME: !If [CreateTokenStore, !Ref TaskTokenStoreTable, ""]
          TOKEN_TTL_SECONDS: "86400"
      LoggingConfig:
        LogGroup: !Ref SageMakerInvokeLogGroup
      Tags:
        - Key: UseCase
          Value: autonomous-driving
        - Key: Phase
          Value: "4"
        - Key: Component
          Value: sagemaker

  # -----------------------------------------------------------------
  # SageMaker Callback Lambda (conditional — Phase 3/4)
  # -----------------------------------------------------------------
  SageMakerCallbackLogGroup:
    Type: AWS::Logs::LogGroup
    Condition: CreateSageMakerResources
    Properties:
      LogGroupName: !Sub "/aws/lambda/${AWS::StackName}-sagemaker-callback"
      RetentionInDays: 14

  SageMakerCallbackLambdaRole:
    Type: AWS::IAM::Role
    Condition: CreateSageMakerResources
    Properties:
      RoleName: !Sub "${AWS::StackName}-sagemaker-callback-role"
      AssumeRolePolicyDocument:
        Version: "2012-10-17"
        Statement:
          - Effect: Allow
            Principal:
              Service: lambda.amazonaws.com
            Action: sts:AssumeRole
      ManagedPolicyArns:
        - arn:aws:iam::aws:policy/service-role/AWSLambdaBasicExecutionRole
      Policies:
        - PolicyName: SageMakerCallbackPolicy
          PolicyDocument:
            Version: "2012-10-17"
            Statement:
              - Sid: SageMakerDescribeJob
                Effect: Allow
                Action:
                  - sagemaker:DescribeTransformJob
                  - sagemaker:ListTags
                Resource:
                  - !Sub "arn:aws:sagemaker:${AWS::Region}:${AWS::AccountId}:transform-job/*"
              - Sid: StepFunctionsSendTask
                Effect: Allow
                Action:
                  - states:SendTaskSuccess
                  - states:SendTaskFailure
                Resource:
                  - !Ref AutonomousDrivingStateMachine
              - Sid: CloudWatchLogs
                Effect: Allow
                Action:
                  - logs:CreateLogStream
                  - logs:PutLogEvents
                Resource:
                  - !GetAtt SageMakerCallbackLogGroup.Arn
                  - !Sub "${SageMakerCallbackLogGroup.Arn}:*"
              - !If
                - CreateTokenStore
                - Sid: DynamoDBTokenStore
                  Effect: Allow
                  Action:
                    - dynamodb:PutItem
                    - dynamodb:GetItem
                    - dynamodb:DeleteItem
                    - dynamodb:Query
                  Resource:
                    - !GetAtt TaskTokenStoreTable.Arn
                    - !Sub "${TaskTokenStoreTable.Arn}/index/*"
                - !Ref "AWS::NoValue"
      Tags:
        - Key: UseCase
          Value: autonomous-driving
        - Key: Phase
          Value: "4"
        - Key: Component
          Value: sagemaker

  SageMakerCallbackFunction:
    Type: AWS::Lambda::Function
    Condition: CreateSageMakerResources
    Properties:
      FunctionName: !Sub "${AWS::StackName}-sagemaker-callback"
      Runtime: python3.13
      SnapStart:
        !If
          - SnapStartEnabled
          - ApplyOn: PublishedVersions
          - !Ref AWS::NoValue
      Handler: handler.handler
      Code:
        S3Bucket: !Ref DeployBucket
        S3Key: lambda/autonomous-driving-sagemaker_callback.zip
      MemorySize: !Ref LambdaMemorySize
      Timeout: !Ref LambdaTimeout
      Role: !GetAtt SageMakerCallbackLambdaRole.Arn
      Environment:
        Variables:
          TOKEN_STORAGE_MODE: !If [CreateTokenStore, "dynamodb", "direct"]
          TASK_TOKEN_TABLE_NAME: !If [CreateTokenStore, !Ref TaskTokenStoreTable, ""]
          TOKEN_TTL_SECONDS: "86400"
      LoggingConfig:
        LogGroup: !Ref SageMakerCallbackLogGroup
      Tags:
        - Key: UseCase
          Value: autonomous-driving
        - Key: Phase
          Value: "4"
        - Key: Component
          Value: sagemaker

  # =================================================================
  # Phase 4: Real-time Inference Endpoint + A/B Testing (conditional)
  # =================================================================

  # -----------------------------------------------------------------
  # SageMaker Model (Real-time Endpoint 用)
  # PREREQUISITE: model.tar.gz must exist at the S3 path BEFORE stack deployment.
  # Use deploy_phase4.sh which automatically creates a dummy artifact if missing.
  # Manual preparation:
  #   aws s3 cp model.tar.gz s3://<OutputBucket>/models/point-cloud-segmentation/model.tar.gz
  # -----------------------------------------------------------------
  RealtimeSageMakerModel:
    Type: AWS::SageMaker::Model
    Condition: CreateRealtimeEndpoint
    Properties:
      ModelName: !Sub "${AWS::StackName}-realtime-model"
      ExecutionRoleArn: !GetAtt SageMakerExecutionRole.Arn
      PrimaryContainer:
        Image: !Sub "763104351884.dkr.ecr.${AWS::Region}.amazonaws.com/pytorch-inference:2.0-cpu-py310"
        ModelDataUrl: !Sub "s3://${OutputBucket}/models/point-cloud-segmentation/model.tar.gz"
      Tags:
        - Key: UseCase
          Value: autonomous-driving
        - Key: Phase
          Value: "4"
        - Key: Component
          Value: realtime-inference

  # -----------------------------------------------------------------
  # SageMaker Execution Role (Real-time Endpoint 用)
  # -----------------------------------------------------------------
  SageMakerExecutionRole:
    Type: AWS::IAM::Role
    Condition: CreateRealtimeEndpoint
    Properties:
      RoleName: !Sub "${AWS::StackName}-sagemaker-exec-role"
      AssumeRolePolicyDocument:
        Version: "2012-10-17"
        Statement:
          - Effect: Allow
            Principal:
              Service: sagemaker.amazonaws.com
            Action: sts:AssumeRole
      ManagedPolicyArns:
        - arn:aws:iam::aws:policy/AmazonSageMakerFullAccess
      Policies:
        - PolicyName: SageMakerModelAccess
          PolicyDocument:
            Version: "2012-10-17"
            Statement:
              - Sid: S3ModelArtifactAccess
                Effect: Allow
                Action:
                  - s3:GetObject
                  - s3:ListBucket
                Resource:
                  - !Sub "${OutputBucket.Arn}"
                  - !Sub "${OutputBucket.Arn}/*"
              - Sid: CloudWatchLogs
                Effect: Allow
                Action:
                  - logs:CreateLogGroup
                  - logs:CreateLogStream
                  - logs:PutLogEvents
                Resource:
                  - !Sub "arn:aws:logs:${AWS::Region}:${AWS::AccountId}:log-group:/aws/sagemaker/*"
      Tags:
        - Key: UseCase
          Value: autonomous-driving
        - Key: Phase
          Value: "4"
        - Key: Component
          Value: realtime-inference

  # -----------------------------------------------------------------
  # SageMaker EndpointConfig (Multi-Variant for A/B Testing)
  # -----------------------------------------------------------------
  RealtimeEndpointConfig:
    Type: AWS::SageMaker::EndpointConfig
    Condition: CreateRealtimeEndpoint
    Properties:
      EndpointConfigName: !Sub "${AWS::StackName}-realtime-config"
      ProductionVariants:
        - VariantName: "primary"
          ModelName: !GetAtt RealtimeSageMakerModel.ModelName
          InitialInstanceCount: 1
          InstanceType: "ml.m5.large"
          InitialVariantWeight: 1.0
      Tags:
        - Key: UseCase
          Value: autonomous-driving
        - Key: Phase
          Value: "4"
        - Key: Component
          Value: realtime-inference

  # -----------------------------------------------------------------
  # SageMaker Serverless EndpointConfig (Phase 5)
  # Uses the same Model resource as provisioned endpoint
  #
  # 重要: Serverless Inference には 180 秒のコールドスタートタイムアウト制限がある。
  # コンテナイメージは 500MB 以下を推奨。sklearn 公式コンテナ (~1.5GB) 等の
  # 重量級イメージは 180 秒以内に起動できず失敗する。
  # 軽量カスタムコンテナまたは Provisioned Concurrency の使用を検討すること。
  # -----------------------------------------------------------------
  ServerlessEndpointConfig:
    Type: AWS::SageMaker::EndpointConfig
    Condition: UseServerlessInference
    Properties:
      EndpointConfigName: !Sub "${AWS::StackName}-serverless-config"
      ProductionVariants:
        - VariantName: "serverless-primary"
          ModelName: !GetAtt RealtimeSageMakerModel.ModelName
          ServerlessConfig:
            MemorySizeInMB: !Ref ServerlessMemorySizeInMB
            MaxConcurrency: !Ref ServerlessMaxConcurrency
            ProvisionedConcurrency: !If
              - HasProvisionedConcurrency
              - !Ref ServerlessProvisionedConcurrency
              - !Ref "AWS::NoValue"
      Tags:
        - Key: UseCase
          Value: autonomous-driving
        - Key: Phase
          Value: "5"
        - Key: Component
          Value: serverless-inference

  # -----------------------------------------------------------------
  # SageMaker Endpoint
  # -----------------------------------------------------------------
  RealtimeEndpoint:
    Type: AWS::SageMaker::Endpoint
    Condition: CreateRealtimeEndpoint
    Properties:
      EndpointName: !Sub "${AWS::StackName}-realtime-endpoint"
      EndpointConfigName: !GetAtt RealtimeEndpointConfig.EndpointConfigName
      Tags:
        - Key: UseCase
          Value: autonomous-driving
        - Key: Phase
          Value: "4"
        - Key: Component
          Value: realtime-inference

  # -----------------------------------------------------------------
  # Application Auto Scaling — ScalableTarget + ScalingPolicy
  # -----------------------------------------------------------------
  EndpointScalableTarget:
    Type: AWS::ApplicationAutoScaling::ScalableTarget
    Condition: CreateRealtimeEndpoint
    Properties:
      MaxCapacity: !Ref MaxAutoScalingInstances
      MinCapacity: 1
      ResourceId: !Sub "endpoint/${RealtimeEndpoint.EndpointName}/variant/primary"
      RoleARN: !Sub "arn:aws:iam::${AWS::AccountId}:role/aws-service-role/sagemaker.application-autoscaling.amazonaws.com/AWSServiceRoleForApplicationAutoScaling_SageMakerEndpoint"
      ScalableDimension: "sagemaker:variant:DesiredInstanceCount"
      ServiceNamespace: sagemaker

  EndpointScalingPolicy:
    Type: AWS::ApplicationAutoScaling::ScalingPolicy
    Condition: CreateRealtimeEndpoint
    Properties:
      PolicyName: !Sub "${AWS::StackName}-endpoint-scaling-policy"
      PolicyType: TargetTrackingScaling
      ScalingTargetId: !Ref EndpointScalableTarget
      TargetTrackingScalingPolicyConfiguration:
        TargetValue: 750.0
        PredefinedMetricSpecification:
          PredefinedMetricType: SageMakerVariantInvocationsPerInstance
        ScaleInCooldown: 300
        ScaleOutCooldown: 60

  # -----------------------------------------------------------------
  # Realtime Invoke Lambda + IAM Role + Log Group
  # -----------------------------------------------------------------
  RealtimeInvokeLogGroup:
    Type: AWS::Logs::LogGroup
    Condition: CreateRealtimeEndpoint
    Properties:
      LogGroupName: !Sub "/aws/lambda/${AWS::StackName}-realtime-invoke"
      RetentionInDays: 14

  RealtimeInvokeLambdaRole:
    Type: AWS::IAM::Role
    Condition: CreateRealtimeEndpoint
    Properties:
      RoleName: !Sub "${AWS::StackName}-realtime-invoke-role"
      AssumeRolePolicyDocument:
        Version: "2012-10-17"
        Statement:
          - Effect: Allow
            Principal:
              Service: lambda.amazonaws.com
            Action: sts:AssumeRole
      ManagedPolicyArns:
        - arn:aws:iam::aws:policy/service-role/AWSLambdaBasicExecutionRole
      Policies:
        - PolicyName: RealtimeInvokePolicy
          PolicyDocument:
            Version: "2012-10-17"
            Statement:
              - Sid: SageMakerInvokeEndpoint
                Effect: Allow
                Action:
                  - sagemaker:InvokeEndpoint
                Resource:
                  - !Sub "arn:aws:sagemaker:${AWS::Region}:${AWS::AccountId}:endpoint/${AWS::StackName}-realtime-endpoint"
              - Sid: S3AccessPointRead
                Effect: Allow
                Action:
                  - s3:GetObject
                Resource:
                  - !Sub "arn:aws:s3:::${S3AccessPointAlias}/*"
              - Sid: CloudWatchLogs
                Effect: Allow
                Action:
                  - logs:CreateLogStream
                  - logs:PutLogEvents
                Resource:
                  - !GetAtt RealtimeInvokeLogGroup.Arn
                  - !Sub "${RealtimeInvokeLogGroup.Arn}:*"
              - !If
                - CreateABTesting
                - Sid: DynamoDBWriteResults
                  Effect: Allow
                  Action:
                    - dynamodb:PutItem
                  Resource:
                    - !GetAtt ABTestResultsTable.Arn
                - !Ref "AWS::NoValue"
      Tags:
        - Key: UseCase
          Value: autonomous-driving
        - Key: Phase
          Value: "4"
        - Key: Component
          Value: realtime-inference

  RealtimeInvokeFunction:
    Type: AWS::Lambda::Function
    Condition: CreateRealtimeEndpoint
    Properties:
      FunctionName: !Sub "${AWS::StackName}-realtime-invoke"
      Runtime: python3.13
      SnapStart:
        !If
          - SnapStartEnabled
          - ApplyOn: PublishedVersions
          - !Ref AWS::NoValue
      Handler: handler.handler
      Code:
        S3Bucket: !Ref DeployBucket
        S3Key: lambda/autonomous-driving-realtime_invoke.zip
      MemorySize: !Ref LambdaMemorySize
      Timeout: !Ref LambdaTimeout
      Role: !GetAtt RealtimeInvokeLambdaRole.Arn
      Environment:
        Variables:
          ENDPOINT_NAME: !Sub "${AWS::StackName}-realtime-endpoint"
          MAX_RETRIES: "3"
          S3_ACCESS_POINT_ALIAS: !Ref S3AccessPointAlias
          AB_TEST_TABLE_NAME: !If [CreateABTesting, !Ref ABTestResultsTable, ""]
          USE_CASE: autonomous-driving
          INFERENCE_TYPE: !Ref InferenceType
          SERVERLESS_INITIAL_TIMEOUT: "60"
          COLD_START_THRESHOLD_MS: "5000"
          MODEL_NOT_READY_RETRY_DELAY: "3"
          MODEL_NOT_READY_MAX_RETRIES: "2"
          STEP_FUNCTIONS_TASK_TIMEOUT: "120"
      LoggingConfig:
        LogGroup: !Ref RealtimeInvokeLogGroup
      Tags:
        - Key: UseCase
          Value: autonomous-driving
        - Key: Phase
          Value: "4"
        - Key: Component
          Value: realtime-inference

  # -----------------------------------------------------------------
  # Inference Comparison Lambda + IAM Role + Log Group + EventBridge Schedule
  # -----------------------------------------------------------------
  InferenceComparisonLogGroup:
    Type: AWS::Logs::LogGroup
    Condition: CreateABTesting
    Properties:
      LogGroupName: !Sub "/aws/lambda/${AWS::StackName}-inference-comparison"
      RetentionInDays: 14

  InferenceComparisonLambdaRole:
    Type: AWS::IAM::Role
    Condition: CreateABTesting
    Properties:
      RoleName: !Sub "${AWS::StackName}-inference-comparison-role"
      AssumeRolePolicyDocument:
        Version: "2012-10-17"
        Statement:
          - Effect: Allow
            Principal:
              Service: lambda.amazonaws.com
            Action: sts:AssumeRole
      ManagedPolicyArns:
        - arn:aws:iam::aws:policy/service-role/AWSLambdaBasicExecutionRole
      Policies:
        - PolicyName: InferenceComparisonPolicy
          PolicyDocument:
            Version: "2012-10-17"
            Statement:
              - Sid: DynamoDBReadWrite
                Effect: Allow
                Action:
                  - dynamodb:Query
                  - dynamodb:PutItem
                  - dynamodb:GetItem
                Resource:
                  - !GetAtt ABTestResultsTable.Arn
                  - !Sub "${ABTestResultsTable.Arn}/index/*"
              - Sid: CloudWatchLogs
                Effect: Allow
                Action:
                  - logs:CreateLogStream
                  - logs:PutLogEvents
                Resource:
                  - !GetAtt InferenceComparisonLogGroup.Arn
                  - !Sub "${InferenceComparisonLogGroup.Arn}:*"
      Tags:
        - Key: UseCase
          Value: autonomous-driving
        - Key: Phase
          Value: "4"
        - Key: Component
          Value: realtime-inference

  InferenceComparisonFunction:
    Type: AWS::Lambda::Function
    Condition: CreateABTesting
    Properties:
      FunctionName: !Sub "${AWS::StackName}-inference-comparison"
      Runtime: python3.13
      SnapStart:
        !If
          - SnapStartEnabled
          - ApplyOn: PublishedVersions
          - !Ref AWS::NoValue
      Handler: handler.handler
      Code:
        S3Bucket: !Ref DeployBucket
        S3Key: lambda/autonomous-driving-inference_comparison.zip
      MemorySize: 512
      Timeout: 120
      Role: !GetAtt InferenceComparisonLambdaRole.Arn
      Environment:
        Variables:
          AB_TEST_TABLE_NAME: !Ref ABTestResultsTable
          ENDPOINT_NAME: !Sub "${AWS::StackName}-realtime-endpoint"
          AGGREGATION_WINDOW_SECONDS: "300"
          RESULT_TTL_DAYS: "30"
          USE_CASE: autonomous-driving
      LoggingConfig:
        LogGroup: !Ref InferenceComparisonLogGroup
      Tags:
        - Key: UseCase
          Value: autonomous-driving
        - Key: Phase
          Value: "4"
        - Key: Component
          Value: realtime-inference

  # EventBridge Schedule Rule (5 分間隔)
  InferenceComparisonScheduleRole:
    Type: AWS::IAM::Role
    Condition: CreateABTesting
    Properties:
      RoleName: !Sub "${AWS::StackName}-inference-comp-sched-role"
      AssumeRolePolicyDocument:
        Version: "2012-10-17"
        Statement:
          - Effect: Allow
            Principal:
              Service: scheduler.amazonaws.com
            Action: sts:AssumeRole
      Policies:
        - PolicyName: InvokeComparisonLambda
          PolicyDocument:
            Version: "2012-10-17"
            Statement:
              - Effect: Allow
                Action:
                  - lambda:InvokeFunction
                Resource:
                  - !GetAtt InferenceComparisonFunction.Arn
      Tags:
        - Key: UseCase
          Value: autonomous-driving
        - Key: Phase
          Value: "4"
        - Key: Component
          Value: realtime-inference

  InferenceComparisonSchedule:
    Type: AWS::Scheduler::Schedule
    Condition: CreateABTesting
    Properties:
      Name: !Sub "${AWS::StackName}-inference-comparison-schedule"
      ScheduleExpression: "rate(5 minutes)"
      FlexibleTimeWindow:
        Mode: "OFF"
      Target:
        Arn: !GetAtt InferenceComparisonFunction.Arn
        RoleArn: !GetAtt InferenceComparisonScheduleRole.Arn
        Input: "{}"

  # -----------------------------------------------------------------
  # DynamoDB ABTestResults Table
  # -----------------------------------------------------------------
  ABTestResultsTable:
    Type: AWS::DynamoDB::Table
    Condition: CreateABTesting
    Properties:
      TableName: !Sub "${AWS::StackName}-ab-test-results"
      AttributeDefinitions:
        - AttributeName: test_id
          AttributeType: S
        - AttributeName: timestamp
          AttributeType: N
      KeySchema:
        - AttributeName: test_id
          KeyType: HASH
        - AttributeName: timestamp
          KeyType: RANGE
      BillingMode: PAY_PER_REQUEST
      SSESpecification:
        SSEEnabled: true
      TimeToLiveSpecification:
        AttributeName: ttl
        Enabled: true
      PointInTimeRecoverySpecification:
        PointInTimeRecoveryEnabled: true
      Tags:
        - Key: UseCase
          Value: autonomous-driving
        - Key: Phase
          Value: "4"
        - Key: Component
          Value: realtime-inference

  # -----------------------------------------------------------------
  # Step Functions Choice State — Real-time vs Batch Transform Routing
  # -----------------------------------------------------------------
  # NOTE: The Step Functions state machine definition above would include
  # a Choice state for routing based on file count threshold when
  # EnableRealtimeEndpoint is "true". The Choice state logic:
  #
  #   "InferenceRouting": {
  #     "Type": "Choice",
  #     "Choices": [
  #       {
  #         "Variable": "$.discovery.file_count",
  #         "NumericLessThan": <RealtimeThreshold>,
  #         "Next": "RealtimeInference"
  #       }
  #     ],
  #     "Default": "BatchTransform"
  #   },
  #   "RealtimeInference": {
  #     "Type": "Task",
  #     "Resource": "<RealtimeInvokeFunction.Arn>",
  #     "ResultPath": "$.inference_result",
  #     "Next": "AnnotationManager"
  #   },
  #   "BatchTransform": {
  #     "Type": "Task",
  #     "Resource": "<SageMakerInvokeFunction.Arn>",
  #     "ResultPath": "$.inference_result",
  #     "Next": "WaitForTransform"
  #   }
  #
  # The actual ASL definition is in the AutonomousDrivingStateMachine
  # resource above. When EnableRealtimeEndpoint is enabled, the workflow
  # routes file_count < RealtimeThreshold to Real-time Endpoint and
  # file_count >= RealtimeThreshold to Batch Transform.

  # =================================================================
  # Phase 4: Model Registry (conditional)
  # =================================================================

  # -----------------------------------------------------------------
  # SageMaker Model Package Group
  # -----------------------------------------------------------------
  ModelPackageGroup:
    Type: AWS::SageMaker::ModelPackageGroup
    Condition: CreateModelRegistry
    Properties:
      ModelPackageGroupName: !Sub "${AWS::StackName}-point-cloud-segmentation"
      ModelPackageGroupDescription: >-
        Point cloud segmentation model family for autonomous driving / ADAS.
        Manages model versions with approval workflow for production deployment.
      Tags:
        - Key: UseCase
          Value: autonomous-driving
        - Key: Phase
          Value: "4"
        - Key: Component
          Value: model-registry

  # =================================================================
  # Phase 6B: Inference Components (scale-to-zero) — conditional
  # =================================================================

  # -----------------------------------------------------------------
  # Inference Component (ManagedInstanceScaling MinInstanceCount=0)
  # Note: ComputeResourceRequirements はインスタンスタイプのキャパシティ内に
  # 収める必要がある。ml.m5.large (2 vCPU, 8GB) の場合、
  # NumberOfCpuCoresRequired <= 2, MinMemoryRequiredInMb <= 8192
  # -----------------------------------------------------------------
  InferenceComponent:
    Type: AWS::SageMaker::InferenceComponent
    Condition: CreateInferenceComponents
    Properties:
      InferenceComponentName: !Ref InferenceComponentName
      EndpointName: !GetAtt RealtimeEndpoint.EndpointName
      VariantName: "primary"
      Specification:
        ModelName: !GetAtt RealtimeSageMakerModel.ModelName
        ComputeResourceRequirements:
          NumberOfCpuCoresRequired: 1
          MinMemoryRequiredInMb: 2048
      RuntimeConfig:
        CopyCount: 1
      Tags:
        - Key: UseCase
          Value: autonomous-driving
        - Key: Phase
          Value: "6B"
        - Key: Component
          Value: inference-components

  # -----------------------------------------------------------------
  # Application Auto Scaling — Inference Components ScalableTarget
  # MinCapacity: 0 で真の scale-to-zero を実現
  # -----------------------------------------------------------------
  ComponentsScalableTarget:
    Type: AWS::ApplicationAutoScaling::ScalableTarget
    Condition: CreateInferenceComponents
    Properties:
      MaxCapacity: !Ref ComponentsMaxInstanceCount
      MinCapacity: !Ref ComponentsMinInstanceCount
      ResourceId: !Sub "inference-component/${InferenceComponentName}"
      RoleARN: !Sub "arn:aws:iam::${AWS::AccountId}:role/aws-service-role/sagemaker.application-autoscaling.amazonaws.com/AWSServiceRoleForApplicationAutoScaling_SageMakerEndpoint"
      ScalableDimension: "sagemaker:inference-component:DesiredCopyCount"
      ServiceNamespace: sagemaker
    DependsOn: InferenceComponent

  # -----------------------------------------------------------------
  # Step Scaling Policy — scale-from-zero トリガー
  # NoCapacityInvocationFailures メトリクスに基づくステップスケーリング
  # -----------------------------------------------------------------
  ComponentsStepScalingPolicy:
    Type: AWS::ApplicationAutoScaling::ScalingPolicy
    Condition: CreateInferenceComponents
    Properties:
      PolicyName: !Sub "${AWS::StackName}-components-step-scaling"
      PolicyType: StepScaling
      ScalingTargetId: !Ref ComponentsScalableTarget
      StepScalingPolicyConfiguration:
        AdjustmentType: ChangeInCapacity
        Cooldown: 120
        MetricAggregationType: Average
        StepAdjustments:
          - MetricIntervalLowerBound: 0
            ScalingAdjustment: 1

  # -----------------------------------------------------------------
  # CloudWatch Alarm — NoCapacityInvocationFailures
  # Inference Component にキャパシティがない場合のアラーム
  # -----------------------------------------------------------------
  ComponentsNoCapacityAlarm:
    Type: AWS::CloudWatch::Alarm
    Condition: CreateInferenceComponents
    Properties:
      AlarmName: !Sub "${AWS::StackName}-components-no-capacity"
      AlarmDescription: >-
        Inference Component にキャパシティがなく呼び出しが失敗した場合に
        scale-from-zero をトリガーする。
      Namespace: AWS/SageMaker
      MetricName: InvocationModelErrors
      Dimensions:
        - Name: EndpointName
          Value: !GetAtt RealtimeEndpoint.EndpointName
        - Name: InferenceComponentName
          Value: !Ref InferenceComponentName
      Statistic: Sum
      Period: 60
      EvaluationPeriods: 1
      Threshold: 1
      ComparisonOperator: GreaterThanOrEqualToThreshold
      TreatMissingData: notBreaching
      AlarmActions:
        - !Ref ComponentsStepScalingPolicy

  # -----------------------------------------------------------------
  # Components Invoke Lambda + IAM Role + Log Group
  # -----------------------------------------------------------------
  ComponentsInvokeLogGroup:
    Type: AWS::Logs::LogGroup
    Condition: CreateInferenceComponents
    Properties:
      LogGroupName: !Sub "/aws/lambda/${AWS::StackName}-components-invoke"
      RetentionInDays: 14

  ComponentsInvokeLambdaRole:
    Type: AWS::IAM::Role
    Condition: CreateInferenceComponents
    Properties:
      RoleName: !Sub "${AWS::StackName}-components-invoke-role"
      AssumeRolePolicyDocument:
        Version: "2012-10-17"
        Statement:
          - Effect: Allow
            Principal:
              Service: lambda.amazonaws.com
            Action: sts:AssumeRole
      ManagedPolicyArns:
        - arn:aws:iam::aws:policy/service-role/AWSLambdaBasicExecutionRole
      Policies:
        - PolicyName: ComponentsInvokePolicy
          PolicyDocument:
            Version: "2012-10-17"
            Statement:
              - Sid: SageMakerInvokeEndpoint
                Effect: Allow
                Action:
                  - sagemaker:InvokeEndpoint
                Resource:
                  - !Sub "arn:aws:sagemaker:${AWS::Region}:${AWS::AccountId}:endpoint/${AWS::StackName}-realtime-endpoint"
                  - !Sub "arn:aws:sagemaker:${AWS::Region}:${AWS::AccountId}:inference-component/${InferenceComponentName}"
              - Sid: S3AccessPointRead
                Effect: Allow
                Action:
                  - s3:GetObject
                Resource:
                  - !Sub "arn:aws:s3:::${S3AccessPointAlias}/*"
              - Sid: CloudWatchLogs
                Effect: Allow
                Action:
                  - logs:CreateLogStream
                  - logs:PutLogEvents
                Resource:
                  - !GetAtt ComponentsInvokeLogGroup.Arn
                  - !Sub "${ComponentsInvokeLogGroup.Arn}:*"
      Tags:
        - Key: UseCase
          Value: autonomous-driving
        - Key: Phase
          Value: "6B"
        - Key: Component
          Value: inference-components

  ComponentsInvokeFunction:
    Type: AWS::Lambda::Function
    Condition: CreateInferenceComponents
    Properties:
      FunctionName: !Sub "${AWS::StackName}-components-invoke"
      Runtime: python3.13
      SnapStart:
        !If
          - SnapStartEnabled
          - ApplyOn: PublishedVersions
          - !Ref AWS::NoValue
      Handler: handler.handler
      Code:
        S3Bucket: !Ref DeployBucket
        S3Key: lambda/autonomous-driving-components_invoke.zip
      MemorySize: !Ref LambdaMemorySize
      Timeout: !Ref LambdaTimeout
      Role: !GetAtt ComponentsInvokeLambdaRole.Arn
      Environment:
        Variables:
          ENDPOINT_NAME: !Sub "${AWS::StackName}-realtime-endpoint"
          INFERENCE_COMPONENT_NAME: !Ref InferenceComponentName
          MAX_RETRIES: "3"
          S3_ACCESS_POINT_ALIAS: !Ref S3AccessPointAlias
          USE_CASE: autonomous-driving
          MODEL_NOT_READY_RETRY_DELAY: "5"
          MODEL_NOT_READY_MAX_RETRIES: "10"
          MODEL_NOT_READY_MAX_DELAY: "30"
          STEP_FUNCTIONS_TASK_TIMEOUT: !Sub "${ComponentsScaleFromZeroTimeout}"
      LoggingConfig:
        LogGroup: !Ref ComponentsInvokeLogGroup
      Tags:
        - Key: UseCase
          Value: autonomous-driving
        - Key: Phase
          Value: "6B"
        - Key: Component
          Value: inference-components
