genomics-pipeline/template-deploy.yaml
AWSTemplateFormatVersion: "2010-09-09"
Description: >-
  UC7: ゲノミクス / バイオインフォマティクス（品質チェック・バリアントコール集計）
  FSx for NetApp ONTAP S3 Access Points を活用した FASTQ/BAM/VCF ファイルの
  品質チェック、バリアントコール集計、Athena 分析、Bedrock + Comprehend Medical
  による研究サマリー生成のサーバーレスワークフロー。

# =====================================================================
# Parameters — Phase 1 共通 + Phase 2 拡張 + UC7 固有
# =====================================================================
Parameters:
  DeployBucket:
    Type: String
    Description: S3 bucket containing Lambda deployment packages

  # --- Phase 1 共通パラメータ ---
  S3AccessPointAlias:
    Type: String
    Description: FSx ONTAP S3 Access Point Alias (入力読み取り用)
    AllowedPattern: "^[a-z0-9-]+-ext-s3alias$"

  OntapSecretName:
    Type: String
    Description: ONTAP REST API 認証情報の Secrets Manager シークレット名

  OntapManagementIp:
    Type: String
    Description: ONTAP クラスタ管理 IP アドレス
    AllowedPattern: "^\\d{1,3}\\.\\d{1,3}\\.\\d{1,3}\\.\\d{1,3}$"

  SvmUuid:
    Type: String
    Description: ONTAP SVM UUID

  ScheduleExpression:
    Type: String
    Default: "rate(1 hour)"
    Description: EventBridge Scheduler のスケジュール式

  VpcId:
    Type: AWS::EC2::VPC::Id
    Description: Discovery Lambda と VPC Endpoints を配置する VPC ID

  PrivateSubnetIds:
    Type: List<AWS::EC2::Subnet::Id>
    Description: Discovery Lambda を配置するプライベートサブネット ID リスト

  OutputBucketName:
    Type: String
    Default: ""
    Description: S3 出力バケット名（空の場合は自動生成）

  NotificationEmail:
    Type: String
    Description: SNS 通知の送信先メールアドレス

  # --- Phase 2 拡張パラメータ ---
  MapConcurrency:
    Type: Number
    Default: 10
    MinValue: 1
    MaxValue: 40
    Description: Step Functions Map ステートの最大同時実行数

  LambdaMemorySize:
    Type: Number
    Default: 256
    MinValue: 128
    MaxValue: 10240
    Description: Lambda 関数のメモリサイズ (MB)

  LambdaTimeout:
    Type: Number
    Default: 300
    MinValue: 30
    MaxValue: 900
    Description: Lambda 関数のタイムアウト (秒)

  EnableCloudWatchAlarms:
    Type: String
    Default: "false"
    AllowedValues: ["true", "false"]
    Description: CloudWatch Alarms を有効化する

  EnableVpcEndpoints:
    Type: String
    Default: "false"
    AllowedValues: ["true", "false"]
    Description: Interface VPC Endpoints を有効化する（月額 ~$28.80）

  PrivateRouteTableIds:
    Type: CommaDelimitedList
    Default: ""
    Description: プライベートサブネットのルートテーブル ID リスト（S3 Gateway Endpoint 用。空の場合は S3 Gateway Endpoint を作成しない）

  # --- UC7 固有パラメータ ---
  GlueDatabaseName:
    Type: String
    Default: ""
    Description: Glue Data Catalog データベース名（空の場合はスタック名ベースで自動生成）

  GlueTableName:
    Type: String
    Default: ""
    Description: Glue Data Catalog テーブル名（空の場合はスタック名ベースで自動生成）

  AthenaWorkgroupName:
    Type: String
    Default: ""
    Description: Athena ワークグループ名（空の場合はスタック名ベースで自動生成）

  BedrockModelId:
    Type: String
    Default: "amazon.nova-lite-v1:0"
    Description: Bedrock モデル ID（研究サマリー生成用）

  CrossRegion:
    Type: String
    Default: "us-east-1"
    Description: Comprehend Medical API のルーティング先リージョン（ap-northeast-1 非対応のため）

  QcSampleSize:
    Type: Number
    Default: 10000
    MinValue: 100
    MaxValue: 1000000
    Description: FASTQ QC で読み取るサンプルリード数

  QualityThreshold:
    Type: Number
    Default: 20
    MinValue: 0
    MaxValue: 60
    Description: 品質スコアの閾値（この値未満のサンプルをフラグ）

  EnableSnapStart:
    Type: String
    Default: "false"
    AllowedValues: ["true", "false"]
    Description: Lambda SnapStart を有効化する（コールドスタート削減）

# =====================================================================
# Conditions
# =====================================================================
Conditions:
  CreateCloudWatchAlarms:
    !Equals [!Ref EnableCloudWatchAlarms, "true"]
  CreateVpcEndpoints:
    !Equals [!Ref EnableVpcEndpoints, "true"]
  CreateS3GatewayEndpoint:
    !And
      - !Condition CreateVpcEndpoints
      - !Not [!Equals [!Select [0, !Ref PrivateRouteTableIds], ""]]
  UseAutoOutputBucket:
    !Equals [!Ref OutputBucketName, ""]
  UseAutoGlueDatabase:
    !Equals [!Ref GlueDatabaseName, ""]
  UseAutoGlueTable:
    !Equals [!Ref GlueTableName, ""]
  UseAutoAthenaWorkgroup:
    !Equals [!Ref AthenaWorkgroupName, ""]

  SnapStartEnabled:
    !Equals [!Ref EnableSnapStart, "true"]

# =====================================================================
# Resources
# =====================================================================
Resources:

  # -----------------------------------------------------------------
  # S3 Output Bucket (SSE-KMS)
  # 品質メトリクス JSON、バリアント統計、Athena 結果、研究サマリーの出力先。
  # -----------------------------------------------------------------
  OutputBucket:
    Type: AWS::S3::Bucket
    Properties:
      BucketName: !If
        - UseAutoOutputBucket
        - !Sub "${AWS::StackName}-output-${AWS::AccountId}"
        - !Ref OutputBucketName
      BucketEncryption:
        ServerSideEncryptionConfiguration:
          - ServerSideEncryptionByDefault:
              SSEAlgorithm: aws:kms
      PublicAccessBlockConfiguration:
        BlockPublicAcls: true
        BlockPublicPolicy: true
        IgnorePublicAcls: true
        RestrictPublicBuckets: true
      VersioningConfiguration:
        Status: Enabled
      Tags:
        - Key: UseCase
          Value: genomics-pipeline

  # -----------------------------------------------------------------
  # SNS Topic + Email Subscription
  # -----------------------------------------------------------------
  NotificationTopic:
    Type: AWS::SNS::Topic
    Properties:
      TopicName: !Sub "${AWS::StackName}-notifications"
      KmsMasterKeyId: alias/aws/sns

  EmailSubscription:
    Type: AWS::SNS::Subscription
    Properties:
      TopicArn: !Ref NotificationTopic
      Protocol: email
      Endpoint: !Ref NotificationEmail

  # -----------------------------------------------------------------
  # Lambda Security Group (Discovery Lambda 用 — VPC 内)
  # -----------------------------------------------------------------
  LambdaSecurityGroup:
    Type: AWS::EC2::SecurityGroup
    Properties:
      GroupDescription: !Sub "${AWS::StackName} - Discovery Lambda security group"
      VpcId: !Ref VpcId
      SecurityGroupEgress:
        - IpProtocol: tcp
          FromPort: 443
          ToPort: 443
          CidrIp: 0.0.0.0/0
          Description: Allow HTTPS outbound
      Tags:
        - Key: Name
          Value: !Sub "${AWS::StackName}-lambda-sg"

  # -----------------------------------------------------------------
  # VPC Endpoint Security Group (conditional)
  # -----------------------------------------------------------------
  VpcEndpointSecurityGroup:
    Type: AWS::EC2::SecurityGroup
    Condition: CreateVpcEndpoints
    Properties:
      GroupDescription: !Sub "${AWS::StackName} - VPC Endpoints security group"
      VpcId: !Ref VpcId
      SecurityGroupIngress:
        - IpProtocol: tcp
          FromPort: 443
          ToPort: 443
          SourceSecurityGroupId: !Ref LambdaSecurityGroup
          Description: Allow HTTPS from Lambda
      Tags:
        - Key: Name
          Value: !Sub "${AWS::StackName}-vpce-sg"

  # -----------------------------------------------------------------
  # Interface VPC Endpoints (conditional)
  # Discovery Lambda が VPC 内から AWS サービスにアクセスするために必要
  # -----------------------------------------------------------------
  SecretsManagerEndpoint:
    Type: AWS::EC2::VPCEndpoint
    Condition: CreateVpcEndpoints
    Properties:
      VpcId: !Ref VpcId
      ServiceName: !Sub "com.amazonaws.${AWS::Region}.secretsmanager"
      VpcEndpointType: Interface
      SubnetIds: !Ref PrivateSubnetIds
      SecurityGroupIds:
        - !Ref VpcEndpointSecurityGroup
      PrivateDnsEnabled: true

  FsxEndpoint:
    Type: AWS::EC2::VPCEndpoint
    Condition: CreateVpcEndpoints
    Properties:
      VpcId: !Ref VpcId
      ServiceName: !Sub "com.amazonaws.${AWS::Region}.fsx"
      VpcEndpointType: Interface
      SubnetIds: !Ref PrivateSubnetIds
      SecurityGroupIds:
        - !Ref VpcEndpointSecurityGroup
      PrivateDnsEnabled: true

  CloudWatchEndpoint:
    Type: AWS::EC2::VPCEndpoint
    Condition: CreateVpcEndpoints
    Properties:
      VpcId: !Ref VpcId
      ServiceName: !Sub "com.amazonaws.${AWS::Region}.monitoring"
      VpcEndpointType: Interface
      SubnetIds: !Ref PrivateSubnetIds
      SecurityGroupIds:
        - !Ref VpcEndpointSecurityGroup
      PrivateDnsEnabled: true

  CloudWatchLogsEndpoint:
    Type: AWS::EC2::VPCEndpoint
    Condition: CreateVpcEndpoints
    Properties:
      VpcId: !Ref VpcId
      ServiceName: !Sub "com.amazonaws.${AWS::Region}.logs"
      VpcEndpointType: Interface
      SubnetIds: !Ref PrivateSubnetIds
      SecurityGroupIds:
        - !Ref VpcEndpointSecurityGroup
      PrivateDnsEnabled: true

  S3GatewayEndpoint:
    Type: AWS::EC2::VPCEndpoint
    Condition: CreateS3GatewayEndpoint
    Properties:
      VpcId: !Ref VpcId
      ServiceName: !Sub "com.amazonaws.${AWS::Region}.s3"
      VpcEndpointType: Gateway
      RouteTableIds: !Ref PrivateRouteTableIds

  # -----------------------------------------------------------------
  # CloudWatch Log Groups (14 day retention)
  # Summary Lambda のログは PHI（保護対象医療情報）を含む可能性があるため、
  # 機密データのログ出力を制限する。
  # -----------------------------------------------------------------
  DiscoveryLogGroup:
    Type: AWS::Logs::LogGroup
    Properties:
      LogGroupName: !Sub "/aws/lambda/${AWS::StackName}-discovery"
      RetentionInDays: 14

  QcLogGroup:
    Type: AWS::Logs::LogGroup
    Properties:
      LogGroupName: !Sub "/aws/lambda/${AWS::StackName}-qc"
      RetentionInDays: 14

  VariantAggregationLogGroup:
    Type: AWS::Logs::LogGroup
    Properties:
      LogGroupName: !Sub "/aws/lambda/${AWS::StackName}-variant-aggregation"
      RetentionInDays: 14

  AthenaAnalysisLogGroup:
    Type: AWS::Logs::LogGroup
    Properties:
      LogGroupName: !Sub "/aws/lambda/${AWS::StackName}-athena-analysis"
      RetentionInDays: 14

  SummaryLogGroup:
    Type: AWS::Logs::LogGroup
    Properties:
      LogGroupName: !Sub "/aws/lambda/${AWS::StackName}-summary"
      RetentionInDays: 14
      # PHI 保護: Summary Lambda は Comprehend Medical でバイオメディカル
      # エンティティを抽出するため、ログに機密データが含まれる可能性がある。
      # Lambda 関数側で機密データのログ出力を抑制する。

  # -----------------------------------------------------------------
  # IAM Roles — least-privilege per Lambda
  # -----------------------------------------------------------------

  # Discovery Lambda: VPC 内、S3 AP 読み取り + ONTAP API アクセス
  DiscoveryLambdaRole:
    Type: AWS::IAM::Role
    Properties:
      RoleName: !Sub "${AWS::StackName}-discovery-role"
      AssumeRolePolicyDocument:
        Version: "2012-10-17"
        Statement:
          - Effect: Allow
            Principal:
              Service: lambda.amazonaws.com
            Action: sts:AssumeRole
      ManagedPolicyArns:
        - arn:aws:iam::aws:policy/service-role/AWSLambdaVPCAccessExecutionRole
      Policies:
        - PolicyName: DiscoveryPolicy
          PolicyDocument:
            Version: "2012-10-17"
            Statement:
              - Sid: S3AccessPointRead
                Effect: Allow
                Action:
                  - s3:ListBucket
                  - s3:GetObject
                  - s3:GetBucketLocation
                Resource:
                  - !Sub "arn:aws:s3:::${S3AccessPointAlias}"
                  - !Sub "arn:aws:s3:::${S3AccessPointAlias}/*"
              - Sid: S3AccessPointWrite
                Effect: Allow
                Action:
                  - s3:PutObject
                Resource:
                  - !Sub "arn:aws:s3:::${S3AccessPointAlias}/*"
              - Sid: SecretsManager
                Effect: Allow
                Action:
                  - secretsmanager:GetSecretValue
                Resource:
                  - !Sub "arn:aws:secretsmanager:${AWS::Region}:${AWS::AccountId}:secret:${OntapSecretName}*"
              - Sid: FsxDescribe
                Effect: Allow
                Action:
                  - fsx:DescribeFileSystems
                  - fsx:DescribeVolumes
                  - fsx:DescribeStorageVirtualMachines
                Resource: "*"
              - Sid: CloudWatchLogs
                Effect: Allow
                Action:
                  - logs:CreateLogStream
                  - logs:PutLogEvents
                Resource:
                  - !GetAtt DiscoveryLogGroup.Arn
                  - !Sub "${DiscoveryLogGroup.Arn}:*"

  # QC Lambda: VPC 外、S3 AP ストリーミング読み取り + S3 出力バケット書き込み
  QcLambdaRole:
    Type: AWS::IAM::Role
    Properties:
      RoleName: !Sub "${AWS::StackName}-qc-role"
      AssumeRolePolicyDocument:
        Version: "2012-10-17"
        Statement:
          - Effect: Allow
            Principal:
              Service: lambda.amazonaws.com
            Action: sts:AssumeRole
      ManagedPolicyArns:
        - arn:aws:iam::aws:policy/service-role/AWSLambdaBasicExecutionRole
      Policies:
        - PolicyName: QcPolicy
          PolicyDocument:
            Version: "2012-10-17"
            Statement:
              - Sid: S3AccessPointRead
                Effect: Allow
                Action:
                  - s3:GetObject
                Resource:
                  - !Sub "arn:aws:s3:::${S3AccessPointAlias}/*"
              - Sid: S3OutputBucketWrite
                Effect: Allow
                Action:
                  - s3:PutObject
                Resource:
                  - !Sub "${OutputBucket.Arn}/*"
              - Sid: CloudWatchLogs
                Effect: Allow
                Action:
                  - logs:CreateLogStream
                  - logs:PutLogEvents
                Resource:
                  - !GetAtt QcLogGroup.Arn
                  - !Sub "${QcLogGroup.Arn}:*"

  # VariantAggregation Lambda: VPC 外、S3 AP 読み取り + S3 出力バケット書き込み
  VariantAggregationLambdaRole:
    Type: AWS::IAM::Role
    Properties:
      RoleName: !Sub "${AWS::StackName}-variant-aggregation-role"
      AssumeRolePolicyDocument:
        Version: "2012-10-17"
        Statement:
          - Effect: Allow
            Principal:
              Service: lambda.amazonaws.com
            Action: sts:AssumeRole
      ManagedPolicyArns:
        - arn:aws:iam::aws:policy/service-role/AWSLambdaBasicExecutionRole
      Policies:
        - PolicyName: VariantAggregationPolicy
          PolicyDocument:
            Version: "2012-10-17"
            Statement:
              - Sid: S3AccessPointRead
                Effect: Allow
                Action:
                  - s3:GetObject
                Resource:
                  - !Sub "arn:aws:s3:::${S3AccessPointAlias}/*"
              - Sid: S3OutputBucketWrite
                Effect: Allow
                Action:
                  - s3:PutObject
                Resource:
                  - !Sub "${OutputBucket.Arn}/*"
              - Sid: CloudWatchLogs
                Effect: Allow
                Action:
                  - logs:CreateLogStream
                  - logs:PutLogEvents
                Resource:
                  - !GetAtt VariantAggregationLogGroup.Arn
                  - !Sub "${VariantAggregationLogGroup.Arn}:*"

  # AthenaAnalysis Lambda: VPC 外、Glue + Athena + S3 出力バケット
  AthenaAnalysisLambdaRole:
    Type: AWS::IAM::Role
    Properties:
      RoleName: !Sub "${AWS::StackName}-athena-analysis-role"
      AssumeRolePolicyDocument:
        Version: "2012-10-17"
        Statement:
          - Effect: Allow
            Principal:
              Service: lambda.amazonaws.com
            Action: sts:AssumeRole
      ManagedPolicyArns:
        - arn:aws:iam::aws:policy/service-role/AWSLambdaBasicExecutionRole
      Policies:
        - PolicyName: AthenaAnalysisPolicy
          PolicyDocument:
            Version: "2012-10-17"
            Statement:
              - Sid: Glue
                Effect: Allow
                Action:
                  - glue:GetTable
                  - glue:CreateTable
                  - glue:UpdateTable
                  - glue:GetDatabase
                Resource:
                  - !Sub "arn:aws:glue:${AWS::Region}:${AWS::AccountId}:catalog"
                  - !Sub "arn:aws:glue:${AWS::Region}:${AWS::AccountId}:database/*"
                  - !Sub "arn:aws:glue:${AWS::Region}:${AWS::AccountId}:table/*/*"
              - Sid: Athena
                Effect: Allow
                Action:
                  - athena:StartQueryExecution
                  - athena:GetQueryExecution
                  - athena:GetQueryResults
                  - athena:StopQueryExecution
                Resource:
                  - !Sub "arn:aws:athena:${AWS::Region}:${AWS::AccountId}:workgroup/*"
              - Sid: S3OutputBucket
                Effect: Allow
                Action:
                  - s3:GetObject
                  - s3:PutObject
                  - s3:GetBucketLocation
                  - s3:ListBucket
                Resource:
                  - !GetAtt OutputBucket.Arn
                  - !Sub "${OutputBucket.Arn}/*"
              - Sid: CloudWatchLogs
                Effect: Allow
                Action:
                  - logs:CreateLogStream
                  - logs:PutLogEvents
                Resource:
                  - !GetAtt AthenaAnalysisLogGroup.Arn
                  - !Sub "${AthenaAnalysisLogGroup.Arn}:*"

  # Summary Lambda: VPC 外、Bedrock + Comprehend Medical (Cross-Region) + S3 出力 + SNS
  # PHI 保護: 機密バイオメディカルデータのログ出力を制限
  SummaryLambdaRole:
    Type: AWS::IAM::Role
    Properties:
      RoleName: !Sub "${AWS::StackName}-summary-role"
      AssumeRolePolicyDocument:
        Version: "2012-10-17"
        Statement:
          - Effect: Allow
            Principal:
              Service: lambda.amazonaws.com
            Action: sts:AssumeRole
      ManagedPolicyArns:
        - arn:aws:iam::aws:policy/service-role/AWSLambdaBasicExecutionRole
      Policies:
        - PolicyName: SummaryPolicy
          PolicyDocument:
            Version: "2012-10-17"
            Statement:
              - Sid: Bedrock
                Effect: Allow
                Action:
                  - bedrock:InvokeModel
                Resource:
                  - !Sub "arn:aws:bedrock:${AWS::Region}::foundation-model/${BedrockModelId}"
              - Sid: ComprehendMedicalCrossRegion
                Effect: Allow
                Action:
                  - comprehendmedical:DetectEntitiesV2
                Resource: "*"
                Condition:
                  StringEquals:
                    "aws:RequestedRegion": !Ref CrossRegion
              - Sid: S3OutputBucketWrite
                Effect: Allow
                Action:
                  - s3:PutObject
                Resource:
                  - !Sub "${OutputBucket.Arn}/*"
              - Sid: SNSPublish
                Effect: Allow
                Action:
                  - sns:Publish
                Resource:
                  - !Ref NotificationTopic
              - Sid: CloudWatchLogs
                Effect: Allow
                Action:
                  - logs:CreateLogStream
                  - logs:PutLogEvents
                Resource:
                  - !GetAtt SummaryLogGroup.Arn
                  - !Sub "${SummaryLogGroup.Arn}:*"

  # -----------------------------------------------------------------
  # Lambda Functions
  # Discovery: VPC 内 (ONTAP API アクセスが必要)
  # QC / VariantAggregation / AthenaAnalysis / Summary: VPC 外
  # -----------------------------------------------------------------
  DiscoveryFunction:
    Type: AWS::Lambda::Function
    Properties:
      FunctionName: !Sub "${AWS::StackName}-discovery"
      Runtime: python3.13
      SnapStart:
        !If
          - SnapStartEnabled
          - ApplyOn: PublishedVersions
          - !Ref AWS::NoValue
      Handler: handler.handler
      Code:
        S3Bucket: !Ref DeployBucket
        S3Key: lambda/genomics-pipeline-discovery.zip
      MemorySize: !Ref LambdaMemorySize
      Timeout: !Ref LambdaTimeout
      Role: !GetAtt DiscoveryLambdaRole.Arn
      VpcConfig:
        SecurityGroupIds:
          - !Ref LambdaSecurityGroup
        SubnetIds: !Ref PrivateSubnetIds
      Environment:
        Variables:
          S3_ACCESS_POINT: !Ref S3AccessPointAlias
          PREFIX_FILTER: ""
          SUFFIX_FILTER: ".fastq,.fastq.gz,.bam,.vcf,.vcf.gz"
          ONTAP_SECRET_NAME: !Ref OntapSecretName
          ONTAP_MANAGEMENT_IP: !Ref OntapManagementIp
          SVM_UUID: !Ref SvmUuid
          VERIFY_SSL: "false"
      LoggingConfig:
        LogGroup: !Ref DiscoveryLogGroup
      Tags:
        - Key: UseCase
          Value: genomics-pipeline

  QcFunction:
    Type: AWS::Lambda::Function
    Properties:
      FunctionName: !Sub "${AWS::StackName}-qc"
      Runtime: python3.13
      SnapStart:
        !If
          - SnapStartEnabled
          - ApplyOn: PublishedVersions
          - !Ref AWS::NoValue
      Handler: handler.handler
      Code:
        S3Bucket: !Ref DeployBucket
        S3Key: lambda/genomics-pipeline-qc.zip
      # QC Lambda は TB クラスの FASTQ ファイルをストリーミング処理するため、
      # デフォルトメモリを 512 MB に設定
      MemorySize: 512
      Timeout: !Ref LambdaTimeout
      Role: !GetAtt QcLambdaRole.Arn
      Environment:
        Variables:
          S3_ACCESS_POINT: !Ref S3AccessPointAlias
          OUTPUT_BUCKET: !Ref OutputBucket
          QC_SAMPLE_SIZE: !Ref QcSampleSize
          QUALITY_THRESHOLD: !Ref QualityThreshold
      LoggingConfig:
        LogGroup: !Ref QcLogGroup
      Tags:
        - Key: UseCase
          Value: genomics-pipeline

  VariantAggregationFunction:
    Type: AWS::Lambda::Function
    Properties:
      FunctionName: !Sub "${AWS::StackName}-variant-aggregation"
      Runtime: python3.13
      SnapStart:
        !If
          - SnapStartEnabled
          - ApplyOn: PublishedVersions
          - !Ref AWS::NoValue
      Handler: handler.handler
      Code:
        S3Bucket: !Ref DeployBucket
        S3Key: lambda/genomics-pipeline-variant_aggregation.zip
      MemorySize: !Ref LambdaMemorySize
      Timeout: !Ref LambdaTimeout
      Role: !GetAtt VariantAggregationLambdaRole.Arn
      Environment:
        Variables:
          S3_ACCESS_POINT: !Ref S3AccessPointAlias
          OUTPUT_BUCKET: !Ref OutputBucket
      LoggingConfig:
        LogGroup: !Ref VariantAggregationLogGroup
      Tags:
        - Key: UseCase
          Value: genomics-pipeline

  AthenaAnalysisFunction:
    Type: AWS::Lambda::Function
    Properties:
      FunctionName: !Sub "${AWS::StackName}-athena-analysis"
      Runtime: python3.13
      SnapStart:
        !If
          - SnapStartEnabled
          - ApplyOn: PublishedVersions
          - !Ref AWS::NoValue
      Handler: handler.handler
      Code:
        S3Bucket: !Ref DeployBucket
        S3Key: lambda/genomics-pipeline-athena_analysis.zip
      MemorySize: !Ref LambdaMemorySize
      Timeout: !Ref LambdaTimeout
      Role: !GetAtt AthenaAnalysisLambdaRole.Arn
      Environment:
        Variables:
          GLUE_DATABASE: !If
            - UseAutoGlueDatabase
            - !Sub "${AWS::StackName}-db"
            - !Ref GlueDatabaseName
          GLUE_TABLE: !If
            - UseAutoGlueTable
            - !Sub "${AWS::StackName}-genomics-metrics"
            - !Ref GlueTableName
          ATHENA_WORKGROUP: !If
            - UseAutoAthenaWorkgroup
            - !Sub "${AWS::StackName}-workgroup"
            - !Ref AthenaWorkgroupName
          OUTPUT_BUCKET: !Ref OutputBucket
          QUALITY_THRESHOLD: !Ref QualityThreshold
      LoggingConfig:
        LogGroup: !Ref AthenaAnalysisLogGroup
      Tags:
        - Key: UseCase
          Value: genomics-pipeline

  SummaryFunction:
    Type: AWS::Lambda::Function
    Properties:
      FunctionName: !Sub "${AWS::StackName}-summary"
      Runtime: python3.13
      SnapStart:
        !If
          - SnapStartEnabled
          - ApplyOn: PublishedVersions
          - !Ref AWS::NoValue
      Handler: handler.handler
      Code:
        S3Bucket: !Ref DeployBucket
        S3Key: lambda/genomics-pipeline-summary.zip
      MemorySize: !Ref LambdaMemorySize
      Timeout: !Ref LambdaTimeout
      Role: !GetAtt SummaryLambdaRole.Arn
      Environment:
        Variables:
          OUTPUT_BUCKET: !Ref OutputBucket
          BEDROCK_MODEL_ID: !Ref BedrockModelId
          SNS_TOPIC_ARN: !Ref NotificationTopic
          CROSS_REGION: !Ref CrossRegion
          # PHI 保護: LOG_PHI_DATA=false により、Summary Lambda は
          # Comprehend Medical の検出結果（遺伝子名、疾患名等）を
          # CloudWatch Logs に出力しない
          LOG_PHI_DATA: "false"
      LoggingConfig:
        LogGroup: !Ref SummaryLogGroup
      Tags:
        - Key: UseCase
          Value: genomics-pipeline

  # -----------------------------------------------------------------
  # Glue Database + Table
  # ゲノミクス品質メトリクス・バリアント統計の外部テーブル
  # -----------------------------------------------------------------
  GlueDatabase:
    Type: AWS::Glue::Database
    Properties:
      CatalogId: !Ref AWS::AccountId
      DatabaseInput:
        Name: !If
          - UseAutoGlueDatabase
          - !Sub "${AWS::StackName}-db"
          - !Ref GlueDatabaseName
        Description: Genomics pipeline quality metrics and variant statistics catalog

  GlueTable:
    Type: AWS::Glue::Table
    DependsOn: GlueDatabase
    Properties:
      CatalogId: !Ref AWS::AccountId
      DatabaseName: !If
        - UseAutoGlueDatabase
        - !Sub "${AWS::StackName}-db"
        - !Ref GlueDatabaseName
      TableInput:
        Name: !If
          - UseAutoGlueTable
          - !Sub "${AWS::StackName}-genomics-metrics"
          - !Ref GlueTableName
        TableType: EXTERNAL_TABLE
        StorageDescriptor:
          Columns:
            - Name: file_key
              Type: string
            - Name: file_type
              Type: string
            - Name: total_reads
              Type: bigint
            - Name: average_quality_score
              Type: double
            - Name: gc_content_percentage
              Type: double
            - Name: sequence_length_distribution
              Type: "struct<min:int,max:int,mean:double>"
            - Name: pass_filter_rate
              Type: double
            - Name: total_variants
              Type: bigint
            - Name: snp_count
              Type: bigint
            - Name: indel_count
              Type: bigint
            - Name: ti_tv_ratio
              Type: double
            - Name: het_hom_ratio
              Type: double
            - Name: extracted_at
              Type: string
          Location: !Sub "s3://${OutputBucket}/metrics/"
          InputFormat: org.apache.hadoop.mapred.TextInputFormat
          OutputFormat: org.apache.hadoop.hive.ql.io.HiveIgnoreKeyTextOutputFormat
          SerdeInfo:
            SerializationLibrary: org.openx.data.jsonserde.JsonSerDe

  # -----------------------------------------------------------------
  # Athena Workgroup
  # -----------------------------------------------------------------
  AthenaWorkgroup:
    Type: AWS::Athena::WorkGroup
    Properties:
      Name: !If
        - UseAutoAthenaWorkgroup
        - !Sub "${AWS::StackName}-workgroup"
        - !Ref AthenaWorkgroupName
      State: ENABLED
      WorkGroupConfiguration:
        ResultConfiguration:
          OutputLocation: !Sub "s3://${OutputBucket}/athena-results/"
        EnforceWorkGroupConfiguration: true
        PublishCloudWatchMetricsEnabled: true

  # -----------------------------------------------------------------
  # Step Functions State Machine
  # Discovery → Parallel(QC Map, VariantAggregation Map) → AthenaAnalysis → Summary
  # -----------------------------------------------------------------
  StateMachineRole:
    Type: AWS::IAM::Role
    Properties:
      RoleName: !Sub "${AWS::StackName}-sfn-role"
      AssumeRolePolicyDocument:
        Version: "2012-10-17"
        Statement:
          - Effect: Allow
            Principal:
              Service: states.amazonaws.com
            Action: sts:AssumeRole
      Policies:
        - PolicyName: StepFunctionsPolicy
          PolicyDocument:
            Version: "2012-10-17"
            Statement:
              - Sid: InvokeLambda
                Effect: Allow
                Action:
                  - lambda:InvokeFunction
                Resource:
                  - !GetAtt DiscoveryFunction.Arn
                  - !GetAtt QcFunction.Arn
                  - !GetAtt VariantAggregationFunction.Arn
                  - !GetAtt AthenaAnalysisFunction.Arn
                  - !GetAtt SummaryFunction.Arn

  GenomicsStateMachine:
    Type: AWS::StepFunctions::StateMachine
    Properties:
      StateMachineName: !Sub "${AWS::StackName}-workflow"
      RoleArn: !GetAtt StateMachineRole.Arn
      DefinitionString: !Sub |
        {
          "Comment": "Genomics Pipeline - QC and Variant Aggregation Workflow",
          "StartAt": "Discovery",
          "States": {
            "Discovery": {
              "Type": "Task",
              "Resource": "${DiscoveryFunction.Arn}",
              "ResultPath": "$.discovery",
              "Next": "ParallelProcessing",
              "Retry": [
                {
                  "ErrorEquals": ["States.TaskFailed"],
                  "IntervalSeconds": 5,
                  "MaxAttempts": 2,
                  "BackoffRate": 2.0
                }
              ]
            },
            "ParallelProcessing": {
              "Type": "Parallel",
              "ResultPath": "$.parallel_results",
              "Next": "AthenaAnalysis",
              "Branches": [
                {
                  "StartAt": "QcMap",
                  "States": {
                    "QcMap": {
                      "Type": "Map",
                      "ItemsPath": "$.discovery.fastq_objects",
                      "MaxConcurrency": ${MapConcurrency},
                      "ResultPath": "$.qc_results",
                      "ItemProcessor": {
                        "ProcessorConfig": {
                          "Mode": "INLINE"
                        },
                        "StartAt": "RunQc",
                        "States": {
                          "RunQc": {
                            "Type": "Task",
                            "Resource": "${QcFunction.Arn}",
                            "Retry": [
                              {
                                "ErrorEquals": ["States.TaskFailed"],
                                "IntervalSeconds": 10,
                                "MaxAttempts": 3,
                                "BackoffRate": 2.0
                              }
                            ],
                            "Catch": [
                              {
                                "ErrorEquals": ["States.ALL"],
                                "ResultPath": "$.error",
                                "Next": "MarkQcFailed"
                              }
                            ],
                            "End": true
                          },
                          "MarkQcFailed": {
                            "Type": "Pass",
                            "Result": {"status": "FAILED"},
                            "End": true
                          }
                        }
                      },
                      "End": true
                    }
                  }
                },
                {
                  "StartAt": "VariantAggregationMap",
                  "States": {
                    "VariantAggregationMap": {
                      "Type": "Map",
                      "ItemsPath": "$.discovery.vcf_objects",
                      "MaxConcurrency": ${MapConcurrency},
                      "ResultPath": "$.variant_results",
                      "ItemProcessor": {
                        "ProcessorConfig": {
                          "Mode": "INLINE"
                        },
                        "StartAt": "RunVariantAggregation",
                        "States": {
                          "RunVariantAggregation": {
                            "Type": "Task",
                            "Resource": "${VariantAggregationFunction.Arn}",
                            "Retry": [
                              {
                                "ErrorEquals": ["States.TaskFailed"],
                                "IntervalSeconds": 10,
                                "MaxAttempts": 3,
                                "BackoffRate": 2.0
                              }
                            ],
                            "Catch": [
                              {
                                "ErrorEquals": ["States.ALL"],
                                "ResultPath": "$.error",
                                "Next": "MarkVariantFailed"
                              }
                            ],
                            "End": true
                          },
                          "MarkVariantFailed": {
                            "Type": "Pass",
                            "Result": {"status": "FAILED"},
                            "End": true
                          }
                        }
                      },
                      "End": true
                    }
                  }
                }
              ]
            },
            "AthenaAnalysis": {
              "Type": "Task",
              "Resource": "${AthenaAnalysisFunction.Arn}",
              "ResultPath": "$.athena_results",
              "Next": "Summary",
              "Retry": [
                {
                  "ErrorEquals": ["States.TaskFailed"],
                  "IntervalSeconds": 10,
                  "MaxAttempts": 2,
                  "BackoffRate": 2.0
                }
              ]
            },
            "Summary": {
              "Type": "Task",
              "Resource": "${SummaryFunction.Arn}",
              "ResultPath": "$.summary",
              "End": true,
              "Retry": [
                {
                  "ErrorEquals": ["States.TaskFailed"],
                  "IntervalSeconds": 10,
                  "MaxAttempts": 2,
                  "BackoffRate": 2.0
                }
              ]
            }
          }
        }

  # -----------------------------------------------------------------
  # EventBridge Scheduler
  # -----------------------------------------------------------------
  SchedulerRole:
    Type: AWS::IAM::Role
    Properties:
      RoleName: !Sub "${AWS::StackName}-scheduler-role"
      AssumeRolePolicyDocument:
        Version: "2012-10-17"
        Statement:
          - Effect: Allow
            Principal:
              Service: scheduler.amazonaws.com
            Action: sts:AssumeRole
      Policies:
        - PolicyName: SchedulerPolicy
          PolicyDocument:
            Version: "2012-10-17"
            Statement:
              - Effect: Allow
                Action:
                  - states:StartExecution
                Resource:
                  - !Ref GenomicsStateMachine

  GenomicsSchedule:
    Type: AWS::Scheduler::Schedule
    Properties:
      Name: !Sub "${AWS::StackName}-schedule"
      ScheduleExpression: !Ref ScheduleExpression
      FlexibleTimeWindow:
        Mode: "OFF"
      Target:
        Arn: !Ref GenomicsStateMachine
        RoleArn: !GetAtt SchedulerRole.Arn
        Input: "{}"

  # -----------------------------------------------------------------
  # CloudWatch Alarms (conditional on CreateCloudWatchAlarms)
  # -----------------------------------------------------------------
  StepFunctionsFailureAlarm:
    Type: AWS::CloudWatch::Alarm
    Condition: CreateCloudWatchAlarms
    Properties:
      AlarmName: !Sub "${AWS::StackName}-sfn-failures"
      AlarmDescription: Step Functions execution failures
      Namespace: AWS/States
      MetricName: ExecutionsFailed
      Dimensions:
        - Name: StateMachineArn
          Value: !Ref GenomicsStateMachine
      Statistic: Sum
      Period: 300
      EvaluationPeriods: 1
      Threshold: 1
      ComparisonOperator: GreaterThanOrEqualToThreshold
      TreatMissingData: notBreaching
      AlarmActions:
        - !Ref NotificationTopic

  DiscoveryErrorAlarm:
    Type: AWS::CloudWatch::Alarm
    Condition: CreateCloudWatchAlarms
    Properties:
      AlarmName: !Sub "${AWS::StackName}-discovery-errors"
      AlarmDescription: Discovery Lambda error rate
      Namespace: AWS/Lambda
      MetricName: Errors
      Dimensions:
        - Name: FunctionName
          Value: !Ref DiscoveryFunction
      Statistic: Sum
      Period: 300
      EvaluationPeriods: 1
      Threshold: 1
      ComparisonOperator: GreaterThanOrEqualToThreshold
      TreatMissingData: notBreaching
      AlarmActions:
        - !Ref NotificationTopic

  QcErrorAlarm:
    Type: AWS::CloudWatch::Alarm
    Condition: CreateCloudWatchAlarms
    Properties:
      AlarmName: !Sub "${AWS::StackName}-qc-errors"
      AlarmDescription: QC Lambda error rate
      Namespace: AWS/Lambda
      MetricName: Errors
      Dimensions:
        - Name: FunctionName
          Value: !Ref QcFunction
      Statistic: Sum
      Period: 300
      EvaluationPeriods: 1
      Threshold: 3
      ComparisonOperator: GreaterThanOrEqualToThreshold
      TreatMissingData: notBreaching
      AlarmActions:
        - !Ref NotificationTopic

  VariantAggregationErrorAlarm:
    Type: AWS::CloudWatch::Alarm
    Condition: CreateCloudWatchAlarms
    Properties:
      AlarmName: !Sub "${AWS::StackName}-variant-aggregation-errors"
      AlarmDescription: Variant Aggregation Lambda error rate
      Namespace: AWS/Lambda
      MetricName: Errors
      Dimensions:
        - Name: FunctionName
          Value: !Ref VariantAggregationFunction
      Statistic: Sum
      Period: 300
      EvaluationPeriods: 1
      Threshold: 3
      ComparisonOperator: GreaterThanOrEqualToThreshold
      TreatMissingData: notBreaching
      AlarmActions:
        - !Ref NotificationTopic

  AthenaAnalysisErrorAlarm:
    Type: AWS::CloudWatch::Alarm
    Condition: CreateCloudWatchAlarms
    Properties:
      AlarmName: !Sub "${AWS::StackName}-athena-analysis-errors"
      AlarmDescription: Athena Analysis Lambda error rate
      Namespace: AWS/Lambda
      MetricName: Errors
      Dimensions:
        - Name: FunctionName
          Value: !Ref AthenaAnalysisFunction
      Statistic: Sum
      Period: 300
      EvaluationPeriods: 1
      Threshold: 1
      ComparisonOperator: GreaterThanOrEqualToThreshold
      TreatMissingData: notBreaching
      AlarmActions:
        - !Ref NotificationTopic

  SummaryErrorAlarm:
    Type: AWS::CloudWatch::Alarm
    Condition: CreateCloudWatchAlarms
    Properties:
      AlarmName: !Sub "${AWS::StackName}-summary-errors"
      AlarmDescription: Summary Lambda error rate
      Namespace: AWS/Lambda
      MetricName: Errors
      Dimensions:
        - Name: FunctionName
          Value: !Ref SummaryFunction
      Statistic: Sum
      Period: 300
      EvaluationPeriods: 1
      Threshold: 1
      ComparisonOperator: GreaterThanOrEqualToThreshold
      TreatMissingData: notBreaching
      AlarmActions:
        - !Ref NotificationTopic

# =====================================================================
# Outputs
# =====================================================================
Outputs:
  StateMachineArn:
    Description: Step Functions State Machine ARN
    Value: !Ref GenomicsStateMachine

  OutputBucketName:
    Description: S3 Output Bucket Name
    Value: !Ref OutputBucket

  NotificationTopicArn:
    Description: SNS Notification Topic ARN
    Value: !Ref NotificationTopic

  DiscoveryFunctionArn:
    Description: Discovery Lambda Function ARN
    Value: !GetAtt DiscoveryFunction.Arn

  QcFunctionArn:
    Description: QC Lambda Function ARN
    Value: !GetAtt QcFunction.Arn

  VariantAggregationFunctionArn:
    Description: Variant Aggregation Lambda Function ARN
    Value: !GetAtt VariantAggregationFunction.Arn

  AthenaAnalysisFunctionArn:
    Description: Athena Analysis Lambda Function ARN
    Value: !GetAtt AthenaAnalysisFunction.Arn

  SummaryFunctionArn:
    Description: Summary Lambda Function ARN
    Value: !GetAtt SummaryFunction.Arn

  GlueDatabaseName:
    Description: Glue Data Catalog Database Name
    Value: !If
      - UseAutoGlueDatabase
      - !Sub "${AWS::StackName}-db"
      - !Ref GlueDatabaseName

  GlueTableName:
    Description: Glue Data Catalog Table Name
    Value: !If
      - UseAutoGlueTable
      - !Sub "${AWS::StackName}-genomics-metrics"
      - !Ref GlueTableName

  AthenaWorkgroupName:
    Description: Athena Workgroup Name
    Value: !If
      - UseAutoAthenaWorkgroup
      - !Sub "${AWS::StackName}-workgroup"
      - !Ref AthenaWorkgroupName

  CrossRegion:
    Description: Cross-Region for Comprehend Medical API
    Value: !Ref CrossRegion
