solutions/industry/utilities-asset-inspection/template.yaml
AWSTemplateFormatVersion: "2010-09-09"
Transform: AWS::Serverless-2016-10-31
Description: >-
  UC25: 電力・ユーティリティ設備点検（本番デプロイ用）
  FSx for NetApp ONTAP S3 Access Points を活用したドローン画像欠陥検知、
  SCADA 異常分析、熱画像解析、レポート生成のサーバーレスワークフロー。

# =====================================================================
# Parameters — Layer 1 (共通) + Layer 2 (拡張) + Layer 3 (TriggerMode) + Layer 4 (UC固有)
# =====================================================================
Parameters:

  # --- Layer 1: Phase 1 共通 ---
  S3AccessPointAlias:
    Type: String
    Description: FSx for ONTAP S3 Access Point Alias (入力読み取り用)
    AllowedPattern: "^[a-z0-9-]+-ext-s3alias$"

  S3AccessPointName:
    Type: String
    Default: ""
    Description: |
      入力用 S3 Access Point の名前（alias ではなく）。指定すると AP ARN 形式でも
      IAM アクセスを許可する。空文字列の場合は alias 形式のみ許可。

  S3AccessPointOutputAlias:
    Type: String
    Description: FSx for ONTAP S3 Access Point Alias (出力書き込み用)
    AllowedPattern: "^[a-z0-9-]+-ext-s3alias$"

  OntapSecretName:
    Type: String
    Description: ONTAP REST API 認証情報の Secrets Manager シークレット名

  OntapManagementIp:
    Type: String
    Description: ONTAP クラスタ管理 IP アドレス
    AllowedPattern: "^\\d{1,3}\\.\\d{1,3}\\.\\d{1,3}\\.\\d{1,3}$"

  SvmUuid:
    Type: String
    Description: ONTAP SVM UUID

  ScheduleExpression:
    Type: String
    Default: "cron(0 0 * * ? *)"
    Description: "EventBridge Scheduler スケジュール式 (デフォルト: 毎日 00:00 UTC)"

  VpcId:
    Type: AWS::EC2::VPC::Id
    Description: Lambda 関数を配置する VPC ID

  PrivateSubnetIds:
    Type: List<AWS::EC2::Subnet::Id>
    Description: Lambda 関数を配置するプライベートサブネット ID リスト

  PrivateRouteTableIds:
    Type: CommaDelimitedList
    Description: プライベートサブネットのルートテーブル ID リスト

  NotificationEmail:
    Type: String
    Description: SNS 通知の送信先メールアドレス

  # --- Layer 2: Phase 2 拡張 ---
  MapConcurrency:
    Type: Number
    Default: 10
    MinValue: 1
    MaxValue: 100
    Description: Step Functions Map State の並列度

  LambdaMemorySize:
    Type: Number
    Default: 256
    AllowedValues: [128, 256, 512, 1024, 2048]
    Description: Lambda 関数のメモリサイズ (MB)

  LambdaTimeout:
    Type: Number
    Default: 300
    MinValue: 30
    MaxValue: 900
    Description: Lambda 関数のタイムアウト (秒)

  EnableCloudWatchAlarms:
    Type: String
    Default: "true"
    AllowedValues: ["true", "false"]
    Description: CloudWatch Alarms を有効化する（電力インフラ監視のため default=true 推奨）

  EnableVpcEndpoints:
    Type: String
    Default: "false"
    AllowedValues: ["true", "false"]
    Description: Interface VPC Endpoints を有効化する

  EnableS3GatewayEndpoint:
    Type: String
    Default: "true"
    AllowedValues: ["true", "false"]
    Description: S3 Gateway VPC Endpoint を作成する

  BedrockModelId:
    Type: String
    Default: "global.anthropic.claude-haiku-4-5-20251001-v1:0"
    Description: >-
      Bedrock モデル ID / 推論プロファイル ID。接頭辞がルーティング範囲=データレジデンシーを表します:
      global.(世界・移植性優先の既定) / apac.・us.・eu.(地域) / jp.・au. 等(国内・主権)。要件に応じ変更可。
      詳細: docs/bedrock-inference-profiles.md

  # --- Layer 3: TriggerMode ---
  TriggerMode:
    Type: String
    Default: "POLLING"
    AllowedValues: ["POLLING", "EVENT_DRIVEN", "HYBRID"]
    Description: トリガーモード

  FPolicyEventBusName:
    Type: String
    Default: "fsxn-fpolicy-events"
    Description: FPolicy EventBridge カスタムバス名

  # --- Layer 4: UC25 固有 ---
  DroneImagePrefix:
    Type: String
    Default: "inspections/drone/"
    Description: ドローン画像ファイルのプレフィックス

  ScadaDataPrefix:
    Type: String
    Default: "inspections/scada/"
    Description: SCADA データファイルのプレフィックス

  ThermalImagePrefix:
    Type: String
    Default: "inspections/thermal/"
    Description: 熱画像ファイルのプレフィックス

  DefectConfidenceThreshold:
    Type: Number
    Default: 75
    MinValue: 50
    MaxValue: 99
    Description: 欠陥検出の最小信頼度閾値

# =====================================================================
# Conditions
# =====================================================================
Conditions:
  HasS3AccessPointName:
    !Not [!Equals [!Ref S3AccessPointName, ""]]
  CreateVpcEndpoints:
    !Equals [!Ref EnableVpcEndpoints, "true"]
  CreateCloudWatchAlarms:
    !Equals [!Ref EnableCloudWatchAlarms, "true"]
  CreateS3GatewayEndpoint:
    !Equals [!Ref EnableS3GatewayEndpoint, "true"]
  IsPollingOrHybrid:
    !Or
      - !Equals [!Ref TriggerMode, "POLLING"]
      - !Equals [!Ref TriggerMode, "HYBRID"]
  IsEventDrivenOrHybrid:
    !Or
      - !Equals [!Ref TriggerMode, "EVENT_DRIVEN"]
      - !Equals [!Ref TriggerMode, "HYBRID"]

# =====================================================================
# Resources
# =====================================================================
Resources:

  SharedLayer:
    Type: AWS::Serverless::LayerVersion
    Properties:
      LayerName: !Sub "${AWS::StackName}-shared"
      Description: Shared Python modules (s3ap_helper, ontap_client, observability, etc.)
      ContentUri: ../../../
      CompatibleRuntimes:
        - python3.12
        - python3.13
      CompatibleArchitectures:
        - arm64
        - x86_64
    Metadata:
      BuildMethod: makefile
      BuildArchitecture: arm64

  # -----------------------------------------------------------------
  # SNS Topic + Email Subscription
  # -----------------------------------------------------------------
  NotificationTopic:
    Type: AWS::SNS::Topic
    Properties:
      TopicName: !Sub "${AWS::StackName}-notifications"
      KmsMasterKeyId: alias/aws/sns

  EmailSubscription:
    Type: AWS::SNS::Subscription
    Properties:
      TopicArn: !Ref NotificationTopic
      Protocol: email
      Endpoint: !Ref NotificationEmail

  # -----------------------------------------------------------------
  # Lambda Security Group
  # -----------------------------------------------------------------
  LambdaSecurityGroup:
    Type: AWS::EC2::SecurityGroup
    Properties:
      GroupDescription: !Sub "${AWS::StackName} - Lambda functions security group"
      VpcId: !Ref VpcId
      SecurityGroupEgress:
        - IpProtocol: tcp
          FromPort: 443
          ToPort: 443
          CidrIp: 0.0.0.0/0
          Description: Allow HTTPS outbound
      Tags:
        - Key: Name
          Value: !Sub "${AWS::StackName}-lambda-sg"

  # -----------------------------------------------------------------
  # S3 Gateway Endpoint (conditional)
  # -----------------------------------------------------------------
  S3GatewayEndpoint:
    Condition: CreateS3GatewayEndpoint
    Type: AWS::EC2::VPCEndpoint
    Properties:
      VpcId: !Ref VpcId
      ServiceName: !Sub "com.amazonaws.${AWS::Region}.s3"
      VpcEndpointType: Gateway
      RouteTableIds: !Ref PrivateRouteTableIds

  # -----------------------------------------------------------------
  # CloudWatch Log Groups
  # -----------------------------------------------------------------
  DiscoveryLogGroup:
    Type: AWS::Logs::LogGroup
    Properties:
      LogGroupName: !Sub "/aws/lambda/${AWS::StackName}-discovery"
      RetentionInDays: 14

  DefectDetectorLogGroup:
    Type: AWS::Logs::LogGroup
    Properties:
      LogGroupName: !Sub "/aws/lambda/${AWS::StackName}-defect-detector"
      RetentionInDays: 14

  ScadaAnalyzerLogGroup:
    Type: AWS::Logs::LogGroup
    Properties:
      LogGroupName: !Sub "/aws/lambda/${AWS::StackName}-scada-analyzer"
      RetentionInDays: 14

  ThermalAnalyzerLogGroup:
    Type: AWS::Logs::LogGroup
    Properties:
      LogGroupName: !Sub "/aws/lambda/${AWS::StackName}-thermal-analyzer"
      RetentionInDays: 14

  ReportLogGroup:
    Type: AWS::Logs::LogGroup
    Properties:
      LogGroupName: !Sub "/aws/lambda/${AWS::StackName}-report"
      RetentionInDays: 14

  # -----------------------------------------------------------------
  # IAM Roles — least-privilege per Lambda
  # -----------------------------------------------------------------
  DiscoveryLambdaRole:
    Type: AWS::IAM::Role
    Properties:
      RoleName: !Sub "${AWS::StackName}-discovery-role"
      AssumeRolePolicyDocument:
        Version: "2012-10-17"
        Statement:
          - Effect: Allow
            Principal:
              Service: lambda.amazonaws.com
            Action: sts:AssumeRole
      ManagedPolicyArns:
        - arn:aws:iam::aws:policy/service-role/AWSLambdaVPCAccessExecutionRole
      Policies:
        - PolicyName: DiscoveryPolicy
          PolicyDocument:
            Version: "2012-10-17"
            Statement:
              - Sid: S3AccessPointRead
                Effect: Allow
                Action:
                  - s3:ListBucket
                  - s3:GetObject
                Resource:
                  - !Sub "arn:aws:s3:::${S3AccessPointAlias}"
                  - !Sub "arn:aws:s3:::${S3AccessPointAlias}/*"
                  - !If
                    - HasS3AccessPointName
                    - !Sub "arn:aws:s3:${AWS::Region}:${AWS::AccountId}:accesspoint/${S3AccessPointName}"
                    - !Ref AWS::NoValue
                  - !If
                    - HasS3AccessPointName
                    - !Sub "arn:aws:s3:${AWS::Region}:${AWS::AccountId}:accesspoint/${S3AccessPointName}/object/*"
                    - !Ref AWS::NoValue
              - Sid: S3AccessPointOutput
                Effect: Allow
                Action:
                  - s3:PutObject
                Resource:
                  - !Sub "arn:aws:s3:::${S3AccessPointOutputAlias}/*"
              - Sid: SecretsManager
                Effect: Allow
                Action:
                  - secretsmanager:GetSecretValue
                Resource:
                  - !Sub "arn:aws:secretsmanager:${AWS::Region}:${AWS::AccountId}:secret:${OntapSecretName}*"
              - Sid: CloudWatchLogs
                Effect: Allow
                Action:
                  - logs:CreateLogStream
                  - logs:PutLogEvents
                Resource:
                  - !GetAtt DiscoveryLogGroup.Arn
                  - !Sub "${DiscoveryLogGroup.Arn}:*"

  DefectDetectorLambdaRole:
    Type: AWS::IAM::Role
    Properties:
      RoleName: !Sub "${AWS::StackName}-defect-detector-role"
      AssumeRolePolicyDocument:
        Version: "2012-10-17"
        Statement:
          - Effect: Allow
            Principal:
              Service: lambda.amazonaws.com
            Action: sts:AssumeRole
      ManagedPolicyArns:
        - arn:aws:iam::aws:policy/service-role/AWSLambdaBasicExecutionRole
      Policies:
        - PolicyName: DefectDetectorPolicy
          PolicyDocument:
            Version: "2012-10-17"
            Statement:
              - Sid: S3AccessPointRead
                Effect: Allow
                Action:
                  - s3:GetObject
                Resource:
                  - !Sub "arn:aws:s3:::${S3AccessPointAlias}/*"
              - Sid: S3AccessPointOutput
                Effect: Allow
                Action:
                  - s3:PutObject
                Resource:
                  - !Sub "arn:aws:s3:::${S3AccessPointOutputAlias}/*"
              # Rekognition does not support resource-level IAM policies (Resource: "*" is required)
              # See: https://docs.aws.amazon.com/rekognition/latest/dg/security_iam_service-with-iam.html
              - Sid: Rekognition
                Effect: Allow
                Action:
                  - rekognition:DetectLabels
                  - rekognition:DetectModerationLabels
                Resource: "*"
              - Sid: Bedrock
                Effect: Allow
                Action:
                  - bedrock:InvokeModel
                Resource:
                  # Claude 推論プロファイル: プロファイル ARN と各リージョンの foundation-model ARN の両方が必要
                  - !Sub "arn:aws:bedrock:*::foundation-model/*"
                  - !Sub "arn:aws:bedrock:${AWS::Region}:${AWS::AccountId}:inference-profile/*"
              - Sid: CloudWatchLogs
                Effect: Allow
                Action:
                  - logs:CreateLogStream
                  - logs:PutLogEvents
                Resource:
                  - !GetAtt DefectDetectorLogGroup.Arn
                  - !Sub "${DefectDetectorLogGroup.Arn}:*"

  ScadaAnalyzerLambdaRole:
    Type: AWS::IAM::Role
    Properties:
      RoleName: !Sub "${AWS::StackName}-scada-analyzer-role"
      AssumeRolePolicyDocument:
        Version: "2012-10-17"
        Statement:
          - Effect: Allow
            Principal:
              Service: lambda.amazonaws.com
            Action: sts:AssumeRole
      ManagedPolicyArns:
        - arn:aws:iam::aws:policy/service-role/AWSLambdaBasicExecutionRole
      Policies:
        - PolicyName: ScadaAnalyzerPolicy
          PolicyDocument:
            Version: "2012-10-17"
            Statement:
              - Sid: S3AccessPointRead
                Effect: Allow
                Action:
                  - s3:GetObject
                Resource:
                  - !Sub "arn:aws:s3:::${S3AccessPointAlias}/*"
              - Sid: S3AccessPointOutput
                Effect: Allow
                Action:
                  - s3:PutObject
                Resource:
                  - !Sub "arn:aws:s3:::${S3AccessPointOutputAlias}/*"
              - Sid: Bedrock
                Effect: Allow
                Action:
                  - bedrock:InvokeModel
                Resource:
                  # Claude 推論プロファイル: プロファイル ARN と各リージョンの foundation-model ARN の両方が必要
                  - !Sub "arn:aws:bedrock:*::foundation-model/*"
                  - !Sub "arn:aws:bedrock:${AWS::Region}:${AWS::AccountId}:inference-profile/*"
              - Sid: CloudWatchLogs
                Effect: Allow
                Action:
                  - logs:CreateLogStream
                  - logs:PutLogEvents
                Resource:
                  - !GetAtt ScadaAnalyzerLogGroup.Arn
                  - !Sub "${ScadaAnalyzerLogGroup.Arn}:*"

  ThermalAnalyzerLambdaRole:
    Type: AWS::IAM::Role
    Properties:
      RoleName: !Sub "${AWS::StackName}-thermal-analyzer-role"
      AssumeRolePolicyDocument:
        Version: "2012-10-17"
        Statement:
          - Effect: Allow
            Principal:
              Service: lambda.amazonaws.com
            Action: sts:AssumeRole
      ManagedPolicyArns:
        - arn:aws:iam::aws:policy/service-role/AWSLambdaBasicExecutionRole
      Policies:
        - PolicyName: ThermalAnalyzerPolicy
          PolicyDocument:
            Version: "2012-10-17"
            Statement:
              - Sid: S3AccessPointRead
                Effect: Allow
                Action:
                  - s3:GetObject
                Resource:
                  - !Sub "arn:aws:s3:::${S3AccessPointAlias}/*"
              - Sid: S3AccessPointOutput
                Effect: Allow
                Action:
                  - s3:PutObject
                Resource:
                  - !Sub "arn:aws:s3:::${S3AccessPointOutputAlias}/*"
              # Rekognition does not support resource-level IAM policies (Resource: "*" is required)
              # See: https://docs.aws.amazon.com/rekognition/latest/dg/security_iam_service-with-iam.html
              - Sid: Rekognition
                Effect: Allow
                Action:
                  - rekognition:DetectLabels
                Resource: "*"
              - Sid: Bedrock
                Effect: Allow
                Action:
                  - bedrock:InvokeModel
                Resource:
                  # Claude 推論プロファイル: プロファイル ARN と各リージョンの foundation-model ARN の両方が必要
                  - !Sub "arn:aws:bedrock:*::foundation-model/*"
                  - !Sub "arn:aws:bedrock:${AWS::Region}:${AWS::AccountId}:inference-profile/*"
              - Sid: CloudWatchLogs
                Effect: Allow
                Action:
                  - logs:CreateLogStream
                  - logs:PutLogEvents
                Resource:
                  - !GetAtt ThermalAnalyzerLogGroup.Arn
                  - !Sub "${ThermalAnalyzerLogGroup.Arn}:*"

  ReportLambdaRole:
    Type: AWS::IAM::Role
    Properties:
      RoleName: !Sub "${AWS::StackName}-report-role"
      AssumeRolePolicyDocument:
        Version: "2012-10-17"
        Statement:
          - Effect: Allow
            Principal:
              Service: lambda.amazonaws.com
            Action: sts:AssumeRole
      ManagedPolicyArns:
        - arn:aws:iam::aws:policy/service-role/AWSLambdaBasicExecutionRole
      Policies:
        - PolicyName: ReportPolicy
          PolicyDocument:
            Version: "2012-10-17"
            Statement:
              - Sid: S3Output
                Effect: Allow
                Action:
                  - s3:PutObject
                Resource:
                  - !Sub "arn:aws:s3:::${S3AccessPointOutputAlias}/*"
              - Sid: SNS
                Effect: Allow
                Action:
                  - sns:Publish
                Resource:
                  - !Ref NotificationTopic
              - Sid: CloudWatchLogs
                Effect: Allow
                Action:
                  - logs:CreateLogStream
                  - logs:PutLogEvents
                Resource:
                  - !GetAtt ReportLogGroup.Arn
                  - !Sub "${ReportLogGroup.Arn}:*"

  # -----------------------------------------------------------------
  # Lambda Functions (Production — S3 deploy packages)
  # -----------------------------------------------------------------
  DiscoveryFunction:
    Type: AWS::Serverless::Function
    Properties:
      FunctionName: !Sub "${AWS::StackName}-discovery"
      Runtime: python3.12
      Handler: handler.handler
      CodeUri: functions/discovery/
      Layers:
        - !Ref SharedLayer
      MemorySize: !Ref LambdaMemorySize
      Timeout: !Ref LambdaTimeout
      Role: !GetAtt DiscoveryLambdaRole.Arn
      VpcConfig:
        SecurityGroupIds:
          - !Ref LambdaSecurityGroup
        SubnetIds: !Ref PrivateSubnetIds
      Environment:
        Variables:
          USE_CASE: "utilities-asset-inspection"
          S3_ACCESS_POINT: !Ref S3AccessPointAlias
          S3_ACCESS_POINT_OUTPUT: !Ref S3AccessPointOutputAlias
          DRONE_IMAGE_PREFIX: !Ref DroneImagePrefix
          SCADA_DATA_PREFIX: !Ref ScadaDataPrefix
          THERMAL_IMAGE_PREFIX: !Ref ThermalImagePrefix
          ONTAP_SECRET_NAME: !Ref OntapSecretName
          ONTAP_MANAGEMENT_IP: !Ref OntapManagementIp
          SVM_UUID: !Ref SvmUuid
          VERIFY_SSL: "false"
      LoggingConfig:
        LogGroup: !Ref DiscoveryLogGroup
      Tags:
        UseCase: utilities-asset-inspection

  DefectDetectorFunction:
    Type: AWS::Serverless::Function
    Properties:
      FunctionName: !Sub "${AWS::StackName}-defect-detector"
      Runtime: python3.12
      Handler: handler.handler
      CodeUri: functions/defect_detector/
      Layers:
        - !Ref SharedLayer
      MemorySize: !Ref LambdaMemorySize
      Timeout: !Ref LambdaTimeout
      Role: !GetAtt DefectDetectorLambdaRole.Arn
      Environment:
        Variables:
          USE_CASE: "utilities-asset-inspection"
          S3_ACCESS_POINT: !Ref S3AccessPointAlias
          S3_ACCESS_POINT_OUTPUT: !Ref S3AccessPointOutputAlias
          BEDROCK_MODEL_ID: !Ref BedrockModelId
          DEFECT_CONFIDENCE_THRESHOLD: !Ref DefectConfidenceThreshold
      LoggingConfig:
        LogGroup: !Ref DefectDetectorLogGroup
      Tags:
        UseCase: utilities-asset-inspection

  ScadaAnalyzerFunction:
    Type: AWS::Serverless::Function
    Properties:
      FunctionName: !Sub "${AWS::StackName}-scada-analyzer"
      Runtime: python3.12
      Handler: handler.handler
      CodeUri: functions/scada_analyzer/
      Layers:
        - !Ref SharedLayer
      MemorySize: !Ref LambdaMemorySize
      Timeout: !Ref LambdaTimeout
      Role: !GetAtt ScadaAnalyzerLambdaRole.Arn
      Environment:
        Variables:
          USE_CASE: "utilities-asset-inspection"
          S3_ACCESS_POINT: !Ref S3AccessPointAlias
          S3_ACCESS_POINT_OUTPUT: !Ref S3AccessPointOutputAlias
          BEDROCK_MODEL_ID: !Ref BedrockModelId
      LoggingConfig:
        LogGroup: !Ref ScadaAnalyzerLogGroup
      Tags:
        UseCase: utilities-asset-inspection

  ThermalAnalyzerFunction:
    Type: AWS::Serverless::Function
    Properties:
      FunctionName: !Sub "${AWS::StackName}-thermal-analyzer"
      Runtime: python3.12
      Handler: handler.handler
      CodeUri: functions/thermal_analyzer/
      Layers:
        - !Ref SharedLayer
      MemorySize: !Ref LambdaMemorySize
      Timeout: !Ref LambdaTimeout
      Role: !GetAtt ThermalAnalyzerLambdaRole.Arn
      Environment:
        Variables:
          USE_CASE: "utilities-asset-inspection"
          S3_ACCESS_POINT: !Ref S3AccessPointAlias
          S3_ACCESS_POINT_OUTPUT: !Ref S3AccessPointOutputAlias
          BEDROCK_MODEL_ID: !Ref BedrockModelId
      LoggingConfig:
        LogGroup: !Ref ThermalAnalyzerLogGroup
      Tags:
        UseCase: utilities-asset-inspection

  ReportFunction:
    Type: AWS::Serverless::Function
    Properties:
      FunctionName: !Sub "${AWS::StackName}-report"
      Runtime: python3.12
      Handler: handler.handler
      CodeUri: functions/report/
      Layers:
        - !Ref SharedLayer
      MemorySize: !Ref LambdaMemorySize
      Timeout: !Ref LambdaTimeout
      Role: !GetAtt ReportLambdaRole.Arn
      Environment:
        Variables:
          USE_CASE: "utilities-asset-inspection"
          S3_ACCESS_POINT_OUTPUT: !Ref S3AccessPointOutputAlias
          SNS_TOPIC_ARN: !Ref NotificationTopic
      LoggingConfig:
        LogGroup: !Ref ReportLogGroup
      Tags:
        UseCase: utilities-asset-inspection

  # -----------------------------------------------------------------
  # Step Functions State Machine
  # -----------------------------------------------------------------
  StateMachineRole:
    Type: AWS::IAM::Role
    Properties:
      RoleName: !Sub "${AWS::StackName}-sfn-role"
      AssumeRolePolicyDocument:
        Version: "2012-10-17"
        Statement:
          - Effect: Allow
            Principal:
              Service: states.amazonaws.com
            Action: sts:AssumeRole
      Policies:
        - PolicyName: StepFunctionsPolicy
          PolicyDocument:
            Version: "2012-10-17"
            Statement:
              - Sid: InvokeLambda
                Effect: Allow
                Action:
                  - lambda:InvokeFunction
                Resource:
                  - !GetAtt DiscoveryFunction.Arn
                  - !GetAtt DefectDetectorFunction.Arn
                  - !GetAtt ScadaAnalyzerFunction.Arn
                  - !GetAtt ThermalAnalyzerFunction.Arn
                  - !GetAtt ReportFunction.Arn

  InspectionStateMachine:
    Type: AWS::StepFunctions::StateMachine
    Properties:
      StateMachineName: !Sub "${AWS::StackName}-workflow"
      RoleArn: !GetAtt StateMachineRole.Arn
      DefinitionString: !Sub |
        {
          "Comment": "UC25: Utilities Asset Inspection - Discovery → Defect Map → SCADA Map → Thermal Map → Report",
          "StartAt": "Discovery",
          "States": {
            "Discovery": {
              "Type": "Task",
              "Resource": "${DiscoveryFunction.Arn}",
              "ResultPath": "$.discovery",
              "Next": "CheckObjectsFound",
              "Retry": [{"ErrorEquals": ["States.TaskFailed"], "IntervalSeconds": 5, "MaxAttempts": 2, "BackoffRate": 2.0}]
            },
            "CheckObjectsFound": {
              "Type": "Choice",
              "Choices": [{"Variable": "$.discovery.total_objects", "NumericGreaterThan": 0, "Next": "DefectDetectorMap"}],
              "Default": "ReportGeneration"
            },
            "DefectDetectorMap": {
              "Type": "Map",
              "ItemsPath": "$.discovery.drone_images",
              "MaxConcurrency": ${MapConcurrency},
              "ResultPath": "$.defect_results",
              "Next": "ScadaAnalyzerMap",
              "ItemProcessor": {
                "ProcessorConfig": {"Mode": "INLINE"},
                "StartAt": "DetectDefect",
                "States": {
                  "DetectDefect": {
                    "Type": "Task",
                    "Resource": "${DefectDetectorFunction.Arn}",
                    "Retry": [{"ErrorEquals": ["States.TaskFailed"], "IntervalSeconds": 10, "MaxAttempts": 3, "BackoffRate": 2.0}],
                    "Catch": [{"ErrorEquals": ["States.ALL"], "ResultPath": "$.error", "Next": "MarkDefectFailed"}],
                    "End": true
                  },
                  "MarkDefectFailed": {"Type": "Pass", "Result": {"status": "FAILED"}, "End": true}
                }
              }
            },
            "ScadaAnalyzerMap": {
              "Type": "Map",
              "ItemsPath": "$.discovery.scada_logs",
              "MaxConcurrency": ${MapConcurrency},
              "ResultPath": "$.scada_results",
              "Next": "ThermalAnalyzerMap",
              "ItemProcessor": {
                "ProcessorConfig": {"Mode": "INLINE"},
                "StartAt": "AnalyzeScada",
                "States": {
                  "AnalyzeScada": {
                    "Type": "Task",
                    "Resource": "${ScadaAnalyzerFunction.Arn}",
                    "Retry": [{"ErrorEquals": ["States.TaskFailed"], "IntervalSeconds": 10, "MaxAttempts": 3, "BackoffRate": 2.0}],
                    "Catch": [{"ErrorEquals": ["States.ALL"], "ResultPath": "$.error", "Next": "MarkScadaFailed"}],
                    "End": true
                  },
                  "MarkScadaFailed": {"Type": "Pass", "Result": {"status": "FAILED"}, "End": true}
                }
              }
            },
            "ThermalAnalyzerMap": {
              "Type": "Map",
              "ItemsPath": "$.discovery.thermal_images",
              "MaxConcurrency": ${MapConcurrency},
              "ResultPath": "$.thermal_results",
              "Next": "ReportGeneration",
              "ItemProcessor": {
                "ProcessorConfig": {"Mode": "INLINE"},
                "StartAt": "AnalyzeThermal",
                "States": {
                  "AnalyzeThermal": {
                    "Type": "Task",
                    "Resource": "${ThermalAnalyzerFunction.Arn}",
                    "Retry": [{"ErrorEquals": ["States.TaskFailed"], "IntervalSeconds": 10, "MaxAttempts": 3, "BackoffRate": 2.0}],
                    "Catch": [{"ErrorEquals": ["States.ALL"], "ResultPath": "$.error", "Next": "MarkThermalFailed"}],
                    "End": true
                  },
                  "MarkThermalFailed": {"Type": "Pass", "Result": {"status": "FAILED"}, "End": true}
                }
              }
            },
            "ReportGeneration": {
              "Type": "Task",
              "Resource": "${ReportFunction.Arn}",
              "ResultPath": "$.report",
              "End": true,
              "Retry": [{"ErrorEquals": ["States.TaskFailed"], "IntervalSeconds": 10, "MaxAttempts": 2, "BackoffRate": 2.0}]
            }
          }
        }

  # -----------------------------------------------------------------
  # EventBridge Scheduler (conditional)
  # -----------------------------------------------------------------
  SchedulerRole:
    Type: AWS::IAM::Role
    Condition: IsPollingOrHybrid
    Properties:
      RoleName: !Sub "${AWS::StackName}-scheduler-role"
      AssumeRolePolicyDocument:
        Version: "2012-10-17"
        Statement:
          - Effect: Allow
            Principal:
              Service: scheduler.amazonaws.com
            Action: sts:AssumeRole
      Policies:
        - PolicyName: SchedulerPolicy
          PolicyDocument:
            Version: "2012-10-17"
            Statement:
              - Effect: Allow
                Action:
                  - states:StartExecution
                Resource:
                  - !Ref InspectionStateMachine

  InspectionSchedule:
    Type: AWS::Scheduler::Schedule
    Condition: IsPollingOrHybrid
    Properties:
      Name: !Sub "${AWS::StackName}-schedule"
      ScheduleExpression: !Ref ScheduleExpression
      FlexibleTimeWindow:
        Mode: "OFF"
      Target:
        Arn: !Ref InspectionStateMachine
        RoleArn: !GetAtt SchedulerRole.Arn
        Input: "{}"

  # -----------------------------------------------------------------
  # CloudWatch Alarms (conditional)
  # -----------------------------------------------------------------
  StepFunctionsFailureAlarm:
    Type: AWS::CloudWatch::Alarm
    Condition: CreateCloudWatchAlarms
    Properties:
      AlarmName: !Sub "${AWS::StackName}-sfn-failures"
      AlarmDescription: Step Functions execution failures
      Namespace: AWS/States
      MetricName: ExecutionsFailed
      Dimensions:
        - Name: StateMachineArn
          Value: !Ref InspectionStateMachine
      Statistic: Sum
      Period: 300
      EvaluationPeriods: 1
      Threshold: 1
      ComparisonOperator: GreaterThanOrEqualToThreshold
      TreatMissingData: notBreaching
      AlarmActions:
        - !Ref NotificationTopic

  ReportErrorAlarm:
    Type: AWS::CloudWatch::Alarm
    Condition: CreateCloudWatchAlarms
    Properties:
      AlarmName: !Sub "${AWS::StackName}-report-errors"
      AlarmDescription: Report Lambda error rate
      Namespace: AWS/Lambda
      MetricName: Errors
      Dimensions:
        - Name: FunctionName
          Value: !Ref ReportFunction
      Statistic: Sum
      Period: 300
      EvaluationPeriods: 1
      Threshold: 1
      ComparisonOperator: GreaterThanOrEqualToThreshold
      TreatMissingData: notBreaching
      AlarmActions:
        - !Ref NotificationTopic

# =====================================================================
# Outputs
# =====================================================================
Outputs:
  StateMachineArn:
    Description: Step Functions State Machine ARN
    Value: !Ref InspectionStateMachine

  NotificationTopicArn:
    Description: SNS Notification Topic ARN
    Value: !Ref NotificationTopic

  DiscoveryFunctionArn:
    Description: Discovery Lambda Function ARN
    Value: !GetAtt DiscoveryFunction.Arn

  DefectDetectorFunctionArn:
    Description: Defect Detector Lambda Function ARN
    Value: !GetAtt DefectDetectorFunction.Arn

  ScadaAnalyzerFunctionArn:
    Description: SCADA Analyzer Lambda Function ARN
    Value: !GetAtt ScadaAnalyzerFunction.Arn

  ThermalAnalyzerFunctionArn:
    Description: Thermal Analyzer Lambda Function ARN
    Value: !GetAtt ThermalAnalyzerFunction.Arn

  ReportFunctionArn:
    Description: Report Lambda Function ARN
    Value: !GetAtt ReportFunction.Arn
