sap-erp-adjacent/statemachine/workflow.asl.json
{
  "Comment": "SAP/ERP Adjacent File Processing Workflow",
  "StartAt": "DiscoverFiles",
  "States": {
    "DiscoverFiles": {
      "Type": "Task",
      "Resource": "${DiscoveryFunctionArn}",
      "ResultPath": "$.discovery",
      "Next": "CheckFilesFound",
      "Retry": [
        {
          "ErrorEquals": ["States.TaskFailed"],
          "IntervalSeconds": 30,
          "MaxAttempts": 2,
          "BackoffRate": 2
        }
      ],
      "Catch": [
        {
          "ErrorEquals": ["States.ALL"],
          "Next": "ReportError",
          "ResultPath": "$.error"
        }
      ]
    },
    "CheckFilesFound": {
      "Type": "Choice",
      "Choices": [
        {
          "Variable": "$.discovery.file_count",
          "NumericGreaterThan": 0,
          "Next": "ProcessFiles"
        }
      ],
      "Default": "NoFilesFound"
    },
    "NoFilesFound": {
      "Type": "Pass",
      "Result": {
        "status": "NO_FILES",
        "message": "No new files found matching prefix"
      },
      "ResultPath": "$.processing",
      "Next": "GenerateReport"
    },
    "ProcessFiles": {
      "Type": "Map",
      "ItemsPath": "$.discovery.files",
      "MaxConcurrency": 5,
      "ResultPath": "$.processing",
      "Iterator": {
        "StartAt": "ProcessSingleFile",
        "States": {
          "ProcessSingleFile": {
            "Type": "Task",
            "Resource": "${ProcessingFunctionArn}",
            "End": true,
            "Retry": [
              {
                "ErrorEquals": ["States.TaskFailed"],
                "IntervalSeconds": 10,
                "MaxAttempts": 2,
                "BackoffRate": 2
              }
            ]
          }
        }
      },
      "Next": "GenerateReport",
      "Catch": [
        {
          "ErrorEquals": ["States.ALL"],
          "Next": "ReportError",
          "ResultPath": "$.error"
        }
      ]
    },
    "GenerateReport": {
      "Type": "Task",
      "Resource": "${ReportFunctionArn}",
      "ResultPath": "$.report",
      "End": true,
      "Retry": [
        {
          "ErrorEquals": ["States.TaskFailed"],
          "IntervalSeconds": 5,
          "MaxAttempts": 2
        }
      ]
    },
    "ReportError": {
      "Type": "Task",
      "Resource": "${ReportFunctionArn}",
      "Parameters": {
        "error.$": "$.error",
        "status": "ERROR"
      },
      "End": true
    }
  }
}
