solutions/flexcache/life-sciences-research/template.yaml
AWSTemplateFormatVersion: '2010-09-09'
Transform: AWS::Serverless-2016-10-31
Description: >
  Life Sciences Research — 研究データ自動分析パターン
  FSx for ONTAP S3 AP 経由で研究画像・シーケンス・論文を分析

Parameters:
  S3AccessPointAlias:
    Type: String
    Description: S3 Access Point エイリアス

  S3AccessPointName:
    Type: String
    Description: S3 Access Point 名（IAM ARN 用）

  OntapSecretName:
    Type: String
    Default: fsxn/ontap-credentials

  BedrockModelId:
    Type: String
    Default: amazon.nova-pro-v1:0

  ScheduleExpression:
    Type: String
    Default: rate(1 hour)

  NotificationEmail:
    Type: String
    Default: ''

  OutputDestination:
    Type: String
    Default: STANDARD_S3
    AllowedValues: [STANDARD_S3, FSXN_S3AP]

Conditions:
  HasNotificationEmail: !Not [!Equals [!Ref NotificationEmail, '']]

Resources:
  OutputBucket:
    Type: AWS::S3::Bucket
    Properties:
      BucketEncryption:
        ServerSideEncryptionConfiguration:
          - ServerSideEncryptionByDefault:
              SSEAlgorithm: aws:kms

  NotificationTopic:
    Type: AWS::SNS::Topic
    Properties:
      KmsMasterKeyId: alias/aws/sns

  EmailSubscription:
    Type: AWS::SNS::Subscription
    Condition: HasNotificationEmail
    Properties:
      TopicArn: !Ref NotificationTopic
      Protocol: email
      Endpoint: !Ref NotificationEmail

  LambdaRole:
    Type: AWS::IAM::Role
    Properties:
      AssumeRolePolicyDocument:
        Version: '2012-10-17'
        Statement:
          - Effect: Allow
            Principal:
              Service: lambda.amazonaws.com
            Action: sts:AssumeRole
      ManagedPolicyArns:
        - arn:aws:iam::aws:policy/service-role/AWSLambdaBasicExecutionRole
      Policies:
        - PolicyName: LifeSciencesPolicy
          PolicyDocument:
            Version: '2012-10-17'
            Statement:
              - Effect: Allow
                Action: [s3:ListBucket, s3:GetBucketLocation]
                Resource: !Sub 'arn:aws:s3:${AWS::Region}:${AWS::AccountId}:accesspoint/${S3AccessPointName}'
              - Effect: Allow
                Action: [s3:GetObject]
                Resource: !Sub 'arn:aws:s3:${AWS::Region}:${AWS::AccountId}:accesspoint/${S3AccessPointName}/object/*'
              - Effect: Allow
                Action: s3:PutObject
                Resource: !Sub '${OutputBucket.Arn}/*'
              - Effect: Allow
                Action: bedrock:InvokeModel
                Resource: '*'
              - Effect: Allow
                Action: sns:Publish
                Resource: !Ref NotificationTopic
              - Effect: Allow
                Action: secretsmanager:GetSecretValue
                Resource: !Sub 'arn:aws:secretsmanager:${AWS::Region}:${AWS::AccountId}:secret:${OntapSecretName}*'

  DiscoveryFunction:
    Type: AWS::Serverless::Function
    Properties:
      Handler: handler.handler
      Runtime: python3.12
      CodeUri: functions/discovery/
      Timeout: 120
      MemorySize: 512
      Role: !GetAtt LambdaRole.Arn
      Environment:
        Variables:
          S3_ACCESS_POINT_ALIAS: !Ref S3AccessPointAlias
          OUTPUT_BUCKET: !Ref OutputBucket

  ClassificationFunction:
    Type: AWS::Serverless::Function
    Properties:
      Handler: handler.handler
      Runtime: python3.12
      CodeUri: functions/classification/
      Timeout: 300
      MemorySize: 1024
      Role: !GetAtt LambdaRole.Arn
      Environment:
        Variables:
          S3_ACCESS_POINT_ALIAS: !Ref S3AccessPointAlias
          BEDROCK_MODEL_ID: !Ref BedrockModelId

  MetadataFunction:
    Type: AWS::Serverless::Function
    Properties:
      Handler: handler.handler
      Runtime: python3.12
      CodeUri: functions/metadata_extraction/
      Timeout: 300
      MemorySize: 512
      Role: !GetAtt LambdaRole.Arn
      Environment:
        Variables:
          S3_ACCESS_POINT_ALIAS: !Ref S3AccessPointAlias
          OUTPUT_BUCKET: !Ref OutputBucket

  ReportFunction:
    Type: AWS::Serverless::Function
    Properties:
      Handler: handler.handler
      Runtime: python3.12
      CodeUri: functions/report/
      Timeout: 60
      MemorySize: 256
      Role: !GetAtt LambdaRole.Arn
      Environment:
        Variables:
          OUTPUT_BUCKET: !Ref OutputBucket
          NOTIFICATION_TOPIC_ARN: !Ref NotificationTopic

  ResearchWorkflow:
    Type: AWS::Serverless::StateMachine
    Properties:
      Name: life-sciences-research-analytics
      Definition:
        Comment: Life Sciences Research Analytics Workflow
        StartAt: Discovery
        States:
          Discovery:
            Type: Task
            Resource: !GetAtt DiscoveryFunction.Arn
            ResultPath: $.discovery
            Next: ProcessData
          ProcessData:
            Type: Map
            ItemsPath: $.discovery.objects
            MaxConcurrency: 5
            Iterator:
              StartAt: Classify
              States:
                Classify:
                  Type: Task
                  Resource: !GetAtt ClassificationFunction.Arn
                  ResultPath: $.classification
                  Next: ExtractMetadata
                ExtractMetadata:
                  Type: Task
                  Resource: !GetAtt MetadataFunction.Arn
                  ResultPath: $.metadata
                  End: true
            ResultPath: $.processed
            Next: GenerateReport
          GenerateReport:
            Type: Task
            Resource: !GetAtt ReportFunction.Arn
            End: true
      Role: !GetAtt StepFunctionsRole.Arn

  StepFunctionsRole:
    Type: AWS::IAM::Role
    Properties:
      AssumeRolePolicyDocument:
        Version: '2012-10-17'
        Statement:
          - Effect: Allow
            Principal:
              Service: states.amazonaws.com
            Action: sts:AssumeRole
      Policies:
        - PolicyName: InvokeLambda
          PolicyDocument:
            Version: '2012-10-17'
            Statement:
              - Effect: Allow
                Action: lambda:InvokeFunction
                Resource:
                  - !GetAtt DiscoveryFunction.Arn
                  - !GetAtt ClassificationFunction.Arn
                  - !GetAtt MetadataFunction.Arn
                  - !GetAtt ReportFunction.Arn

  AnalyticsSchedule:
    Type: AWS::Scheduler::Schedule
    Properties:
      ScheduleExpression: !Ref ScheduleExpression
      FlexibleTimeWindow:
        Mode: 'OFF'
      Target:
        Arn: !GetAtt ResearchWorkflow.Arn
        RoleArn: !GetAtt SchedulerRole.Arn
        Input: '{}'

  SchedulerRole:
    Type: AWS::IAM::Role
    Properties:
      AssumeRolePolicyDocument:
        Version: '2012-10-17'
        Statement:
          - Effect: Allow
            Principal:
              Service: scheduler.amazonaws.com
            Action: sts:AssumeRole
      Policies:
        - PolicyName: StartExecution
          PolicyDocument:
            Version: '2012-10-17'
            Statement:
              - Effect: Allow
                Action: states:StartExecution
                Resource: !GetAtt ResearchWorkflow.Arn

Outputs:
  StateMachineArn:
    Value: !GetAtt ResearchWorkflow.Arn
  OutputBucketName:
    Value: !Ref OutputBucket
