solutions/industry/transportation-maintenance/template.yaml
AWSTemplateFormatVersion: "2010-09-09"
Transform: AWS::Serverless-2016-10-31
Description: >-
  UC22: 運輸・鉄道業界 — 設備点検画像分析/保守レポート管理
  FSx for NetApp ONTAP S3 Access Points を活用した鉄道インフラ劣化検出、
  重大度分類、保守優先度ランキングのサーバーレスワークフロー。
  安全重要インフラ（橋梁、信号、レール接合部）に対して低閾値（60%）を適用。

# =====================================================================
# Parameters — Layer 1 (共通) + Layer 2 (拡張) + Layer 3 (TriggerMode) + Layer 4 (UC固有)
# =====================================================================
Parameters:
  # --- Layer 1: Phase 1 共通 ---
  S3AccessPointAlias:
    Type: String
    Description: FSx for ONTAP S3 Access Point Alias (入力読み取り用)
    AllowedPattern: "^[a-z0-9-]+-ext-s3alias$"

  S3AccessPointName:
    Type: String
    Default: ""
    Description: 入力用 S3 Access Point の名前（IAM ARN 用）

  S3AccessPointOutputAlias:
    Type: String
    Description: FSx for ONTAP S3 Access Point Alias (出力書き込み用)
    AllowedPattern: "^[a-z0-9-]+-ext-s3alias$"

  OntapSecretName:
    Type: String
    Description: ONTAP REST API 認証情報の Secrets Manager シークレット名

  OntapManagementIp:
    Type: String
    Description: ONTAP クラスタ管理 IP アドレス
    AllowedPattern: "^\\d{1,3}\\.\\d{1,3}\\.\\d{1,3}\\.\\d{1,3}$"

  SvmUuid:
    Type: String
    Description: ONTAP SVM UUID

  ScheduleExpression:
    Type: String
    Default: "cron(0 0 * * ? *)"
    Description: "EventBridge Scheduler スケジュール式"

  VpcId:
    Type: AWS::EC2::VPC::Id
    Description: VPC ID

  PrivateSubnetIds:
    Type: List<AWS::EC2::Subnet::Id>
    Description: プライベートサブネット ID リスト

  PrivateRouteTableIds:
    Type: CommaDelimitedList
    Description: プライベートサブネットのルートテーブル ID リスト

  OutputBucketName:
    Type: String
    Default: ""
    Description: 出力バケット名（空の場合は自動作成）

  NotificationEmail:
    Type: String
    Description: SNS 通知の送信先メールアドレス

  # --- Layer 2: Phase 2 拡張 ---
  MapConcurrency:
    Type: Number
    Default: 10
    MinValue: 1
    MaxValue: 100

  LambdaMemorySize:
    Type: Number
    Default: 512
    AllowedValues: [128, 256, 512, 1024, 2048]

  LambdaTimeout:
    Type: Number
    Default: 300
    MinValue: 30
    MaxValue: 900

  EnableCloudWatchAlarms:
    Type: String
    Default: "true"
    AllowedValues: ["true", "false"]
    Description: CloudWatch Alarms を有効化する（安全重要インフラのため default=true）

  EnableVpcEndpoints:
    Type: String
    Default: "false"
    AllowedValues: ["true", "false"]

  EnableXRayTracing:
    Type: String
    Default: "true"
    AllowedValues: ["true", "false"]

  EnableS3GatewayEndpoint:
    Type: String
    Default: "true"
    AllowedValues: ["true", "false"]

  BedrockModelId:
    Type: String
    Default: "anthropic.claude-haiku-4-5-20251001-v1:0"
    Description: Bedrock モデル ID（重大度分類用）

  # --- Layer 3: TriggerMode ---
  TriggerMode:
    Type: String
    Default: "POLLING"
    AllowedValues: ["POLLING", "EVENT_DRIVEN", "HYBRID"]

  FPolicyEventBusName:
    Type: String
    Default: "fsxn-fpolicy-events"

  # --- Layer 4: UC22 固有 (Safety-Critical Parameters) ---
  CrossRegionTextractRegion:
    Type: String
    Default: "us-east-1"
    Description: Textract を実行するリージョン (Cross-Region)

  StandardConfidenceThreshold:
    Type: Number
    Default: 80
    MinValue: 1
    MaxValue: 100
    Description: 標準インフラの Rekognition 信頼度閾値 (%)

  SafetyCriticalConfidenceThreshold:
    Type: Number
    Default: 60
    MinValue: 1
    MaxValue: 100
    Description: 安全重要インフラの Rekognition 信頼度閾値 (%)

  HumanReviewThreshold:
    Type: Number
    Default: 90
    MinValue: 1
    MaxValue: 100
    Description: 人間レビューフラグ閾値 — この値未満はすべてフラグ (%)

  MinImageWidth:
    Type: Number
    Default: 1024
    MinValue: 1
    Description: 点検画像の最低幅 (px)

  MinImageHeight:
    Type: Number
    Default: 768
    MinValue: 1
    Description: 点検画像の最低高さ (px)

  SafetyCriticalCategories:
    Type: String
    Default: "bridges,signaling,rail-joints"
    Description: 安全重要カテゴリ (カンマ区切り)

  InspectionPrefix:
    Type: String
    Default: "inspections/"
    Description: 点検画像の S3 プレフィックス

  MaintenancePrefix:
    Type: String
    Default: "maintenance-reports/"
    Description: 保守報告書の S3 プレフィックス

# =====================================================================
# Conditions
# =====================================================================
Conditions:
  HasS3AccessPointName:
    !Not [!Equals [!Ref S3AccessPointName, ""]]
  HasOutputBucketName:
    !Not [!Equals [!Ref OutputBucketName, ""]]
  CreateVpcEndpoints:
    !Equals [!Ref EnableVpcEndpoints, "true"]
  CreateCloudWatchAlarms:
    !Equals [!Ref EnableCloudWatchAlarms, "true"]
  CreateS3GatewayEndpoint:
    !Equals [!Ref EnableS3GatewayEndpoint, "true"]
  EnableXRay:
    !Equals [!Ref EnableXRayTracing, "true"]
  IsPolling:
    !Equals [!Ref TriggerMode, "POLLING"]
  IsEventDriven:
    !Equals [!Ref TriggerMode, "EVENT_DRIVEN"]
  IsHybrid:
    !Equals [!Ref TriggerMode, "HYBRID"]
  IsPollingOrHybrid:
    !Or
      - !Condition IsPolling
      - !Condition IsHybrid
  IsEventDrivenOrHybrid:
    !Or
      - !Condition IsEventDriven
      - !Condition IsHybrid

# =====================================================================
# Resources
# =====================================================================
Resources:

  SharedLayer:
    Type: AWS::Serverless::LayerVersion
    Properties:
      LayerName: !Sub "${AWS::StackName}-shared"
      Description: Shared Python modules (s3ap_helper, ontap_client, observability, etc.)
      ContentUri: ../../../
      CompatibleRuntimes:
        - python3.12
        - python3.13
      CompatibleArchitectures:
        - arm64
        - x86_64
    Metadata:
      BuildMethod: makefile
      BuildArchitecture: arm64

  # -----------------------------------------------------------------
  # Output Bucket (conditional)
  # -----------------------------------------------------------------
  OutputBucket:
    Type: AWS::S3::Bucket
    Condition: HasOutputBucketName
    DeletionPolicy: Retain
    UpdateReplacePolicy: Retain
    Properties:
      BucketName: !Ref OutputBucketName
      BucketEncryption:
        ServerSideEncryptionConfiguration:
          - ServerSideEncryptionByDefault:
              SSEAlgorithm: aws:kms
      PublicAccessBlockConfiguration:
        BlockPublicAcls: true
        BlockPublicPolicy: true
        IgnorePublicAcls: true
        RestrictPublicBuckets: true
      VersioningConfiguration:
        Status: Enabled
      Tags:
        - Key: UseCase
          Value: transportation-maintenance

  # -----------------------------------------------------------------
  # SNS Topic + Email Subscription
  # -----------------------------------------------------------------
  NotificationTopic:
    Type: AWS::SNS::Topic
    Properties:
      TopicName: !Sub "${AWS::StackName}-notifications"
      KmsMasterKeyId: alias/aws/sns

  EmailSubscription:
    Type: AWS::SNS::Subscription
    Properties:
      TopicArn: !Ref NotificationTopic
      Protocol: email
      Endpoint: !Ref NotificationEmail

  # -----------------------------------------------------------------
  # Lambda Security Group
  # -----------------------------------------------------------------
  LambdaSecurityGroup:
    Type: AWS::EC2::SecurityGroup
    Properties:
      GroupDescription: !Sub "${AWS::StackName} - Lambda functions security group"
      VpcId: !Ref VpcId
      SecurityGroupEgress:
        - IpProtocol: tcp
          FromPort: 443
          ToPort: 443
          CidrIp: 0.0.0.0/0
          Description: Allow HTTPS outbound
      Tags:
        - Key: Name
          Value: !Sub "${AWS::StackName}-lambda-sg"

  # -----------------------------------------------------------------
  # S3 Gateway Endpoint (conditional)
  # -----------------------------------------------------------------
  S3GatewayEndpoint:
    Condition: CreateS3GatewayEndpoint
    Type: AWS::EC2::VPCEndpoint
    Properties:
      VpcId: !Ref VpcId
      ServiceName: !Sub "com.amazonaws.${AWS::Region}.s3"
      VpcEndpointType: Gateway
      RouteTableIds: !Ref PrivateRouteTableIds

  # -----------------------------------------------------------------
  # CloudWatch Log Groups
  # -----------------------------------------------------------------
  DiscoveryLogGroup:
    Type: AWS::Logs::LogGroup
    Properties:
      LogGroupName: !Sub "/aws/lambda/${AWS::StackName}-discovery"
      RetentionInDays: 14

  DeteriorationDetectorLogGroup:
    Type: AWS::Logs::LogGroup
    Properties:
      LogGroupName: !Sub "/aws/lambda/${AWS::StackName}-deterioration-detector"
      RetentionInDays: 14

  MaintenanceExtractorLogGroup:
    Type: AWS::Logs::LogGroup
    Properties:
      LogGroupName: !Sub "/aws/lambda/${AWS::StackName}-maintenance-extractor"
      RetentionInDays: 14

  ReportLogGroup:
    Type: AWS::Logs::LogGroup
    Properties:
      LogGroupName: !Sub "/aws/lambda/${AWS::StackName}-report"
      RetentionInDays: 14

  # -----------------------------------------------------------------
  # IAM Roles
  # -----------------------------------------------------------------
  DiscoveryLambdaRole:
    Type: AWS::IAM::Role
    Properties:
      RoleName: !Sub "${AWS::StackName}-discovery-role"
      AssumeRolePolicyDocument:
        Version: "2012-10-17"
        Statement:
          - Effect: Allow
            Principal:
              Service: lambda.amazonaws.com
            Action: sts:AssumeRole
      ManagedPolicyArns:
        - arn:aws:iam::aws:policy/service-role/AWSLambdaVPCAccessExecutionRole
      Policies:
        - PolicyName: DiscoveryPolicy
          PolicyDocument:
            Version: "2012-10-17"
            Statement:
              - Sid: S3AccessPointRead
                Effect: Allow
                Action:
                  - s3:ListBucket
                  - s3:GetObject
                Resource:
                  - !Sub "arn:aws:s3:::${S3AccessPointAlias}"
                  - !Sub "arn:aws:s3:::${S3AccessPointAlias}/*"
                  - !If
                    - HasS3AccessPointName
                    - !Sub "arn:aws:s3:${AWS::Region}:${AWS::AccountId}:accesspoint/${S3AccessPointName}"
                    - !Ref AWS::NoValue
                  - !If
                    - HasS3AccessPointName
                    - !Sub "arn:aws:s3:${AWS::Region}:${AWS::AccountId}:accesspoint/${S3AccessPointName}/object/*"
                    - !Ref AWS::NoValue
              - Sid: S3AccessPointOutput
                Effect: Allow
                Action:
                  - s3:PutObject
                Resource:
                  - !Sub "arn:aws:s3:::${S3AccessPointOutputAlias}/*"
              - Sid: SecretsManager
                Effect: Allow
                Action:
                  - secretsmanager:GetSecretValue
                Resource:
                  - !Sub "arn:aws:secretsmanager:${AWS::Region}:${AWS::AccountId}:secret:${OntapSecretName}*"
              - Sid: CloudWatchLogs
                Effect: Allow
                Action:
                  - logs:CreateLogStream
                  - logs:PutLogEvents
                Resource:
                  - !GetAtt DiscoveryLogGroup.Arn
                  - !Sub "${DiscoveryLogGroup.Arn}:*"
              - Sid: XRayTracing
                Effect: Allow
                Action:
                  - xray:PutTraceSegments
                  - xray:PutTelemetryRecords
                Resource: "*"

  DeteriorationDetectorLambdaRole:
    Type: AWS::IAM::Role
    Properties:
      RoleName: !Sub "${AWS::StackName}-deterioration-detector-role"
      AssumeRolePolicyDocument:
        Version: "2012-10-17"
        Statement:
          - Effect: Allow
            Principal:
              Service: lambda.amazonaws.com
            Action: sts:AssumeRole
      ManagedPolicyArns:
        - arn:aws:iam::aws:policy/service-role/AWSLambdaBasicExecutionRole
      Policies:
        - PolicyName: DeteriorationDetectorPolicy
          PolicyDocument:
            Version: "2012-10-17"
            Statement:
              - Sid: S3AccessPointRead
                Effect: Allow
                Action:
                  - s3:GetObject
                Resource:
                  - !Sub "arn:aws:s3:::${S3AccessPointAlias}/*"
                  - !If
                    - HasS3AccessPointName
                    - !Sub "arn:aws:s3:${AWS::Region}:${AWS::AccountId}:accesspoint/${S3AccessPointName}/object/*"
                    - !Ref AWS::NoValue
              # Rekognition does not support resource-level IAM policies (Resource: "*" is required)
              # See: https://docs.aws.amazon.com/rekognition/latest/dg/security_iam_service-with-iam.html
              - Sid: Rekognition
                Effect: Allow
                Action:
                  - rekognition:DetectLabels
                Resource: "*"
              - Sid: Bedrock
                Effect: Allow
                Action:
                  - bedrock:InvokeModel
                Resource:
                  - !Sub "arn:aws:bedrock:${AWS::Region}::foundation-model/${BedrockModelId}"
              - Sid: CloudWatchLogs
                Effect: Allow
                Action:
                  - logs:CreateLogStream
                  - logs:PutLogEvents
                Resource:
                  - !GetAtt DeteriorationDetectorLogGroup.Arn
                  - !Sub "${DeteriorationDetectorLogGroup.Arn}:*"
              - Sid: XRayTracing
                Effect: Allow
                Action:
                  - xray:PutTraceSegments
                  - xray:PutTelemetryRecords
                Resource: "*"

  MaintenanceExtractorLambdaRole:
    Type: AWS::IAM::Role
    Properties:
      RoleName: !Sub "${AWS::StackName}-maintenance-extractor-role"
      AssumeRolePolicyDocument:
        Version: "2012-10-17"
        Statement:
          - Effect: Allow
            Principal:
              Service: lambda.amazonaws.com
            Action: sts:AssumeRole
      ManagedPolicyArns:
        - arn:aws:iam::aws:policy/service-role/AWSLambdaBasicExecutionRole
      Policies:
        - PolicyName: MaintenanceExtractorPolicy
          PolicyDocument:
            Version: "2012-10-17"
            Statement:
              - Sid: S3AccessPointRead
                Effect: Allow
                Action:
                  - s3:GetObject
                Resource:
                  - !Sub "arn:aws:s3:::${S3AccessPointAlias}/*"
                  - !If
                    - HasS3AccessPointName
                    - !Sub "arn:aws:s3:${AWS::Region}:${AWS::AccountId}:accesspoint/${S3AccessPointName}/object/*"
                    - !Ref AWS::NoValue
              - Sid: TextractCrossRegion
                Effect: Allow
                Action:
                  - textract:AnalyzeDocument
                  - textract:DetectDocumentText
                Resource: "*"
              - Sid: Comprehend
                Effect: Allow
                Action:
                  - comprehend:DetectEntities
                  - comprehend:DetectKeyPhrases
                  - comprehend:DetectDominantLanguage
                Resource: "*"
              - Sid: CloudWatchLogs
                Effect: Allow
                Action:
                  - logs:CreateLogStream
                  - logs:PutLogEvents
                Resource:
                  - !GetAtt MaintenanceExtractorLogGroup.Arn
                  - !Sub "${MaintenanceExtractorLogGroup.Arn}:*"
              - Sid: XRayTracing
                Effect: Allow
                Action:
                  - xray:PutTraceSegments
                  - xray:PutTelemetryRecords
                Resource: "*"

  ReportLambdaRole:
    Type: AWS::IAM::Role
    Properties:
      RoleName: !Sub "${AWS::StackName}-report-role"
      AssumeRolePolicyDocument:
        Version: "2012-10-17"
        Statement:
          - Effect: Allow
            Principal:
              Service: lambda.amazonaws.com
            Action: sts:AssumeRole
      ManagedPolicyArns:
        - arn:aws:iam::aws:policy/service-role/AWSLambdaBasicExecutionRole
      Policies:
        - PolicyName: ReportPolicy
          PolicyDocument:
            Version: "2012-10-17"
            Statement:
              - Sid: S3Output
                Effect: Allow
                Action:
                  - s3:PutObject
                Resource:
                  - !Sub "arn:aws:s3:::${S3AccessPointOutputAlias}/*"
              - Sid: SNS
                Effect: Allow
                Action:
                  - sns:Publish
                Resource:
                  - !Ref NotificationTopic
              - Sid: CloudWatchLogs
                Effect: Allow
                Action:
                  - logs:CreateLogStream
                  - logs:PutLogEvents
                Resource:
                  - !GetAtt ReportLogGroup.Arn
                  - !Sub "${ReportLogGroup.Arn}:*"
              - Sid: XRayTracing
                Effect: Allow
                Action:
                  - xray:PutTraceSegments
                  - xray:PutTelemetryRecords
                Resource: "*"

  # -----------------------------------------------------------------
  # Lambda Functions
  # -----------------------------------------------------------------
  DiscoveryFunction:
    Type: AWS::Serverless::Function
    Properties:
      Tracing: !If [EnableXRay, "Active", "PassThrough"]
      FunctionName: !Sub "${AWS::StackName}-discovery"
      Runtime: python3.12
      Handler: handler.handler
      CodeUri: functions/discovery/
      Layers:
        - !Ref SharedLayer
      MemorySize: !Ref LambdaMemorySize
      Timeout: !Ref LambdaTimeout
      Role: !GetAtt DiscoveryLambdaRole.Arn
      VpcConfig:
        SecurityGroupIds:
          - !Ref LambdaSecurityGroup
        SubnetIds: !Ref PrivateSubnetIds
      Environment:
        Variables:
          USE_CASE: "transportation-maintenance"
          S3_ACCESS_POINT: !Ref S3AccessPointAlias
          S3_ACCESS_POINT_OUTPUT: !Ref S3AccessPointOutputAlias
          INSPECTION_PREFIX: !Ref InspectionPrefix
          MAINTENANCE_PREFIX: !Ref MaintenancePrefix
          ONTAP_SECRET_NAME: !Ref OntapSecretName
          ONTAP_MANAGEMENT_IP: !Ref OntapManagementIp
          SVM_UUID: !Ref SvmUuid
          VERIFY_SSL: "false"
      LoggingConfig:
        LogGroup: !Ref DiscoveryLogGroup
      Tags:
        UseCase: transportation-maintenance

  DeteriorationDetectorFunction:
    Type: AWS::Serverless::Function
    Properties:
      Tracing: !If [EnableXRay, "Active", "PassThrough"]
      FunctionName: !Sub "${AWS::StackName}-deterioration-detector"
      Runtime: python3.12
      Handler: handler.handler
      CodeUri: functions/deterioration_detector/
      Layers:
        - !Ref SharedLayer
      MemorySize: !Ref LambdaMemorySize
      Timeout: !Ref LambdaTimeout
      Role: !GetAtt DeteriorationDetectorLambdaRole.Arn
      Environment:
        Variables:
          USE_CASE: "transportation-maintenance"
          S3_ACCESS_POINT: !Ref S3AccessPointAlias
          S3_ACCESS_POINT_OUTPUT: !Ref S3AccessPointOutputAlias
          BEDROCK_MODEL_ID: !Ref BedrockModelId
          STANDARD_CONFIDENCE_THRESHOLD: !Ref StandardConfidenceThreshold
          SAFETY_CRITICAL_CONFIDENCE_THRESHOLD: !Ref SafetyCriticalConfidenceThreshold
          HUMAN_REVIEW_THRESHOLD: !Ref HumanReviewThreshold
          MIN_IMAGE_WIDTH: !Ref MinImageWidth
          MIN_IMAGE_HEIGHT: !Ref MinImageHeight
          SAFETY_CRITICAL_CATEGORIES: !Ref SafetyCriticalCategories
      LoggingConfig:
        LogGroup: !Ref DeteriorationDetectorLogGroup
      Tags:
        UseCase: transportation-maintenance

  MaintenanceExtractorFunction:
    Type: AWS::Serverless::Function
    Properties:
      Tracing: !If [EnableXRay, "Active", "PassThrough"]
      FunctionName: !Sub "${AWS::StackName}-maintenance-extractor"
      Runtime: python3.12
      Handler: handler.handler
      CodeUri: functions/maintenance_extractor/
      Layers:
        - !Ref SharedLayer
      MemorySize: !Ref LambdaMemorySize
      Timeout: !Ref LambdaTimeout
      Role: !GetAtt MaintenanceExtractorLambdaRole.Arn
      Environment:
        Variables:
          USE_CASE: "transportation-maintenance"
          S3_ACCESS_POINT: !Ref S3AccessPointAlias
          S3_ACCESS_POINT_OUTPUT: !Ref S3AccessPointOutputAlias
          CROSS_REGION_TEXTRACT_REGION: !Ref CrossRegionTextractRegion
      LoggingConfig:
        LogGroup: !Ref MaintenanceExtractorLogGroup
      Tags:
        UseCase: transportation-maintenance

  ReportFunction:
    Type: AWS::Serverless::Function
    Properties:
      Tracing: !If [EnableXRay, "Active", "PassThrough"]
      FunctionName: !Sub "${AWS::StackName}-report"
      Runtime: python3.12
      Handler: handler.handler
      CodeUri: functions/report/
      Layers:
        - !Ref SharedLayer
      MemorySize: !Ref LambdaMemorySize
      Timeout: !Ref LambdaTimeout
      Role: !GetAtt ReportLambdaRole.Arn
      Environment:
        Variables:
          USE_CASE: "transportation-maintenance"
          S3_ACCESS_POINT_OUTPUT: !Ref S3AccessPointOutputAlias
          SNS_TOPIC_ARN: !Ref NotificationTopic
      LoggingConfig:
        LogGroup: !Ref ReportLogGroup
      Tags:
        UseCase: transportation-maintenance

  # -----------------------------------------------------------------
  # Step Functions State Machine
  # Discovery → DeteriorationDetectorMap → MaintenanceExtractorMap → Report
  # -----------------------------------------------------------------
  StateMachineRole:
    Type: AWS::IAM::Role
    Properties:
      RoleName: !Sub "${AWS::StackName}-sfn-role"
      AssumeRolePolicyDocument:
        Version: "2012-10-17"
        Statement:
          - Effect: Allow
            Principal:
              Service: states.amazonaws.com
            Action: sts:AssumeRole
      Policies:
        - PolicyName: StepFunctionsPolicy
          PolicyDocument:
            Version: "2012-10-17"
            Statement:
              - Sid: InvokeLambda
                Effect: Allow
                Action:
                  - lambda:InvokeFunction
                Resource:
                  - !GetAtt DiscoveryFunction.Arn
                  - !GetAtt DeteriorationDetectorFunction.Arn
                  - !GetAtt MaintenanceExtractorFunction.Arn
                  - !GetAtt ReportFunction.Arn

  TransportationStateMachine:
    Type: AWS::StepFunctions::StateMachine
    Properties:
      TracingConfiguration:
        Enabled: !If [EnableXRay, true, false]
      StateMachineName: !Sub "${AWS::StackName}-workflow"
      RoleArn: !GetAtt StateMachineRole.Arn
      DefinitionString: !Sub |
        {
          "Comment": "UC22: Transportation Maintenance - Discovery → DeteriorationDetectorMap → MaintenanceExtractorMap → Report",
          "StartAt": "Discovery",
          "States": {
            "Discovery": {
              "Type": "Task",
              "Resource": "${DiscoveryFunction.Arn}",
              "ResultPath": "$.discovery",
              "Next": "DeteriorationDetectorMap",
              "Retry": [
                {
                  "ErrorEquals": ["States.TaskFailed"],
                  "IntervalSeconds": 5,
                  "MaxAttempts": 2,
                  "BackoffRate": 2.0
                }
              ]
            },
            "DeteriorationDetectorMap": {
              "Type": "Map",
              "ItemsPath": "$.discovery.inspection_images",
              "MaxConcurrency": ${MapConcurrency},
              "ResultPath": "$.deterioration_results",
              "Next": "MaintenanceExtractorMap",
              "ItemProcessor": {
                "ProcessorConfig": { "Mode": "INLINE" },
                "StartAt": "DetectDeterioration",
                "States": {
                  "DetectDeterioration": {
                    "Type": "Task",
                    "Resource": "${DeteriorationDetectorFunction.Arn}",
                    "Retry": [
                      {
                        "ErrorEquals": ["States.TaskFailed"],
                        "IntervalSeconds": 10,
                        "MaxAttempts": 3,
                        "BackoffRate": 2.0
                      }
                    ],
                    "Catch": [
                      {
                        "ErrorEquals": ["States.ALL"],
                        "ResultPath": "$.error",
                        "Next": "MarkDetectionFailed"
                      }
                    ],
                    "End": true
                  },
                  "MarkDetectionFailed": {
                    "Type": "Pass",
                    "Result": {"status": "FAILED"},
                    "End": true
                  }
                }
              }
            },
            "MaintenanceExtractorMap": {
              "Type": "Map",
              "ItemsPath": "$.discovery.maintenance_reports",
              "MaxConcurrency": ${MapConcurrency},
              "ResultPath": "$.maintenance_results",
              "Next": "GenerateReport",
              "ItemProcessor": {
                "ProcessorConfig": { "Mode": "INLINE" },
                "StartAt": "ExtractMaintenance",
                "States": {
                  "ExtractMaintenance": {
                    "Type": "Task",
                    "Resource": "${MaintenanceExtractorFunction.Arn}",
                    "Retry": [
                      {
                        "ErrorEquals": ["States.TaskFailed"],
                        "IntervalSeconds": 10,
                        "MaxAttempts": 3,
                        "BackoffRate": 2.0
                      }
                    ],
                    "Catch": [
                      {
                        "ErrorEquals": ["States.ALL"],
                        "ResultPath": "$.error",
                        "Next": "MarkExtractionFailed"
                      }
                    ],
                    "End": true
                  },
                  "MarkExtractionFailed": {
                    "Type": "Pass",
                    "Result": {"status": "FAILED"},
                    "End": true
                  }
                }
              }
            },
            "GenerateReport": {
              "Type": "Task",
              "Resource": "${ReportFunction.Arn}",
              "End": true
            }
          }
        }

  # -----------------------------------------------------------------
  # EventBridge Scheduler (conditional)
  # -----------------------------------------------------------------
  SchedulerRole:
    Type: AWS::IAM::Role
    Condition: IsPollingOrHybrid
    Properties:
      RoleName: !Sub "${AWS::StackName}-scheduler-role"
      AssumeRolePolicyDocument:
        Version: "2012-10-17"
        Statement:
          - Effect: Allow
            Principal:
              Service: scheduler.amazonaws.com
            Action: sts:AssumeRole
      Policies:
        - PolicyName: StartExecution
          PolicyDocument:
            Version: "2012-10-17"
            Statement:
              - Effect: Allow
                Action: states:StartExecution
                Resource: !GetAtt TransportationStateMachine.Arn

  WorkflowSchedule:
    Type: AWS::Scheduler::Schedule
    Condition: IsPollingOrHybrid
    Properties:
      Name: !Sub "${AWS::StackName}-schedule"
      ScheduleExpression: !Ref ScheduleExpression
      FlexibleTimeWindow:
        Mode: "OFF"
      Target:
        Arn: !GetAtt TransportationStateMachine.Arn
        RoleArn: !GetAtt SchedulerRole.Arn

  # -----------------------------------------------------------------
  # CloudWatch Alarms (conditional)
  # -----------------------------------------------------------------
  StateMachineFailureAlarm:
    Type: AWS::CloudWatch::Alarm
    Condition: CreateCloudWatchAlarms
    Properties:
      AlarmName: !Sub "${AWS::StackName}-sfn-failures"
      AlarmDescription: Step Functions execution failures
      Namespace: AWS/States
      MetricName: ExecutionsFailed
      Dimensions:
        - Name: StateMachineArn
          Value: !GetAtt TransportationStateMachine.Arn
      Statistic: Sum
      Period: 300
      EvaluationPeriods: 1
      Threshold: 1
      ComparisonOperator: GreaterThanOrEqualToThreshold
      AlarmActions:
        - !Ref NotificationTopic

# =====================================================================
# Outputs
# =====================================================================
Outputs:
  StateMachineArn:
    Value: !GetAtt TransportationStateMachine.Arn
    Description: Step Functions State Machine ARN

  DiscoveryFunctionArn:
    Value: !GetAtt DiscoveryFunction.Arn

  DeteriorationDetectorFunctionArn:
    Value: !GetAtt DeteriorationDetectorFunction.Arn

  MaintenanceExtractorFunctionArn:
    Value: !GetAtt MaintenanceExtractorFunction.Arn

  ReportFunctionArn:
    Value: !GetAtt ReportFunction.Arn

  NotificationTopicArn:
    Value: !Ref NotificationTopic
