legal-compliance/template-deploy.yaml
AWSTemplateFormatVersion: "2010-09-09"
Description: >-
  UC1: 法務・コンプライアンス（ファイルサーバー監査・データガバナンス）
  FSx for NetApp ONTAP S3 Access Points を活用した NTFS ACL 監査、
  Athena 分析、Bedrock レポート生成のサーバーレスワークフロー。

# =====================================================================
# Parameters — shared/cfn/common-parameters.yaml + UC1 固有
# =====================================================================
Parameters:
  DeployBucket:
    Type: String
    Description: S3 bucket containing Lambda deployment packages

  S3AccessPointAlias:
    Type: String
    Description: FSx ONTAP S3 Access Point Alias (入力読み取り用)
    AllowedPattern: "^[a-z0-9-]+-ext-s3alias$"

  S3AccessPointOutputAlias:
    Type: String
    Default: ""
    Description: |
      (legacy, optional) FSx ONTAP S3 Access Point Alias (出力書き込み用)。
      空の場合は OutputS3APAlias または S3AccessPointAlias にフォールバック。
      新規デプロイでは OutputS3APAlias を使用することを推奨。
    AllowedPattern: "^$|^[a-z0-9-]+-ext-s3alias$"

  OutputDestination:
    Type: String
    Default: "FSXN_S3AP"
    AllowedValues: ["STANDARD_S3", "FSXN_S3AP"]
    Description: |
      AI/ML 成果物の書き込み先。デフォルトは "FSXN_S3AP" (従来どおり FSxN ボリュームに直接書き込み)。
      "STANDARD_S3" にすると新規 S3 バケットを作成して書き込む (Pattern C と同等)。
      Pattern A UC (UC1-5) では FSXN_S3AP がデフォルト値。
      詳細: docs/output-destination-patterns.md

  OutputS3APAlias:
    Type: String
    Default: ""
    Description: |
      OutputDestination=FSXN_S3AP 時の出力先 S3 Access Point Alias。
      空の場合は S3AccessPointOutputAlias (legacy) または S3AccessPointAlias (入力 AP) にフォールバック。

  OutputS3APPrefix:
    Type: String
    Default: ""
    Description: |
      OutputDestination=FSXN_S3AP 時、全出力キーに付与するプレフィックス。
      UC1-5 では通常空文字 (現行キー構造を維持)。必要に応じて "ai-outputs/" 等を指定可能。

  S3AccessPointName:
    Type: String
    Default: ""
    Description: |
      入力用 S3 Access Point の名前 (alias ではなく)。指定すると AP ARN 形式でも
      IAM アクセスを許可する (FSxN S3AP の permission 判定で両形式をサポート)。

  OutputS3APName:
    Type: String
    Default: ""
    Description: |
      出力用 S3 AP の名前。空なら S3AccessPointName を再利用。

  OntapSecretName:
    Type: String
    Description: ONTAP REST API 認証情報の Secrets Manager シークレット名

  OntapManagementIp:
    Type: String
    Description: ONTAP クラスタ管理 IP アドレス
    AllowedPattern: "^\\d{1,3}\\.\\d{1,3}\\.\\d{1,3}\\.\\d{1,3}$"

  SvmUuid:
    Type: String
    Description: ONTAP SVM UUID

  VolumeUuid:
    Type: String
    Description: ONTAP ボリューム UUID

  ScheduleExpression:
    Type: String
    Default: "rate(1 hour)"
    Description: EventBridge Scheduler のスケジュール式

  VpcId:
    Type: AWS::EC2::VPC::Id
    Description: Lambda 関数と VPC Endpoints を配置する VPC ID

  PrivateSubnetIds:
    Type: List<AWS::EC2::Subnet::Id>
    Description: Lambda 関数を配置するプライベートサブネット ID リスト

  PrivateRouteTableIds:
    Type: CommaDelimitedList
    Description: プライベートサブネットのルートテーブル ID リスト（S3 Gateway Endpoint 関連付け用、カンマ区切り）

  NotificationEmail:
    Type: String
    Description: SNS 通知の送信先メールアドレス

  EnableVpcEndpoints:
    Type: String
    Default: "false"
    AllowedValues: ["true", "false"]
    Description: Interface VPC Endpoints を有効化する（月額 ~$28.80）

  EnableCloudWatchAlarms:
    Type: String
    Default: "false"
    AllowedValues: ["true", "false"]
    Description: CloudWatch Alarms を有効化する

  EnableS3GatewayEndpoint:
    Type: String
    Default: "true"
    AllowedValues: ["true", "false"]
    Description: S3 Gateway VPC Endpoint を作成する（同一 VPC に既存の場合は false）

  EnableAthenaWorkgroup:
    Type: String
    Default: "true"
    AllowedValues: ["true", "false"]
    Description: Athena Workgroup / Glue Data Catalog を有効化する

  BedrockModelId:
    Type: String
    Default: "amazon.nova-lite-v1:0"
    Description: Bedrock モデル ID（レポート生成用）

  EnableSnapStart:
    Type: String
    Default: "false"
    AllowedValues: ["true", "false"]
    Description: Lambda SnapStart を有効化する（コールドスタート削減）

  EnableEventDriven:
    Type: String
    Default: "false"
    AllowedValues: ["true", "false"]
    Description: |
      S3 Event Notification → EventBridge → Step Functions の自動起動を有効化する。
      有効化すると、S3 AP へのファイル追加時に自動的にワークフローが起動する。
      既存の EventBridge Scheduler (polling) と共存可能。

# =====================================================================
# Conditions
# =====================================================================
Conditions:
  UseStandardS3:
    !Equals [!Ref OutputDestination, "STANDARD_S3"]
  UseFsxnS3AP:
    !Equals [!Ref OutputDestination, "FSXN_S3AP"]
  HasOutputS3APAlias:
    !Not [!Equals [!Ref OutputS3APAlias, ""]]
  HasLegacyOutputAlias:
    !Not [!Equals [!Ref S3AccessPointOutputAlias, ""]]
  HasS3AccessPointName:
    !Not [!Equals [!Ref S3AccessPointName, ""]]
  UseInputApNameAsOutputApName:
    !Equals [!Ref OutputS3APName, ""]

  CreateVpcEndpoints:
    !Equals [!Ref EnableVpcEndpoints, "true"]
  CreateCloudWatchAlarms:
    !Equals [!Ref EnableCloudWatchAlarms, "true"]
  CreateAthenaWorkgroup:
    !Equals [!Ref EnableAthenaWorkgroup, "true"]
  CreateS3GatewayEndpoint:
    !Equals [!Ref EnableS3GatewayEndpoint, "true"]

  SnapStartEnabled:
    !Equals [!Ref EnableSnapStart, "true"]

  EventDrivenEnabled:
    !Equals [!Ref EnableEventDriven, "true"]

# =====================================================================
# Resources
# =====================================================================
Resources:

  # -----------------------------------------------------------------
  # S3 Athena Results Bucket (SSE-KMS)
  # Athena クエリ結果専用。Athena は S3 AP に結果を書き込めないため、
  # 標準 S3 バケットが必要。
  # IMPORTANT: Athena 用の S3 Access Point は 'internet' network origin が必要。
  # Athena はマネージドインフラからアクセスするため、VPC origin の AP はアクセス拒否される。
  # -----------------------------------------------------------------
  AthenaResultsBucket:
    Type: AWS::S3::Bucket
    Properties:
      BucketName: !Sub "${AWS::StackName}-athena-results-${AWS::AccountId}"
      BucketEncryption:
        ServerSideEncryptionConfiguration:
          - ServerSideEncryptionByDefault:
              SSEAlgorithm: aws:kms
      PublicAccessBlockConfiguration:
        BlockPublicAcls: true
        BlockPublicPolicy: true
        IgnorePublicAcls: true
        RestrictPublicBuckets: true
      VersioningConfiguration:
        Status: Enabled
      Tags:
        - Key: UseCase
          Value: legal-compliance

  # -----------------------------------------------------------------
  # SNS Topic + Email Subscription
  # -----------------------------------------------------------------
  NotificationTopic:
    Type: AWS::SNS::Topic
    Properties:
      TopicName: !Sub "${AWS::StackName}-notifications"
      KmsMasterKeyId: alias/aws/sns

  EmailSubscription:
    Type: AWS::SNS::Subscription
    Properties:
      TopicArn: !Ref NotificationTopic
      Protocol: email
      Endpoint: !Ref NotificationEmail

  # -----------------------------------------------------------------
  # Lambda Security Group
  # -----------------------------------------------------------------
  LambdaSecurityGroup:
    Type: AWS::EC2::SecurityGroup
    Properties:
      GroupDescription: !Sub "${AWS::StackName} - Lambda functions security group"
      VpcId: !Ref VpcId
      SecurityGroupEgress:
        - IpProtocol: tcp
          FromPort: 443
          ToPort: 443
          CidrIp: 0.0.0.0/0
          Description: Allow HTTPS outbound
      Tags:
        - Key: Name
          Value: !Sub "${AWS::StackName}-lambda-sg"

  # -----------------------------------------------------------------
  # S3 Gateway Endpoint (always created — free)
  # IMPORTANT: RouteTableIds 必須。未指定の場合、VPC 内 Lambda から
  # S3 / S3 AP へのアクセスがタイムアウトする。
  # -----------------------------------------------------------------
  S3GatewayEndpoint:
    Condition: CreateS3GatewayEndpoint
    Type: AWS::EC2::VPCEndpoint
    Properties:
      VpcId: !Ref VpcId
      ServiceName: !Sub "com.amazonaws.${AWS::Region}.s3"
      VpcEndpointType: Gateway
      RouteTableIds: !Ref PrivateRouteTableIds

  # -----------------------------------------------------------------
  # VPC Endpoint Security Group (conditional)
  # -----------------------------------------------------------------
  VpcEndpointSecurityGroup:
    Type: AWS::EC2::SecurityGroup
    Condition: CreateVpcEndpoints
    Properties:
      GroupDescription: !Sub "${AWS::StackName} - VPC Endpoints security group"
      VpcId: !Ref VpcId
      SecurityGroupIngress:
        - IpProtocol: tcp
          FromPort: 443
          ToPort: 443
          SourceSecurityGroupId: !Ref LambdaSecurityGroup
          Description: Allow HTTPS from Lambda
      Tags:
        - Key: Name
          Value: !Sub "${AWS::StackName}-vpce-sg"

  # -----------------------------------------------------------------
  # Interface VPC Endpoints (conditional)
  # -----------------------------------------------------------------
  SecretsManagerEndpoint:
    Type: AWS::EC2::VPCEndpoint
    Condition: CreateVpcEndpoints
    Properties:
      VpcId: !Ref VpcId
      ServiceName: !Sub "com.amazonaws.${AWS::Region}.secretsmanager"
      VpcEndpointType: Interface
      SubnetIds: !Ref PrivateSubnetIds
      SecurityGroupIds:
        - !Ref VpcEndpointSecurityGroup
      PrivateDnsEnabled: true

  FsxEndpoint:
    Type: AWS::EC2::VPCEndpoint
    Condition: CreateVpcEndpoints
    Properties:
      VpcId: !Ref VpcId
      ServiceName: !Sub "com.amazonaws.${AWS::Region}.fsx"
      VpcEndpointType: Interface
      SubnetIds: !Ref PrivateSubnetIds
      SecurityGroupIds:
        - !Ref VpcEndpointSecurityGroup
      PrivateDnsEnabled: true

  CloudWatchEndpoint:
    Type: AWS::EC2::VPCEndpoint
    Condition: CreateVpcEndpoints
    Properties:
      VpcId: !Ref VpcId
      ServiceName: !Sub "com.amazonaws.${AWS::Region}.monitoring"
      VpcEndpointType: Interface
      SubnetIds: !Ref PrivateSubnetIds
      SecurityGroupIds:
        - !Ref VpcEndpointSecurityGroup
      PrivateDnsEnabled: true

  CloudWatchLogsEndpoint:
    Type: AWS::EC2::VPCEndpoint
    Condition: CreateVpcEndpoints
    Properties:
      VpcId: !Ref VpcId
      ServiceName: !Sub "com.amazonaws.${AWS::Region}.logs"
      VpcEndpointType: Interface
      SubnetIds: !Ref PrivateSubnetIds
      SecurityGroupIds:
        - !Ref VpcEndpointSecurityGroup
      PrivateDnsEnabled: true

  SnsEndpoint:
    Type: AWS::EC2::VPCEndpoint
    Condition: CreateVpcEndpoints
    Properties:
      VpcId: !Ref VpcId
      ServiceName: !Sub "com.amazonaws.${AWS::Region}.sns"
      VpcEndpointType: Interface
      SubnetIds: !Ref PrivateSubnetIds
      SecurityGroupIds:
        - !Ref VpcEndpointSecurityGroup
      PrivateDnsEnabled: true

  # -----------------------------------------------------------------
  # CloudWatch Log Groups (14 day retention)
  # -----------------------------------------------------------------
  DiscoveryLogGroup:
    Type: AWS::Logs::LogGroup
    Properties:
      LogGroupName: !Sub "/aws/lambda/${AWS::StackName}-discovery"
      RetentionInDays: 14

  AclCollectionLogGroup:
    Type: AWS::Logs::LogGroup
    Properties:
      LogGroupName: !Sub "/aws/lambda/${AWS::StackName}-acl-collection"
      RetentionInDays: 14

  AthenaAnalysisLogGroup:
    Type: AWS::Logs::LogGroup
    Properties:
      LogGroupName: !Sub "/aws/lambda/${AWS::StackName}-athena-analysis"
      RetentionInDays: 14

  ReportGenerationLogGroup:
    Type: AWS::Logs::LogGroup
    Properties:
      LogGroupName: !Sub "/aws/lambda/${AWS::StackName}-report-generation"
      RetentionInDays: 14

  # -----------------------------------------------------------------
  # IAM Roles — least-privilege per Lambda
  # -----------------------------------------------------------------
  DiscoveryLambdaRole:
    Type: AWS::IAM::Role
    Properties:
      RoleName: !Sub "${AWS::StackName}-discovery-role"
      AssumeRolePolicyDocument:
        Version: "2012-10-17"
        Statement:
          - Effect: Allow
            Principal:
              Service: lambda.amazonaws.com
            Action: sts:AssumeRole
      ManagedPolicyArns:
        - arn:aws:iam::aws:policy/service-role/AWSLambdaVPCAccessExecutionRole
      Policies:
        - PolicyName: DiscoveryPolicy
          PolicyDocument:
            Version: "2012-10-17"
            Statement:
              - Sid: S3AccessPoint
                Effect: Allow
                Action:
                  - s3:ListBucket
                  - s3:GetObject
                Resource: !If
                  - HasS3AccessPointName
                  - - !Sub "arn:aws:s3:::${S3AccessPointAlias}"
                    - !Sub "arn:aws:s3:::${S3AccessPointAlias}/*"
                    - !Sub "arn:aws:s3:${AWS::Region}:${AWS::AccountId}:accesspoint/${S3AccessPointName}"
                    - !Sub "arn:aws:s3:${AWS::Region}:${AWS::AccountId}:accesspoint/${S3AccessPointName}/*"
                  - - !Sub "arn:aws:s3:::${S3AccessPointAlias}"
                    - !Sub "arn:aws:s3:::${S3AccessPointAlias}/*"
              - Sid: S3AccessPointOutput
                Effect: Allow
                Action:
                  - s3:PutObject
                Resource: !If
                  - HasS3AccessPointName
                  - - !Sub "arn:aws:s3:::${S3AccessPointOutputAlias}/*"
                    - !Sub "arn:aws:s3:${AWS::Region}:${AWS::AccountId}:accesspoint/${S3AccessPointName}/object/*"
                  - - !Sub "arn:aws:s3:::${S3AccessPointOutputAlias}/*"
              - Sid: SecretsManager
                Effect: Allow
                Action:
                  - secretsmanager:GetSecretValue
                Resource:
                  - !Sub "arn:aws:secretsmanager:${AWS::Region}:${AWS::AccountId}:secret:${OntapSecretName}*"
              - Sid: CloudWatchLogs
                Effect: Allow
                Action:
                  - logs:CreateLogStream
                  - logs:PutLogEvents
                Resource:
                  - !GetAtt DiscoveryLogGroup.Arn
                  - !Sub "${DiscoveryLogGroup.Arn}:*"

  AclCollectionLambdaRole:
    Type: AWS::IAM::Role
    Properties:
      RoleName: !Sub "${AWS::StackName}-acl-collection-role"
      AssumeRolePolicyDocument:
        Version: "2012-10-17"
        Statement:
          - Effect: Allow
            Principal:
              Service: lambda.amazonaws.com
            Action: sts:AssumeRole
      ManagedPolicyArns:
        - arn:aws:iam::aws:policy/service-role/AWSLambdaVPCAccessExecutionRole
      Policies:
        - PolicyName: AclCollectionPolicy
          PolicyDocument:
            Version: "2012-10-17"
            Statement:
              - Sid: S3AccessPointOutput
                Effect: Allow
                Action:
                  - s3:PutObject
                Resource:
                  - !Sub "arn:aws:s3:::${S3AccessPointOutputAlias}/*"
              - Sid: SecretsManager
                Effect: Allow
                Action:
                  - secretsmanager:GetSecretValue
                Resource:
                  - !Sub "arn:aws:secretsmanager:${AWS::Region}:${AWS::AccountId}:secret:${OntapSecretName}*"
              - Sid: CloudWatchLogs
                Effect: Allow
                Action:
                  - logs:CreateLogStream
                  - logs:PutLogEvents
                Resource:
                  - !GetAtt AclCollectionLogGroup.Arn
                  - !Sub "${AclCollectionLogGroup.Arn}:*"

  AthenaAnalysisLambdaRole:
    Type: AWS::IAM::Role
    Properties:
      RoleName: !Sub "${AWS::StackName}-athena-analysis-role"
      AssumeRolePolicyDocument:
        Version: "2012-10-17"
        Statement:
          - Effect: Allow
            Principal:
              Service: lambda.amazonaws.com
            Action: sts:AssumeRole
      ManagedPolicyArns:
        - arn:aws:iam::aws:policy/service-role/AWSLambdaBasicExecutionRole
      Policies:
        - PolicyName: AthenaAnalysisPolicy
          PolicyDocument:
            Version: "2012-10-17"
            Statement:
              - Sid: S3AccessPointRead
                Effect: Allow
                Action:
                  - s3:GetObject
                  - s3:ListBucket
                Resource:
                  - !Sub "arn:aws:s3:::${S3AccessPointOutputAlias}"
                  - !Sub "arn:aws:s3:::${S3AccessPointOutputAlias}/*"
              - Sid: AthenaResultsBucket
                Effect: Allow
                Action:
                  - s3:GetObject
                  - s3:PutObject
                  - s3:GetBucketLocation
                  - s3:ListBucket
                Resource:
                  - !GetAtt AthenaResultsBucket.Arn
                  - !Sub "${AthenaResultsBucket.Arn}/*"
              - Sid: Athena
                Effect: Allow
                Action:
                  - athena:StartQueryExecution
                  - athena:GetQueryExecution
                  - athena:GetQueryResults
                  - athena:StopQueryExecution
                Resource:
                  - !Sub "arn:aws:athena:${AWS::Region}:${AWS::AccountId}:workgroup/*"
              - Sid: Glue
                Effect: Allow
                Action:
                  - glue:GetTable
                  - glue:CreateTable
                  - glue:UpdateTable
                  - glue:GetDatabase
                Resource:
                  - !Sub "arn:aws:glue:${AWS::Region}:${AWS::AccountId}:catalog"
                  - !Sub "arn:aws:glue:${AWS::Region}:${AWS::AccountId}:database/*"
                  - !Sub "arn:aws:glue:${AWS::Region}:${AWS::AccountId}:table/*/*"
              - Sid: CloudWatchLogs
                Effect: Allow
                Action:
                  - logs:CreateLogStream
                  - logs:PutLogEvents
                Resource:
                  - !GetAtt AthenaAnalysisLogGroup.Arn
                  - !Sub "${AthenaAnalysisLogGroup.Arn}:*"

  ReportGenerationLambdaRole:
    Type: AWS::IAM::Role
    Properties:
      RoleName: !Sub "${AWS::StackName}-report-generation-role"
      AssumeRolePolicyDocument:
        Version: "2012-10-17"
        Statement:
          - Effect: Allow
            Principal:
              Service: lambda.amazonaws.com
            Action: sts:AssumeRole
      ManagedPolicyArns:
        - arn:aws:iam::aws:policy/service-role/AWSLambdaBasicExecutionRole
      Policies:
        - PolicyName: ReportGenerationPolicy
          PolicyDocument:
            Version: "2012-10-17"
            Statement:
              - Sid: S3AccessPointOutput
                Effect: Allow
                Action:
                  - s3:PutObject
                Resource:
                  - !Sub "arn:aws:s3:::${S3AccessPointOutputAlias}/*"
              - Sid: Bedrock
                Effect: Allow
                Action:
                  - bedrock:InvokeModel
                Resource:
                  - !Sub "arn:aws:bedrock:${AWS::Region}::foundation-model/${BedrockModelId}"
              - Sid: SNS
                Effect: Allow
                Action:
                  - sns:Publish
                Resource:
                  - !Ref NotificationTopic
              - Sid: CloudWatchLogs
                Effect: Allow
                Action:
                  - logs:CreateLogStream
                  - logs:PutLogEvents
                Resource:
                  - !GetAtt ReportGenerationLogGroup.Arn
                  - !Sub "${ReportGenerationLogGroup.Arn}:*"

  # -----------------------------------------------------------------
  # Lambda Functions (Python 3.13, VPC-attached)
  # -----------------------------------------------------------------
  DiscoveryFunction:
    Type: AWS::Lambda::Function
    Properties:
      FunctionName: !Sub "${AWS::StackName}-discovery"
      Runtime: python3.13
      SnapStart:
        !If
          - SnapStartEnabled
          - ApplyOn: PublishedVersions
          - !Ref AWS::NoValue
      Handler: handler.handler
      Code:
        S3Bucket: !Ref DeployBucket
        S3Key: lambda/legal-compliance-discovery.zip
      MemorySize: 512
      Timeout: 900
      Role: !GetAtt DiscoveryLambdaRole.Arn
      VpcConfig:
        SecurityGroupIds:
          - !Ref LambdaSecurityGroup
        SubnetIds: !Ref PrivateSubnetIds
      Environment:
        Variables:
          S3_ACCESS_POINT: !Ref S3AccessPointAlias
          S3_ACCESS_POINT_OUTPUT:
            !If
              - HasOutputS3APAlias
              - !Ref OutputS3APAlias
              - !If
                - HasLegacyOutputAlias
                - !Ref S3AccessPointOutputAlias
                - !Ref S3AccessPointAlias
          OUTPUT_DESTINATION: !Ref OutputDestination
          OUTPUT_S3AP_ALIAS:
            !If
              - UseFsxnS3AP
              - !If
                - HasOutputS3APAlias
                - !Ref OutputS3APAlias
                - !If
                  - HasLegacyOutputAlias
                  - !Ref S3AccessPointOutputAlias
                  - !Ref S3AccessPointAlias
              - ""
          OUTPUT_S3AP_PREFIX: !Ref OutputS3APPrefix
          PREFIX_FILTER: ""
          SUFFIX_FILTER: ""
          ONTAP_SECRET_NAME: !Ref OntapSecretName
          ONTAP_MANAGEMENT_IP: !Ref OntapManagementIp
          SVM_UUID: !Ref SvmUuid
          VERIFY_SSL: "false"
      LoggingConfig:
        LogGroup: !Ref DiscoveryLogGroup
      Tags:
        - Key: UseCase
          Value: legal-compliance

  AclCollectionFunction:
    Type: AWS::Lambda::Function
    Properties:
      FunctionName: !Sub "${AWS::StackName}-acl-collection"
      Runtime: python3.13
      SnapStart:
        !If
          - SnapStartEnabled
          - ApplyOn: PublishedVersions
          - !Ref AWS::NoValue
      Handler: handler.handler
      Code:
        S3Bucket: !Ref DeployBucket
        S3Key: lambda/legal-compliance-acl_collection.zip
      MemorySize: 256
      Timeout: 300
      Role: !GetAtt AclCollectionLambdaRole.Arn
      VpcConfig:
        SecurityGroupIds:
          - !Ref LambdaSecurityGroup
        SubnetIds: !Ref PrivateSubnetIds
      Environment:
        Variables:
          S3_ACCESS_POINT_OUTPUT:
            !If
              - HasOutputS3APAlias
              - !Ref OutputS3APAlias
              - !If
                - HasLegacyOutputAlias
                - !Ref S3AccessPointOutputAlias
                - !Ref S3AccessPointAlias
          OUTPUT_DESTINATION: !Ref OutputDestination
          OUTPUT_S3AP_ALIAS:
            !If
              - UseFsxnS3AP
              - !If
                - HasOutputS3APAlias
                - !Ref OutputS3APAlias
                - !If
                  - HasLegacyOutputAlias
                  - !Ref S3AccessPointOutputAlias
                  - !Ref S3AccessPointAlias
              - ""
          OUTPUT_S3AP_PREFIX: !Ref OutputS3APPrefix
          ONTAP_SECRET_NAME: !Ref OntapSecretName
          ONTAP_MANAGEMENT_IP: !Ref OntapManagementIp
          SVM_UUID: !Ref SvmUuid
          VOLUME_UUID: !Ref VolumeUuid
          VERIFY_SSL: "false"
      LoggingConfig:
        LogGroup: !Ref AclCollectionLogGroup
      Tags:
        - Key: UseCase
          Value: legal-compliance

  AthenaAnalysisFunction:
    Type: AWS::Lambda::Function
    Properties:
      FunctionName: !Sub "${AWS::StackName}-athena-analysis"
      Runtime: python3.13
      SnapStart:
        !If
          - SnapStartEnabled
          - ApplyOn: PublishedVersions
          - !Ref AWS::NoValue
      Handler: handler.handler
      Code:
        S3Bucket: !Ref DeployBucket
        S3Key: lambda/legal-compliance-athena_analysis.zip
      MemorySize: 256
      Timeout: 300
      Role: !GetAtt AthenaAnalysisLambdaRole.Arn
      Environment:
        Variables:
          S3_ACCESS_POINT_OUTPUT:
            !If
              - HasOutputS3APAlias
              - !Ref OutputS3APAlias
              - !If
                - HasLegacyOutputAlias
                - !Ref S3AccessPointOutputAlias
                - !Ref S3AccessPointAlias
          OUTPUT_DESTINATION: !Ref OutputDestination
          OUTPUT_S3AP_ALIAS:
            !If
              - UseFsxnS3AP
              - !If
                - HasOutputS3APAlias
                - !Ref OutputS3APAlias
                - !If
                  - HasLegacyOutputAlias
                  - !Ref S3AccessPointOutputAlias
                  - !Ref S3AccessPointAlias
              - ""
          OUTPUT_S3AP_PREFIX: !Ref OutputS3APPrefix
          ATHENA_RESULTS_BUCKET: !Ref AthenaResultsBucket
          GLUE_DATABASE: !Sub "${AWS::StackName}-db"
          GLUE_TABLE: !Sub "${AWS::StackName}-acl-data"
          ATHENA_WORKGROUP: !Sub "${AWS::StackName}-workgroup"
      LoggingConfig:
        LogGroup: !Ref AthenaAnalysisLogGroup
      Tags:
        - Key: UseCase
          Value: legal-compliance

  ReportGenerationFunction:
    Type: AWS::Lambda::Function
    Properties:
      FunctionName: !Sub "${AWS::StackName}-report-generation"
      Runtime: python3.13
      SnapStart:
        !If
          - SnapStartEnabled
          - ApplyOn: PublishedVersions
          - !Ref AWS::NoValue
      Handler: handler.handler
      Code:
        S3Bucket: !Ref DeployBucket
        S3Key: lambda/legal-compliance-report_generation.zip
      MemorySize: 256
      Timeout: 300
      Role: !GetAtt ReportGenerationLambdaRole.Arn
      Environment:
        Variables:
          S3_ACCESS_POINT_OUTPUT:
            !If
              - HasOutputS3APAlias
              - !Ref OutputS3APAlias
              - !If
                - HasLegacyOutputAlias
                - !Ref S3AccessPointOutputAlias
                - !Ref S3AccessPointAlias
          OUTPUT_DESTINATION: !Ref OutputDestination
          OUTPUT_S3AP_ALIAS:
            !If
              - UseFsxnS3AP
              - !If
                - HasOutputS3APAlias
                - !Ref OutputS3APAlias
                - !If
                  - HasLegacyOutputAlias
                  - !Ref S3AccessPointOutputAlias
                  - !Ref S3AccessPointAlias
              - ""
          OUTPUT_S3AP_PREFIX: !Ref OutputS3APPrefix
          SNS_TOPIC_ARN: !Ref NotificationTopic
          BEDROCK_MODEL_ID: !Ref BedrockModelId
      LoggingConfig:
        LogGroup: !Ref ReportGenerationLogGroup
      Tags:
        - Key: UseCase
          Value: legal-compliance

  # -----------------------------------------------------------------
  # Glue Database + Table (conditional on CreateAthenaWorkgroup)
  # -----------------------------------------------------------------
  GlueDatabase:
    Type: AWS::Glue::Database
    Condition: CreateAthenaWorkgroup
    Properties:
      CatalogId: !Ref AWS::AccountId
      DatabaseInput:
        Name: !Sub "${AWS::StackName}-db"
        Description: Legal Compliance ACL audit data catalog

  GlueTable:
    Type: AWS::Glue::Table
    Condition: CreateAthenaWorkgroup
    DependsOn: GlueDatabase
    Properties:
      CatalogId: !Ref AWS::AccountId
      DatabaseName: !Sub "${AWS::StackName}-db"
      TableInput:
        Name: !Sub "${AWS::StackName}-acl-data"
        TableType: EXTERNAL_TABLE
        StorageDescriptor:
          Columns:
            - Name: object_key
              Type: string
            - Name: volume_uuid
              Type: string
            - Name: security_style
              Type: string
            - Name: acls
              Type: "array<struct<sid:string,type:string,permissions:string>>"
            - Name: collected_at
              Type: string
          Location: !Sub "s3://${S3AccessPointOutputAlias}/acl-data/"
          InputFormat: org.apache.hadoop.mapred.TextInputFormat
          OutputFormat: org.apache.hadoop.hive.ql.io.HiveIgnoreKeyTextOutputFormat
          SerdeInfo:
            SerializationLibrary: org.openx.data.jsonserde.JsonSerDe

  # -----------------------------------------------------------------
  # Athena Workgroup (conditional on CreateAthenaWorkgroup)
  # -----------------------------------------------------------------
  AthenaWorkgroup:
    Type: AWS::Athena::WorkGroup
    Condition: CreateAthenaWorkgroup
    Properties:
      Name: !Sub "${AWS::StackName}-workgroup"
      State: ENABLED
      WorkGroupConfiguration:
        ResultConfiguration:
          OutputLocation: !Sub "s3://${AthenaResultsBucket}/athena-results/"
        EnforceWorkGroupConfiguration: true
        PublishCloudWatchMetricsEnabled: true

  # -----------------------------------------------------------------
  # Step Functions State Machine
  # -----------------------------------------------------------------
  StateMachineRole:
    Type: AWS::IAM::Role
    Properties:
      RoleName: !Sub "${AWS::StackName}-sfn-role"
      AssumeRolePolicyDocument:
        Version: "2012-10-17"
        Statement:
          - Effect: Allow
            Principal:
              Service: states.amazonaws.com
            Action: sts:AssumeRole
      Policies:
        - PolicyName: StepFunctionsPolicy
          PolicyDocument:
            Version: "2012-10-17"
            Statement:
              - Sid: InvokeLambda
                Effect: Allow
                Action:
                  - lambda:InvokeFunction
                Resource:
                  - !GetAtt DiscoveryFunction.Arn
                  - !GetAtt AclCollectionFunction.Arn
                  - !GetAtt AthenaAnalysisFunction.Arn
                  - !GetAtt ReportGenerationFunction.Arn

  ComplianceStateMachine:
    Type: AWS::StepFunctions::StateMachine
    Properties:
      StateMachineName: !Sub "${AWS::StackName}-workflow"
      RoleArn: !GetAtt StateMachineRole.Arn
      DefinitionString: !Sub |
        {
          "Comment": "Legal Compliance - File Server Audit Workflow",
          "StartAt": "Discovery",
          "States": {
            "Discovery": {
              "Type": "Task",
              "Resource": "${DiscoveryFunction.Arn}",
              "ResultPath": "$.discovery",
              "Next": "AclCollection",
              "Retry": [
                {
                  "ErrorEquals": ["States.TaskFailed"],
                  "IntervalSeconds": 5,
                  "MaxAttempts": 2,
                  "BackoffRate": 2.0
                }
              ]
            },
            "AclCollection": {
              "Type": "Map",
              "ItemsPath": "$.discovery.objects",
              "MaxConcurrency": 10,
              "ResultPath": "$.acl_results",
              "Next": "AthenaAnalysis",
              "ItemProcessor": {
                "ProcessorConfig": {
                  "Mode": "INLINE"
                },
                "StartAt": "CollectAcl",
                "States": {
                  "CollectAcl": {
                    "Type": "Task",
                    "Resource": "${AclCollectionFunction.Arn}",
                    "Retry": [
                      {
                        "ErrorEquals": ["States.TaskFailed"],
                        "IntervalSeconds": 10,
                        "MaxAttempts": 3,
                        "BackoffRate": 2.0
                      }
                    ],
                    "Catch": [
                      {
                        "ErrorEquals": ["States.ALL"],
                        "ResultPath": "$.error",
                        "Next": "MarkFailed"
                      }
                    ],
                    "End": true
                  },
                  "MarkFailed": {
                    "Type": "Pass",
                    "Result": {"status": "FAILED"},
                    "End": true
                  }
                }
              }
            },
            "AthenaAnalysis": {
              "Type": "Task",
              "Resource": "${AthenaAnalysisFunction.Arn}",
              "ResultPath": "$.athena_results",
              "Next": "ReportGeneration",
              "Retry": [
                {
                  "ErrorEquals": ["States.TaskFailed"],
                  "IntervalSeconds": 10,
                  "MaxAttempts": 2,
                  "BackoffRate": 2.0
                }
              ]
            },
            "ReportGeneration": {
              "Type": "Task",
              "Resource": "${ReportGenerationFunction.Arn}",
              "InputPath": "$.athena_results",
              "ResultPath": "$.report",
              "End": true,
              "Retry": [
                {
                  "ErrorEquals": ["States.TaskFailed"],
                  "IntervalSeconds": 10,
                  "MaxAttempts": 2,
                  "BackoffRate": 2.0
                }
              ]
            }
          }
        }

  # -----------------------------------------------------------------
  # EventBridge Scheduler
  # -----------------------------------------------------------------
  SchedulerRole:
    Type: AWS::IAM::Role
    Properties:
      RoleName: !Sub "${AWS::StackName}-scheduler-role"
      AssumeRolePolicyDocument:
        Version: "2012-10-17"
        Statement:
          - Effect: Allow
            Principal:
              Service: scheduler.amazonaws.com
            Action: sts:AssumeRole
      Policies:
        - PolicyName: SchedulerPolicy
          PolicyDocument:
            Version: "2012-10-17"
            Statement:
              - Effect: Allow
                Action:
                  - states:StartExecution
                Resource:
                  - !Ref ComplianceStateMachine

  ComplianceSchedule:
    Type: AWS::Scheduler::Schedule
    Properties:
      Name: !Sub "${AWS::StackName}-schedule"
      ScheduleExpression: !Ref ScheduleExpression
      FlexibleTimeWindow:
        Mode: "OFF"
      Target:
        Arn: !Ref ComplianceStateMachine
        RoleArn: !GetAtt SchedulerRole.Arn
        Input: "{}"

  # -----------------------------------------------------------------
  # CloudWatch Alarms (conditional on CreateCloudWatchAlarms)
  # -----------------------------------------------------------------
  StepFunctionsFailureAlarm:
    Type: AWS::CloudWatch::Alarm
    Condition: CreateCloudWatchAlarms
    Properties:
      AlarmName: !Sub "${AWS::StackName}-sfn-failures"
      AlarmDescription: Step Functions execution failures
      Namespace: AWS/States
      MetricName: ExecutionsFailed
      Dimensions:
        - Name: StateMachineArn
          Value: !Ref ComplianceStateMachine
      Statistic: Sum
      Period: 300
      EvaluationPeriods: 1
      Threshold: 1
      ComparisonOperator: GreaterThanOrEqualToThreshold
      TreatMissingData: notBreaching
      AlarmActions:
        - !Ref NotificationTopic

  DiscoveryErrorAlarm:
    Type: AWS::CloudWatch::Alarm
    Condition: CreateCloudWatchAlarms
    Properties:
      AlarmName: !Sub "${AWS::StackName}-discovery-errors"
      AlarmDescription: Discovery Lambda error rate
      Namespace: AWS/Lambda
      MetricName: Errors
      Dimensions:
        - Name: FunctionName
          Value: !Ref DiscoveryFunction
      Statistic: Sum
      Period: 300
      EvaluationPeriods: 1
      Threshold: 1
      ComparisonOperator: GreaterThanOrEqualToThreshold
      TreatMissingData: notBreaching
      AlarmActions:
        - !Ref NotificationTopic

  AclCollectionErrorAlarm:
    Type: AWS::CloudWatch::Alarm
    Condition: CreateCloudWatchAlarms
    Properties:
      AlarmName: !Sub "${AWS::StackName}-acl-collection-errors"
      AlarmDescription: ACL Collection Lambda error rate
      Namespace: AWS/Lambda
      MetricName: Errors
      Dimensions:
        - Name: FunctionName
          Value: !Ref AclCollectionFunction
      Statistic: Sum
      Period: 300
      EvaluationPeriods: 1
      Threshold: 3
      ComparisonOperator: GreaterThanOrEqualToThreshold
      TreatMissingData: notBreaching
      AlarmActions:
        - !Ref NotificationTopic

  # EventBridge rule: notify on Step Functions execution failure/timeout/abort
  StepFunctionsFailureEventRule:
    Type: AWS::Events::Rule
    Condition: CreateCloudWatchAlarms
    Properties:
      Description: !Sub "Notify on ${AWS::StackName} Step Functions execution failures"
      EventPattern:
        source:
          - aws.states
        detail-type:
          - "Step Functions Execution Status Change"
        detail:
          status:
            - FAILED
            - TIMED_OUT
            - ABORTED
          stateMachineArn:
            - !Ref ComplianceStateMachine
      Targets:
        - Arn: !Ref NotificationTopic
          Id: SnsFailureTarget
          InputTransformer:
            InputPathsMap:
              execName: $.detail.name
              execStatus: $.detail.status
              execArn: $.detail.executionArn
            InputTemplate: '"Step Functions execution <execName> finished with status <execStatus>. ARN: <execArn>"'

  # Allow EventBridge to publish to SNS topic
  EventBridgeToSnsPolicy:
    Type: AWS::SNS::TopicPolicy
    Condition: CreateCloudWatchAlarms
    Properties:
      PolicyDocument:
        Version: "2012-10-17"
        Statement:
          - Sid: AllowEventBridgePublish
            Effect: Allow
            Principal:
              Service: events.amazonaws.com
            Action: sns:Publish
            Resource: !Ref NotificationTopic
            Condition:
              ArnLike:
                aws:SourceArn: !GetAtt StepFunctionsFailureEventRule.Arn
      Topics:
        - !Ref NotificationTopic

  # -----------------------------------------------------------------
  # Event-Driven Trigger (conditional on EventDrivenEnabled)
  # S3 Event Notification → EventBridge → Step Functions
  # -----------------------------------------------------------------

  # DynamoDB table for idempotency (deduplication of S3 events)
  EventIdempotencyTable:
    Type: AWS::DynamoDB::Table
    Condition: EventDrivenEnabled
    Properties:
      TableName: !Sub "${AWS::StackName}-event-idempotency"
      BillingMode: PAY_PER_REQUEST
      AttributeDefinitions:
        - AttributeName: event_id
          AttributeType: S
      KeySchema:
        - AttributeName: event_id
          KeyType: HASH
      TimeToLiveSpecification:
        AttributeName: ttl
        Enabled: true
      Tags:
        - Key: UseCase
          Value: legal-compliance
        - Key: Component
          Value: event-driven

  # EventBridge rule: S3 Object Created → Start Step Functions execution
  S3EventTriggerRule:
    Type: AWS::Events::Rule
    Condition: EventDrivenEnabled
    Properties:
      Description: !Sub "Trigger ${AWS::StackName} workflow on S3 object creation"
      EventPattern:
        source:
          - aws.s3
        detail-type:
          - "Object Created"
        detail:
          bucket:
            name:
              - !Ref S3AccessPointAlias
          reason:
            - PutObject
            - CompleteMultipartUpload
      State: ENABLED
      Targets:
        - Arn: !GetAtt ComplianceStateMachine.Arn
          Id: StepFunctionsTarget
          RoleArn: !GetAtt EventBridgeToSfnRole.Arn
          InputTransformer:
            InputPathsMap:
              objectKey: $.detail.object.key
              objectSize: $.detail.object.size
              objectEtag: $.detail.object.etag
              eventTime: $.time
              eventId: $.id
            InputTemplate: |
              {
                "trigger": "event-driven",
                "event_id": "<eventId>",
                "object_key": "<objectKey>",
                "object_size": "<objectSize>",
                "object_etag": "<objectEtag>",
                "event_time": "<eventTime>"
              }

  # IAM role for EventBridge to start Step Functions execution
  EventBridgeToSfnRole:
    Type: AWS::IAM::Role
    Condition: EventDrivenEnabled
    Properties:
      RoleName: !Sub "${AWS::StackName}-eb-to-sfn-role"
      AssumeRolePolicyDocument:
        Version: "2012-10-17"
        Statement:
          - Effect: Allow
            Principal:
              Service: events.amazonaws.com
            Action: sts:AssumeRole
      Policies:
        - PolicyName: StartExecution
          PolicyDocument:
            Version: "2012-10-17"
            Statement:
              - Effect: Allow
                Action: states:StartExecution
                Resource: !GetAtt ComplianceStateMachine.Arn

# =====================================================================
# Outputs
# =====================================================================
Outputs:
  StateMachineArn:
    Description: Step Functions State Machine ARN
    Value: !Ref ComplianceStateMachine

  OutputBucketName:
    Description: S3 Athena Results Bucket Name
    Value: !Ref AthenaResultsBucket

  NotificationTopicArn:
    Description: SNS Notification Topic ARN
    Value: !Ref NotificationTopic

  DiscoveryFunctionArn:
    Description: Discovery Lambda Function ARN
    Value: !GetAtt DiscoveryFunction.Arn

  AclCollectionFunctionArn:
    Description: ACL Collection Lambda Function ARN
    Value: !GetAtt AclCollectionFunction.Arn

  AthenaAnalysisFunctionArn:
    Description: Athena Analysis Lambda Function ARN
    Value: !GetAtt AthenaAnalysisFunction.Arn

  ReportGenerationFunctionArn:
    Description: Report Generation Lambda Function ARN
    Value: !GetAtt ReportGenerationFunction.Arn

  EventDrivenRuleArn:
    Description: EventBridge S3 event trigger rule ARN (event-driven mode)
    Condition: EventDrivenEnabled
    Value: !GetAtt S3EventTriggerRule.Arn

  EventIdempotencyTableName:
    Description: DynamoDB idempotency table name (event-driven mode)
    Condition: EventDrivenEnabled
    Value: !Ref EventIdempotencyTable
