telecom-network-analytics/template-deploy.yaml
AWSTemplateFormatVersion: "2010-09-09"
Description: >-
  UC18: 通信業界ネットワーク分析（本番デプロイ用）
  FSx for NetApp ONTAP S3 Access Points を活用した CDR/ネットワークログ分析、
  異常検知、デイリーレポート生成のサーバーレスワークフロー。

# =====================================================================
# Parameters — Layer 1 (共通) + Layer 2 (拡張) + Layer 3 (TriggerMode) + Layer 4 (UC固有)
# =====================================================================
Parameters:
  DeployBucket:
    Type: String
    Description: S3 bucket containing Lambda deployment packages

  # --- Layer 1: Phase 1 共通 ---
  S3AccessPointAlias:
    Type: String
    Description: FSx for ONTAP S3 Access Point Alias (入力読み取り用)
    AllowedPattern: "^[a-z0-9-]+-ext-s3alias$"

  S3AccessPointName:
    Type: String
    Default: ""
    Description: |
      入力用 S3 Access Point の名前（alias ではなく）。指定すると AP ARN 形式でも
      IAM アクセスを許可する。空文字列の場合は alias 形式のみ許可。

  S3AccessPointOutputAlias:
    Type: String
    Description: FSx for ONTAP S3 Access Point Alias (出力書き込み用、入力と同じ AP でも可)
    AllowedPattern: "^[a-z0-9-]+-ext-s3alias$"

  OntapSecretName:
    Type: String
    Description: ONTAP REST API 認証情報の Secrets Manager シークレット名

  OntapManagementIp:
    Type: String
    Description: ONTAP クラスタ管理 IP アドレス
    AllowedPattern: "^\\d{1,3}\\.\\d{1,3}\\.\\d{1,3}\\.\\d{1,3}$"

  SvmUuid:
    Type: String
    Description: ONTAP SVM UUID

  ScheduleExpression:
    Type: String
    Default: "cron(0 0 * * ? *)"
    Description: "EventBridge Scheduler スケジュール式 (デフォルト: 毎日 00:00 UTC)"

  VpcId:
    Type: AWS::EC2::VPC::Id
    Description: Lambda 関数と VPC Endpoints を配置する VPC ID

  PrivateSubnetIds:
    Type: List<AWS::EC2::Subnet::Id>
    Description: Lambda 関数を配置するプライベートサブネット ID リスト

  PrivateRouteTableIds:
    Type: CommaDelimitedList
    Description: プライベートサブネットのルートテーブル ID リスト

  NotificationEmail:
    Type: String
    Description: SNS 通知の送信先メールアドレス

  # --- Layer 2: Phase 2 拡張 ---
  MapConcurrency:
    Type: Number
    Default: 10
    MinValue: 1
    MaxValue: 100
    Description: Step Functions Map State の並列度

  LambdaMemorySize:
    Type: Number
    Default: 256
    AllowedValues: [128, 256, 512, 1024, 2048]
    Description: Lambda 関数のメモリサイズ (MB)

  LambdaTimeout:
    Type: Number
    Default: 300
    MinValue: 30
    MaxValue: 900
    Description: Lambda 関数のタイムアウト (秒)

  EnableCloudWatchAlarms:
    Type: String
    Default: "false"
    AllowedValues: ["true", "false"]
    Description: CloudWatch Alarms を有効化する

  EnableVpcEndpoints:
    Type: String
    Default: "false"
    AllowedValues: ["true", "false"]
    Description: Interface VPC Endpoints を有効化する

  EnableS3GatewayEndpoint:
    Type: String
    Default: "true"
    AllowedValues: ["true", "false"]
    Description: S3 Gateway VPC Endpoint を作成する

  BedrockModelId:
    Type: String
    Default: "anthropic.claude-haiku-4-5-20251001-v1:0"
    Description: Bedrock モデル ID（異常分析用）

  # --- Layer 3: TriggerMode ---
  TriggerMode:
    Type: String
    Default: "POLLING"
    AllowedValues: ["POLLING", "EVENT_DRIVEN", "HYBRID"]
    Description: トリガーモード

  FPolicyEventBusName:
    Type: String
    Default: "fsxn-fpolicy-events"
    Description: FPolicy EventBridge カスタムバス名

  # --- Layer 4: UC18 固有 ---
  CdrSuffixFilter:
    Type: String
    Default: ".csv,.asn1,.parquet"
    Description: CDR サフィックスフィルタ（カンマ区切り、最大 20 パターン）

  AnomalyThresholdStdDev:
    Type: Number
    Default: 3
    MinValue: 1
    MaxValue: 10
    Description: 異常検出閾値（標準偏差の倍数）

  CapacityThresholdPercent:
    Type: Number
    Default: 80
    MinValue: 50
    MaxValue: 99
    Description: 容量閾値ブリーチのパーセンテージ

  BaselineWindowDays:
    Type: Number
    Default: 7
    MinValue: 1
    MaxValue: 30
    Description: 異常検出ベースライン期間（日数）

# =====================================================================
# Conditions
# =====================================================================
Conditions:
  HasS3AccessPointName:
    !Not [!Equals [!Ref S3AccessPointName, ""]]
  CreateVpcEndpoints:
    !Equals [!Ref EnableVpcEndpoints, "true"]
  CreateCloudWatchAlarms:
    !Equals [!Ref EnableCloudWatchAlarms, "true"]
  CreateS3GatewayEndpoint:
    !Equals [!Ref EnableS3GatewayEndpoint, "true"]
  IsPollingOrHybrid:
    !Or
      - !Equals [!Ref TriggerMode, "POLLING"]
      - !Equals [!Ref TriggerMode, "HYBRID"]
  IsEventDrivenOrHybrid:
    !Or
      - !Equals [!Ref TriggerMode, "EVENT_DRIVEN"]
      - !Equals [!Ref TriggerMode, "HYBRID"]

# =====================================================================
# Resources
# =====================================================================
Resources:

  # -----------------------------------------------------------------
  # SNS Topic + Email Subscription
  # -----------------------------------------------------------------
  NotificationTopic:
    Type: AWS::SNS::Topic
    Properties:
      TopicName: !Sub "${AWS::StackName}-notifications"
      KmsMasterKeyId: alias/aws/sns

  EmailSubscription:
    Type: AWS::SNS::Subscription
    Properties:
      TopicArn: !Ref NotificationTopic
      Protocol: email
      Endpoint: !Ref NotificationEmail

  # -----------------------------------------------------------------
  # Lambda Security Group
  # -----------------------------------------------------------------
  LambdaSecurityGroup:
    Type: AWS::EC2::SecurityGroup
    Properties:
      GroupDescription: !Sub "${AWS::StackName} - Lambda functions security group"
      VpcId: !Ref VpcId
      SecurityGroupEgress:
        - IpProtocol: tcp
          FromPort: 443
          ToPort: 443
          CidrIp: 0.0.0.0/0
          Description: Allow HTTPS outbound
      Tags:
        - Key: Name
          Value: !Sub "${AWS::StackName}-lambda-sg"

  # -----------------------------------------------------------------
  # S3 Gateway Endpoint (conditional)
  # -----------------------------------------------------------------
  S3GatewayEndpoint:
    Condition: CreateS3GatewayEndpoint
    Type: AWS::EC2::VPCEndpoint
    Properties:
      VpcId: !Ref VpcId
      ServiceName: !Sub "com.amazonaws.${AWS::Region}.s3"
      VpcEndpointType: Gateway
      RouteTableIds: !Ref PrivateRouteTableIds

  # -----------------------------------------------------------------
  # CloudWatch Log Groups
  # -----------------------------------------------------------------
  DiscoveryLogGroup:
    Type: AWS::Logs::LogGroup
    Properties:
      LogGroupName: !Sub "/aws/lambda/${AWS::StackName}-discovery"
      RetentionInDays: 14

  CdrAnalyzerLogGroup:
    Type: AWS::Logs::LogGroup
    Properties:
      LogGroupName: !Sub "/aws/lambda/${AWS::StackName}-cdr-analyzer"
      RetentionInDays: 14

  LogAnalyzerLogGroup:
    Type: AWS::Logs::LogGroup
    Properties:
      LogGroupName: !Sub "/aws/lambda/${AWS::StackName}-log-analyzer"
      RetentionInDays: 14

  AnomalyDetectorLogGroup:
    Type: AWS::Logs::LogGroup
    Properties:
      LogGroupName: !Sub "/aws/lambda/${AWS::StackName}-anomaly-detector"
      RetentionInDays: 14

  ReportLogGroup:
    Type: AWS::Logs::LogGroup
    Properties:
      LogGroupName: !Sub "/aws/lambda/${AWS::StackName}-report"
      RetentionInDays: 14

  # -----------------------------------------------------------------
  # IAM Roles — least-privilege per Lambda
  # -----------------------------------------------------------------
  DiscoveryLambdaRole:
    Type: AWS::IAM::Role
    Properties:
      RoleName: !Sub "${AWS::StackName}-discovery-role"
      AssumeRolePolicyDocument:
        Version: "2012-10-17"
        Statement:
          - Effect: Allow
            Principal:
              Service: lambda.amazonaws.com
            Action: sts:AssumeRole
      ManagedPolicyArns:
        - arn:aws:iam::aws:policy/service-role/AWSLambdaVPCAccessExecutionRole
      Policies:
        - PolicyName: DiscoveryPolicy
          PolicyDocument:
            Version: "2012-10-17"
            Statement:
              - Sid: S3AccessPointRead
                Effect: Allow
                Action:
                  - s3:ListBucket
                  - s3:GetObject
                Resource:
                  - !Sub "arn:aws:s3:::${S3AccessPointAlias}"
                  - !Sub "arn:aws:s3:::${S3AccessPointAlias}/*"
                  - !If
                    - HasS3AccessPointName
                    - !Sub "arn:aws:s3:${AWS::Region}:${AWS::AccountId}:accesspoint/${S3AccessPointName}"
                    - !Ref AWS::NoValue
                  - !If
                    - HasS3AccessPointName
                    - !Sub "arn:aws:s3:${AWS::Region}:${AWS::AccountId}:accesspoint/${S3AccessPointName}/object/*"
                    - !Ref AWS::NoValue
              - Sid: S3AccessPointOutput
                Effect: Allow
                Action:
                  - s3:PutObject
                Resource:
                  - !Sub "arn:aws:s3:::${S3AccessPointOutputAlias}/*"
              - Sid: SecretsManager
                Effect: Allow
                Action:
                  - secretsmanager:GetSecretValue
                Resource:
                  - !Sub "arn:aws:secretsmanager:${AWS::Region}:${AWS::AccountId}:secret:${OntapSecretName}*"
              - Sid: CloudWatchLogs
                Effect: Allow
                Action:
                  - logs:CreateLogStream
                  - logs:PutLogEvents
                Resource:
                  - !GetAtt DiscoveryLogGroup.Arn
                  - !Sub "${DiscoveryLogGroup.Arn}:*"

  CdrAnalyzerLambdaRole:
    Type: AWS::IAM::Role
    Properties:
      RoleName: !Sub "${AWS::StackName}-cdr-analyzer-role"
      AssumeRolePolicyDocument:
        Version: "2012-10-17"
        Statement:
          - Effect: Allow
            Principal:
              Service: lambda.amazonaws.com
            Action: sts:AssumeRole
      ManagedPolicyArns:
        - arn:aws:iam::aws:policy/service-role/AWSLambdaBasicExecutionRole
      Policies:
        - PolicyName: CdrAnalyzerPolicy
          PolicyDocument:
            Version: "2012-10-17"
            Statement:
              - Sid: S3AccessPointRead
                Effect: Allow
                Action:
                  - s3:GetObject
                  - s3:ListBucket
                Resource:
                  - !Sub "arn:aws:s3:::${S3AccessPointAlias}"
                  - !Sub "arn:aws:s3:::${S3AccessPointAlias}/*"
              - Sid: S3AccessPointOutput
                Effect: Allow
                Action:
                  - s3:PutObject
                Resource:
                  - !Sub "arn:aws:s3:::${S3AccessPointOutputAlias}/*"
              - Sid: Athena
                Effect: Allow
                Action:
                  - athena:StartQueryExecution
                  - athena:GetQueryExecution
                  - athena:GetQueryResults
                Resource:
                  - !Sub "arn:aws:athena:${AWS::Region}:${AWS::AccountId}:workgroup/*"
              - Sid: CloudWatchLogs
                Effect: Allow
                Action:
                  - logs:CreateLogStream
                  - logs:PutLogEvents
                Resource:
                  - !GetAtt CdrAnalyzerLogGroup.Arn
                  - !Sub "${CdrAnalyzerLogGroup.Arn}:*"

  LogAnalyzerLambdaRole:
    Type: AWS::IAM::Role
    Properties:
      RoleName: !Sub "${AWS::StackName}-log-analyzer-role"
      AssumeRolePolicyDocument:
        Version: "2012-10-17"
        Statement:
          - Effect: Allow
            Principal:
              Service: lambda.amazonaws.com
            Action: sts:AssumeRole
      ManagedPolicyArns:
        - arn:aws:iam::aws:policy/service-role/AWSLambdaBasicExecutionRole
      Policies:
        - PolicyName: LogAnalyzerPolicy
          PolicyDocument:
            Version: "2012-10-17"
            Statement:
              - Sid: S3AccessPointRead
                Effect: Allow
                Action:
                  - s3:GetObject
                Resource:
                  - !Sub "arn:aws:s3:::${S3AccessPointAlias}/*"
              - Sid: S3AccessPointOutput
                Effect: Allow
                Action:
                  - s3:PutObject
                Resource:
                  - !Sub "arn:aws:s3:::${S3AccessPointOutputAlias}/*"
              - Sid: CloudWatchLogs
                Effect: Allow
                Action:
                  - logs:CreateLogStream
                  - logs:PutLogEvents
                Resource:
                  - !GetAtt LogAnalyzerLogGroup.Arn
                  - !Sub "${LogAnalyzerLogGroup.Arn}:*"

  AnomalyDetectorLambdaRole:
    Type: AWS::IAM::Role
    Properties:
      RoleName: !Sub "${AWS::StackName}-anomaly-detector-role"
      AssumeRolePolicyDocument:
        Version: "2012-10-17"
        Statement:
          - Effect: Allow
            Principal:
              Service: lambda.amazonaws.com
            Action: sts:AssumeRole
      ManagedPolicyArns:
        - arn:aws:iam::aws:policy/service-role/AWSLambdaBasicExecutionRole
      Policies:
        - PolicyName: AnomalyDetectorPolicy
          PolicyDocument:
            Version: "2012-10-17"
            Statement:
              - Sid: S3Output
                Effect: Allow
                Action:
                  - s3:GetObject
                  - s3:PutObject
                  - s3:ListBucket
                Resource:
                  - !Sub "arn:aws:s3:::${S3AccessPointOutputAlias}"
                  - !Sub "arn:aws:s3:::${S3AccessPointOutputAlias}/*"
              - Sid: Bedrock
                Effect: Allow
                Action:
                  - bedrock:InvokeModel
                Resource:
                  - !Sub "arn:aws:bedrock:${AWS::Region}::foundation-model/${BedrockModelId}"
              - Sid: SNS
                Effect: Allow
                Action:
                  - sns:Publish
                Resource:
                  - !Ref NotificationTopic
              - Sid: CloudWatchLogs
                Effect: Allow
                Action:
                  - logs:CreateLogStream
                  - logs:PutLogEvents
                Resource:
                  - !GetAtt AnomalyDetectorLogGroup.Arn
                  - !Sub "${AnomalyDetectorLogGroup.Arn}:*"

  ReportLambdaRole:
    Type: AWS::IAM::Role
    Properties:
      RoleName: !Sub "${AWS::StackName}-report-role"
      AssumeRolePolicyDocument:
        Version: "2012-10-17"
        Statement:
          - Effect: Allow
            Principal:
              Service: lambda.amazonaws.com
            Action: sts:AssumeRole
      ManagedPolicyArns:
        - arn:aws:iam::aws:policy/service-role/AWSLambdaBasicExecutionRole
      Policies:
        - PolicyName: ReportPolicy
          PolicyDocument:
            Version: "2012-10-17"
            Statement:
              - Sid: S3Output
                Effect: Allow
                Action:
                  - s3:PutObject
                Resource:
                  - !Sub "arn:aws:s3:::${S3AccessPointOutputAlias}/*"
              - Sid: SNS
                Effect: Allow
                Action:
                  - sns:Publish
                Resource:
                  - !Ref NotificationTopic
              - Sid: CloudWatchLogs
                Effect: Allow
                Action:
                  - logs:CreateLogStream
                  - logs:PutLogEvents
                Resource:
                  - !GetAtt ReportLogGroup.Arn
                  - !Sub "${ReportLogGroup.Arn}:*"

  # -----------------------------------------------------------------
  # Lambda Functions (Production — S3 deploy packages)
  # -----------------------------------------------------------------
  DiscoveryFunction:
    Type: AWS::Lambda::Function
    Properties:
      FunctionName: !Sub "${AWS::StackName}-discovery"
      Runtime: python3.13
      Handler: handler.handler
      Code:
        S3Bucket: !Ref DeployBucket
        S3Key: lambda/telecom-network-analytics-discovery.zip
      MemorySize: !Ref LambdaMemorySize
      Timeout: !Ref LambdaTimeout
      Role: !GetAtt DiscoveryLambdaRole.Arn
      VpcConfig:
        SecurityGroupIds:
          - !Ref LambdaSecurityGroup
        SubnetIds: !Ref PrivateSubnetIds
      Environment:
        Variables:
          USE_CASE: "telecom-network-analytics"
          S3_ACCESS_POINT: !Ref S3AccessPointAlias
          S3_ACCESS_POINT_OUTPUT: !Ref S3AccessPointOutputAlias
          PREFIX_FILTER: ""
          CDR_SUFFIX_FILTER: !Ref CdrSuffixFilter
          ONTAP_SECRET_NAME: !Ref OntapSecretName
          ONTAP_MANAGEMENT_IP: !Ref OntapManagementIp
          SVM_UUID: !Ref SvmUuid
          VERIFY_SSL: "false"
      LoggingConfig:
        LogGroup: !Ref DiscoveryLogGroup
      Tags:
        - Key: UseCase
          Value: telecom-network-analytics

  CdrAnalyzerFunction:
    Type: AWS::Lambda::Function
    Properties:
      FunctionName: !Sub "${AWS::StackName}-cdr-analyzer"
      Runtime: python3.13
      Handler: handler.handler
      Code:
        S3Bucket: !Ref DeployBucket
        S3Key: lambda/telecom-network-analytics-cdr_analyzer.zip
      MemorySize: !Ref LambdaMemorySize
      Timeout: !Ref LambdaTimeout
      Role: !GetAtt CdrAnalyzerLambdaRole.Arn
      Environment:
        Variables:
          USE_CASE: "telecom-network-analytics"
          S3_ACCESS_POINT: !Ref S3AccessPointAlias
          S3_ACCESS_POINT_OUTPUT: !Ref S3AccessPointOutputAlias
          OUTPUT_BUCKET: !Ref S3AccessPointOutputAlias
          SNS_TOPIC_ARN: !Ref NotificationTopic
      LoggingConfig:
        LogGroup: !Ref CdrAnalyzerLogGroup
      Tags:
        - Key: UseCase
          Value: telecom-network-analytics

  LogAnalyzerFunction:
    Type: AWS::Lambda::Function
    Properties:
      FunctionName: !Sub "${AWS::StackName}-log-analyzer"
      Runtime: python3.13
      Handler: handler.handler
      Code:
        S3Bucket: !Ref DeployBucket
        S3Key: lambda/telecom-network-analytics-log_analyzer.zip
      MemorySize: !Ref LambdaMemorySize
      Timeout: !Ref LambdaTimeout
      Role: !GetAtt LogAnalyzerLambdaRole.Arn
      Environment:
        Variables:
          USE_CASE: "telecom-network-analytics"
          S3_ACCESS_POINT: !Ref S3AccessPointAlias
          S3_ACCESS_POINT_OUTPUT: !Ref S3AccessPointOutputAlias
          OUTPUT_BUCKET: !Ref S3AccessPointOutputAlias
          CAPACITY_THRESHOLD_PERCENT: !Ref CapacityThresholdPercent
      LoggingConfig:
        LogGroup: !Ref LogAnalyzerLogGroup
      Tags:
        - Key: UseCase
          Value: telecom-network-analytics

  AnomalyDetectorFunction:
    Type: AWS::Lambda::Function
    Properties:
      FunctionName: !Sub "${AWS::StackName}-anomaly-detector"
      Runtime: python3.13
      Handler: handler.handler
      Code:
        S3Bucket: !Ref DeployBucket
        S3Key: lambda/telecom-network-analytics-anomaly_detector.zip
      MemorySize: !Ref LambdaMemorySize
      Timeout: !Ref LambdaTimeout
      Role: !GetAtt AnomalyDetectorLambdaRole.Arn
      Environment:
        Variables:
          USE_CASE: "telecom-network-analytics"
          S3_ACCESS_POINT: !Ref S3AccessPointAlias
          OUTPUT_BUCKET: !Ref S3AccessPointOutputAlias
          ANOMALY_THRESHOLD_STDDEV: !Ref AnomalyThresholdStdDev
          BASELINE_WINDOW_DAYS: !Ref BaselineWindowDays
          BEDROCK_MODEL_ID: !Ref BedrockModelId
          SNS_TOPIC_ARN: !Ref NotificationTopic
      LoggingConfig:
        LogGroup: !Ref AnomalyDetectorLogGroup
      Tags:
        - Key: UseCase
          Value: telecom-network-analytics

  ReportFunction:
    Type: AWS::Lambda::Function
    Properties:
      FunctionName: !Sub "${AWS::StackName}-report"
      Runtime: python3.13
      Handler: handler.handler
      Code:
        S3Bucket: !Ref DeployBucket
        S3Key: lambda/telecom-network-analytics-report.zip
      MemorySize: !Ref LambdaMemorySize
      Timeout: !Ref LambdaTimeout
      Role: !GetAtt ReportLambdaRole.Arn
      Environment:
        Variables:
          USE_CASE: "telecom-network-analytics"
          S3_ACCESS_POINT: !Ref S3AccessPointAlias
          S3_ACCESS_POINT_OUTPUT: !Ref S3AccessPointOutputAlias
          OUTPUT_BUCKET: !Ref S3AccessPointOutputAlias
          SNS_TOPIC_ARN: !Ref NotificationTopic
      LoggingConfig:
        LogGroup: !Ref ReportLogGroup
      Tags:
        - Key: UseCase
          Value: telecom-network-analytics

  # -----------------------------------------------------------------
  # Step Functions State Machine
  # -----------------------------------------------------------------
  StateMachineRole:
    Type: AWS::IAM::Role
    Properties:
      RoleName: !Sub "${AWS::StackName}-sfn-role"
      AssumeRolePolicyDocument:
        Version: "2012-10-17"
        Statement:
          - Effect: Allow
            Principal:
              Service: states.amazonaws.com
            Action: sts:AssumeRole
      Policies:
        - PolicyName: StepFunctionsPolicy
          PolicyDocument:
            Version: "2012-10-17"
            Statement:
              - Sid: InvokeLambda
                Effect: Allow
                Action:
                  - lambda:InvokeFunction
                Resource:
                  - !GetAtt DiscoveryFunction.Arn
                  - !GetAtt CdrAnalyzerFunction.Arn
                  - !GetAtt LogAnalyzerFunction.Arn
                  - !GetAtt AnomalyDetectorFunction.Arn
                  - !GetAtt ReportFunction.Arn

  TelecomStateMachine:
    Type: AWS::StepFunctions::StateMachine
    Properties:
      StateMachineName: !Sub "${AWS::StackName}-workflow"
      RoleArn: !GetAtt StateMachineRole.Arn
      DefinitionString: !Sub |
        {
          "Comment": "UC18: Telecom Network Analytics - Discovery → CDR Map → Log Map → Anomaly → Report",
          "StartAt": "Discovery",
          "States": {
            "Discovery": {
              "Type": "Task",
              "Resource": "${DiscoveryFunction.Arn}",
              "ResultPath": "$.discovery",
              "Next": "CdrAnalyzerMap",
              "Retry": [{"ErrorEquals": ["States.TaskFailed"], "IntervalSeconds": 5, "MaxAttempts": 2, "BackoffRate": 2.0}]
            },
            "CdrAnalyzerMap": {
              "Type": "Map",
              "ItemsPath": "$.discovery.objects",
              "MaxConcurrency": ${MapConcurrency},
              "ResultPath": "$.cdr_results",
              "Next": "LogAnalyzerMap",
              "ItemProcessor": {
                "ProcessorConfig": {"Mode": "INLINE"},
                "StartAt": "AnalyzeCdr",
                "States": {
                  "AnalyzeCdr": {
                    "Type": "Task",
                    "Resource": "${CdrAnalyzerFunction.Arn}",
                    "Retry": [{"ErrorEquals": ["States.TaskFailed"], "IntervalSeconds": 10, "MaxAttempts": 3, "BackoffRate": 2.0}],
                    "Catch": [{"ErrorEquals": ["States.ALL"], "ResultPath": "$.error", "Next": "MarkCdrFailed"}],
                    "End": true
                  },
                  "MarkCdrFailed": {"Type": "Pass", "Result": {"status": "FAILED"}, "End": true}
                }
              }
            },
            "LogAnalyzerMap": {
              "Type": "Map",
              "ItemsPath": "$.discovery.objects",
              "MaxConcurrency": ${MapConcurrency},
              "ResultPath": "$.log_results",
              "Next": "AnomalyDetection",
              "ItemProcessor": {
                "ProcessorConfig": {"Mode": "INLINE"},
                "StartAt": "AnalyzeLog",
                "States": {
                  "AnalyzeLog": {
                    "Type": "Task",
                    "Resource": "${LogAnalyzerFunction.Arn}",
                    "Retry": [{"ErrorEquals": ["States.TaskFailed"], "IntervalSeconds": 10, "MaxAttempts": 3, "BackoffRate": 2.0}],
                    "Catch": [{"ErrorEquals": ["States.ALL"], "ResultPath": "$.error", "Next": "MarkLogFailed"}],
                    "End": true
                  },
                  "MarkLogFailed": {"Type": "Pass", "Result": {"status": "FAILED"}, "End": true}
                }
              }
            },
            "AnomalyDetection": {
              "Type": "Task",
              "Resource": "${AnomalyDetectorFunction.Arn}",
              "ResultPath": "$.anomaly_result",
              "Next": "ReportGeneration",
              "Retry": [{"ErrorEquals": ["States.TaskFailed"], "IntervalSeconds": 10, "MaxAttempts": 2, "BackoffRate": 2.0}]
            },
            "ReportGeneration": {
              "Type": "Task",
              "Resource": "${ReportFunction.Arn}",
              "ResultPath": "$.report",
              "End": true,
              "Retry": [{"ErrorEquals": ["States.TaskFailed"], "IntervalSeconds": 10, "MaxAttempts": 2, "BackoffRate": 2.0}]
            }
          }
        }

  # -----------------------------------------------------------------
  # EventBridge Scheduler (conditional)
  # -----------------------------------------------------------------
  SchedulerRole:
    Type: AWS::IAM::Role
    Condition: IsPollingOrHybrid
    Properties:
      RoleName: !Sub "${AWS::StackName}-scheduler-role"
      AssumeRolePolicyDocument:
        Version: "2012-10-17"
        Statement:
          - Effect: Allow
            Principal:
              Service: scheduler.amazonaws.com
            Action: sts:AssumeRole
      Policies:
        - PolicyName: SchedulerPolicy
          PolicyDocument:
            Version: "2012-10-17"
            Statement:
              - Effect: Allow
                Action:
                  - states:StartExecution
                Resource:
                  - !Ref TelecomStateMachine

  TelecomSchedule:
    Type: AWS::Scheduler::Schedule
    Condition: IsPollingOrHybrid
    Properties:
      Name: !Sub "${AWS::StackName}-schedule"
      ScheduleExpression: !Ref ScheduleExpression
      FlexibleTimeWindow:
        Mode: "OFF"
      Target:
        Arn: !Ref TelecomStateMachine
        RoleArn: !GetAtt SchedulerRole.Arn
        Input: "{}"

  # -----------------------------------------------------------------
  # CloudWatch Alarms (conditional)
  # -----------------------------------------------------------------
  StepFunctionsFailureAlarm:
    Type: AWS::CloudWatch::Alarm
    Condition: CreateCloudWatchAlarms
    Properties:
      AlarmName: !Sub "${AWS::StackName}-sfn-failures"
      AlarmDescription: Step Functions execution failures
      Namespace: AWS/States
      MetricName: ExecutionsFailed
      Dimensions:
        - Name: StateMachineArn
          Value: !Ref TelecomStateMachine
      Statistic: Sum
      Period: 300
      EvaluationPeriods: 1
      Threshold: 1
      ComparisonOperator: GreaterThanOrEqualToThreshold
      TreatMissingData: notBreaching
      AlarmActions:
        - !Ref NotificationTopic

  ReportErrorAlarm:
    Type: AWS::CloudWatch::Alarm
    Condition: CreateCloudWatchAlarms
    Properties:
      AlarmName: !Sub "${AWS::StackName}-report-errors"
      AlarmDescription: Report Lambda error rate
      Namespace: AWS/Lambda
      MetricName: Errors
      Dimensions:
        - Name: FunctionName
          Value: !Ref ReportFunction
      Statistic: Sum
      Period: 300
      EvaluationPeriods: 1
      Threshold: 1
      ComparisonOperator: GreaterThanOrEqualToThreshold
      TreatMissingData: notBreaching
      AlarmActions:
        - !Ref NotificationTopic

# =====================================================================
# Outputs
# =====================================================================
Outputs:
  StateMachineArn:
    Description: Step Functions State Machine ARN
    Value: !Ref TelecomStateMachine

  NotificationTopicArn:
    Description: SNS Notification Topic ARN
    Value: !Ref NotificationTopic

  DiscoveryFunctionArn:
    Description: Discovery Lambda Function ARN
    Value: !GetAtt DiscoveryFunction.Arn

  CdrAnalyzerFunctionArn:
    Description: CDR Analyzer Lambda Function ARN
    Value: !GetAtt CdrAnalyzerFunction.Arn

  LogAnalyzerFunctionArn:
    Description: Log Analyzer Lambda Function ARN
    Value: !GetAtt LogAnalyzerFunction.Arn

  AnomalyDetectorFunctionArn:
    Description: Anomaly Detector Lambda Function ARN
    Value: !GetAtt AnomalyDetectorFunction.Arn

  ReportFunctionArn:
    Description: Report Lambda Function ARN
    Value: !GetAtt ReportFunction.Arn
