healthcare-dicom/template-deploy.yaml
AWSTemplateFormatVersion: "2010-09-09"
Description: >-
  UC5: 医療（DICOM 画像の自動分類・匿名化）
  FSx for NetApp ONTAP S3 Access Points を活用した
  DICOM メタデータ解析、PII 検出、PHI 匿名化の
  サーバーレスワークフロー。

# =====================================================================
# Parameters — shared/cfn/common-parameters.yaml + UC5 固有
# =====================================================================
Parameters:
  DeployBucket:
    Type: String
    Description: S3 bucket containing Lambda deployment packages

  S3AccessPointAlias:
    Type: String
    Description: FSx ONTAP S3 Access Point Alias (入力読み取り用)
    AllowedPattern: "^[a-z0-9-]+-ext-s3alias$"

  S3AccessPointOutputAlias:
    Type: String
    Default: ""
    Description: |
      (legacy, optional) FSx ONTAP S3 Access Point Alias (出力書き込み用)。
      空の場合は OutputS3APAlias または S3AccessPointAlias にフォールバック。
      新規デプロイでは OutputS3APAlias を使用することを推奨。
    AllowedPattern: "^$|^[a-z0-9-]+-ext-s3alias$"

  OutputDestination:
    Type: String
    Default: "FSXN_S3AP"
    AllowedValues: ["STANDARD_S3", "FSXN_S3AP"]
    Description: |
      AI/ML 成果物の書き込み先。デフォルトは "FSXN_S3AP" (従来どおり FSxN ボリュームに直接書き込み)。
      "STANDARD_S3" にすると新規 S3 バケットを作成して書き込む (Pattern C と同等)。
      Pattern A UC (UC1-5) では FSXN_S3AP がデフォルト値。
      詳細: docs/output-destination-patterns.md

  OutputS3APAlias:
    Type: String
    Default: ""
    Description: |
      OutputDestination=FSXN_S3AP 時の出力先 S3 Access Point Alias。
      空の場合は S3AccessPointOutputAlias (legacy) または S3AccessPointAlias (入力 AP) にフォールバック。

  OutputS3APPrefix:
    Type: String
    Default: ""
    Description: |
      OutputDestination=FSXN_S3AP 時、全出力キーに付与するプレフィックス。
      UC1-5 では通常空文字 (現行キー構造を維持)。必要に応じて "ai-outputs/" 等を指定可能。

  S3AccessPointName:
    Type: String
    Default: ""
    Description: |
      入力用 S3 Access Point の名前 (alias ではなく)。指定すると AP ARN 形式でも
      IAM アクセスを許可する (FSxN S3AP の permission 判定で両形式をサポート)。

  OutputS3APName:
    Type: String
    Default: ""
    Description: |
      出力用 S3 AP の名前。空なら S3AccessPointName を再利用。

  OntapSecretName:
    Type: String
    Description: ONTAP REST API 認証情報の Secrets Manager シークレット名

  OntapManagementIp:
    Type: String
    Description: ONTAP クラスタ管理 IP アドレス
    AllowedPattern: "^\\d{1,3}\\.\\d{1,3}\\.\\d{1,3}\\.\\d{1,3}$"

  ScheduleExpression:
    Type: String
    Default: "rate(1 hour)"
    Description: EventBridge Scheduler のスケジュール式

  VpcId:
    Type: AWS::EC2::VPC::Id
    Description: Lambda 関数と VPC Endpoints を配置する VPC ID

  PrivateSubnetIds:
    Type: List<AWS::EC2::Subnet::Id>
    Description: Lambda 関数を配置するプライベートサブネット ID リスト

  PrivateRouteTableIds:
    Type: CommaDelimitedList
    Description: プライベートサブネットのルートテーブル ID リスト（S3 Gateway Endpoint 関連付け用、カンマ区切り）

  NotificationEmail:
    Type: String
    Description: SNS 通知の送信先メールアドレス

  EnableVpcEndpoints:
    Type: String
    Default: "false"
    AllowedValues: ["true", "false"]
    Description: Interface VPC Endpoints を有効化する（月額 ~$28.80）

  EnableCloudWatchAlarms:
    Type: String
    Default: "false"
    AllowedValues: ["true", "false"]
    Description: CloudWatch Alarms を有効化する

  EnableS3GatewayEndpoint:
    Type: String
    Default: "true"
    AllowedValues: ["true", "false"]
    Description: S3 Gateway VPC Endpoint を作成する（同一 VPC に既存の場合は false）

  ComprehendMedicalRegion:
    Type: String
    Default: "us-east-1"
    Description: Comprehend Medical API のリージョン（ap-northeast-1 非対応のためクロスリージョン呼び出し）

  EnableSnapStart:
    Type: String
    Default: "false"
    AllowedValues: ["true", "false"]
    Description: Lambda SnapStart を有効化する（コールドスタート削減）

# =====================================================================
# Conditions
# =====================================================================
Conditions:
  UseStandardS3:
    !Equals [!Ref OutputDestination, "STANDARD_S3"]
  UseFsxnS3AP:
    !Equals [!Ref OutputDestination, "FSXN_S3AP"]
  HasOutputS3APAlias:
    !Not [!Equals [!Ref OutputS3APAlias, ""]]
  HasLegacyOutputAlias:
    !Not [!Equals [!Ref S3AccessPointOutputAlias, ""]]
  HasS3AccessPointName:
    !Not [!Equals [!Ref S3AccessPointName, ""]]
  UseInputApNameAsOutputApName:
    !Equals [!Ref OutputS3APName, ""]

  CreateVpcEndpoints:
    !Equals [!Ref EnableVpcEndpoints, "true"]
  CreateCloudWatchAlarms:
    !Equals [!Ref EnableCloudWatchAlarms, "true"]
  CreateS3GatewayEndpoint:
    !Equals [!Ref EnableS3GatewayEndpoint, "true"]

  SnapStartEnabled:
    !Equals [!Ref EnableSnapStart, "true"]

# =====================================================================
# Resources
# =====================================================================
Resources:

  # (OutputBucket removed - all output goes to FSx ONTAP via S3 AP)

  # -----------------------------------------------------------------
  # SNS Topic + Email Subscription
  # -----------------------------------------------------------------
  NotificationTopic:
    Type: AWS::SNS::Topic
    Properties:
      TopicName: !Sub "${AWS::StackName}-notifications"
      KmsMasterKeyId: alias/aws/sns

  EmailSubscription:
    Type: AWS::SNS::Subscription
    Properties:
      TopicArn: !Ref NotificationTopic
      Protocol: email
      Endpoint: !Ref NotificationEmail

  # -----------------------------------------------------------------
  # Lambda Security Group
  # -----------------------------------------------------------------
  LambdaSecurityGroup:
    Type: AWS::EC2::SecurityGroup
    Properties:
      GroupDescription: !Sub "${AWS::StackName} - Lambda functions security group"
      VpcId: !Ref VpcId
      SecurityGroupEgress:
        - IpProtocol: tcp
          FromPort: 443
          ToPort: 443
          CidrIp: 0.0.0.0/0
          Description: Allow HTTPS outbound
      Tags:
        - Key: Name
          Value: !Sub "${AWS::StackName}-lambda-sg"

  # -----------------------------------------------------------------
  # S3 Gateway Endpoint (always created — free)
  # IMPORTANT: RouteTableIds 必須。未指定の場合、VPC 内 Lambda から
  # S3 / S3 AP へのアクセスがタイムアウトする。
  # -----------------------------------------------------------------
  S3GatewayEndpoint:
    Condition: CreateS3GatewayEndpoint
    Type: AWS::EC2::VPCEndpoint
    Properties:
      VpcId: !Ref VpcId
      ServiceName: !Sub "com.amazonaws.${AWS::Region}.s3"
      VpcEndpointType: Gateway
      RouteTableIds: !Ref PrivateRouteTableIds

  # -----------------------------------------------------------------
  # VPC Endpoint Security Group (conditional)
  # -----------------------------------------------------------------
  VpcEndpointSecurityGroup:
    Type: AWS::EC2::SecurityGroup
    Condition: CreateVpcEndpoints
    Properties:
      GroupDescription: !Sub "${AWS::StackName} - VPC Endpoints security group"
      VpcId: !Ref VpcId
      SecurityGroupIngress:
        - IpProtocol: tcp
          FromPort: 443
          ToPort: 443
          SourceSecurityGroupId: !Ref LambdaSecurityGroup
          Description: Allow HTTPS from Lambda
      Tags:
        - Key: Name
          Value: !Sub "${AWS::StackName}-vpce-sg"

  # -----------------------------------------------------------------
  # Interface VPC Endpoints (conditional)
  # -----------------------------------------------------------------
  SecretsManagerEndpoint:
    Type: AWS::EC2::VPCEndpoint
    Condition: CreateVpcEndpoints
    Properties:
      VpcId: !Ref VpcId
      ServiceName: !Sub "com.amazonaws.${AWS::Region}.secretsmanager"
      VpcEndpointType: Interface
      SubnetIds: !Ref PrivateSubnetIds
      SecurityGroupIds:
        - !Ref VpcEndpointSecurityGroup
      PrivateDnsEnabled: true

  FsxEndpoint:
    Type: AWS::EC2::VPCEndpoint
    Condition: CreateVpcEndpoints
    Properties:
      VpcId: !Ref VpcId
      ServiceName: !Sub "com.amazonaws.${AWS::Region}.fsx"
      VpcEndpointType: Interface
      SubnetIds: !Ref PrivateSubnetIds
      SecurityGroupIds:
        - !Ref VpcEndpointSecurityGroup
      PrivateDnsEnabled: true

  CloudWatchEndpoint:
    Type: AWS::EC2::VPCEndpoint
    Condition: CreateVpcEndpoints
    Properties:
      VpcId: !Ref VpcId
      ServiceName: !Sub "com.amazonaws.${AWS::Region}.monitoring"
      VpcEndpointType: Interface
      SubnetIds: !Ref PrivateSubnetIds
      SecurityGroupIds:
        - !Ref VpcEndpointSecurityGroup
      PrivateDnsEnabled: true

  CloudWatchLogsEndpoint:
    Type: AWS::EC2::VPCEndpoint
    Condition: CreateVpcEndpoints
    Properties:
      VpcId: !Ref VpcId
      ServiceName: !Sub "com.amazonaws.${AWS::Region}.logs"
      VpcEndpointType: Interface
      SubnetIds: !Ref PrivateSubnetIds
      SecurityGroupIds:
        - !Ref VpcEndpointSecurityGroup
      PrivateDnsEnabled: true

  SnsEndpoint:
    Type: AWS::EC2::VPCEndpoint
    Condition: CreateVpcEndpoints
    Properties:
      VpcId: !Ref VpcId
      ServiceName: !Sub "com.amazonaws.${AWS::Region}.sns"
      VpcEndpointType: Interface
      SubnetIds: !Ref PrivateSubnetIds
      SecurityGroupIds:
        - !Ref VpcEndpointSecurityGroup
      PrivateDnsEnabled: true

  # -----------------------------------------------------------------
  # CloudWatch Log Groups (14 day retention)
  # -----------------------------------------------------------------
  DiscoveryLogGroup:
    Type: AWS::Logs::LogGroup
    Properties:
      LogGroupName: !Sub "/aws/lambda/${AWS::StackName}-discovery"
      RetentionInDays: 14

  DicomParseLogGroup:
    Type: AWS::Logs::LogGroup
    Properties:
      LogGroupName: !Sub "/aws/lambda/${AWS::StackName}-dicom-parse"
      RetentionInDays: 14

  PiiDetectionLogGroup:
    Type: AWS::Logs::LogGroup
    Properties:
      LogGroupName: !Sub "/aws/lambda/${AWS::StackName}-pii-detection"
      RetentionInDays: 14

  AnonymizationLogGroup:
    Type: AWS::Logs::LogGroup
    Properties:
      LogGroupName: !Sub "/aws/lambda/${AWS::StackName}-anonymization"
      RetentionInDays: 14

  # -----------------------------------------------------------------
  # IAM Roles — least-privilege per Lambda
  # -----------------------------------------------------------------
  DiscoveryLambdaRole:
    Type: AWS::IAM::Role
    Properties:
      RoleName: !Sub "${AWS::StackName}-discovery-role"
      AssumeRolePolicyDocument:
        Version: "2012-10-17"
        Statement:
          - Effect: Allow
            Principal:
              Service: lambda.amazonaws.com
            Action: sts:AssumeRole
      ManagedPolicyArns:
        - arn:aws:iam::aws:policy/service-role/AWSLambdaVPCAccessExecutionRole
      Policies:
        - PolicyName: DiscoveryPolicy
          PolicyDocument:
            Version: "2012-10-17"
            Statement:
              - Sid: S3AccessPoint
                Effect: Allow
                Action:
                  - s3:ListBucket
                  - s3:GetObject
                Resource: !If
                  - HasS3AccessPointName
                  - - !Sub "arn:aws:s3:::${S3AccessPointAlias}"
                    - !Sub "arn:aws:s3:::${S3AccessPointAlias}/*"
                    - !Sub "arn:aws:s3:${AWS::Region}:${AWS::AccountId}:accesspoint/${S3AccessPointName}"
                    - !Sub "arn:aws:s3:${AWS::Region}:${AWS::AccountId}:accesspoint/${S3AccessPointName}/*"
                  - - !Sub "arn:aws:s3:::${S3AccessPointAlias}"
                    - !Sub "arn:aws:s3:::${S3AccessPointAlias}/*"
              - Sid: S3AccessPointOutput
                Effect: Allow
                Action:
                  - s3:PutObject
                Resource: !If
                  - HasS3AccessPointName
                  - - !Sub "arn:aws:s3:::${S3AccessPointOutputAlias}/*"
                    - !Sub "arn:aws:s3:${AWS::Region}:${AWS::AccountId}:accesspoint/${S3AccessPointName}/object/*"
                  - - !Sub "arn:aws:s3:::${S3AccessPointOutputAlias}/*"
              - Sid: CloudWatchLogs
                Effect: Allow
                Action:
                  - logs:CreateLogStream
                  - logs:PutLogEvents
                Resource:
                  - !GetAtt DiscoveryLogGroup.Arn
                  - !Sub "${DiscoveryLogGroup.Arn}:*"

  DicomParseLambdaRole:
    Type: AWS::IAM::Role
    Properties:
      RoleName: !Sub "${AWS::StackName}-dicom-parse-role"
      AssumeRolePolicyDocument:
        Version: "2012-10-17"
        Statement:
          - Effect: Allow
            Principal:
              Service: lambda.amazonaws.com
            Action: sts:AssumeRole
      ManagedPolicyArns:
        - arn:aws:iam::aws:policy/service-role/AWSLambdaBasicExecutionRole
      Policies:
        - PolicyName: DicomParsePolicy
          PolicyDocument:
            Version: "2012-10-17"
            Statement:
              - Sid: S3AccessPoint
                Effect: Allow
                Action:
                  - s3:GetObject
                Resource:
                  - !Sub "arn:aws:s3:::${S3AccessPointAlias}/*"
              - Sid: S3AccessPointOutput
                Effect: Allow
                Action:
                  - s3:PutObject
                Resource:
                  - !Sub "arn:aws:s3:::${S3AccessPointOutputAlias}/*"
              - Sid: CloudWatchLogs
                Effect: Allow
                Action:
                  - logs:CreateLogStream
                  - logs:PutLogEvents
                Resource:
                  - !GetAtt DicomParseLogGroup.Arn
                  - !Sub "${DicomParseLogGroup.Arn}:*"

  PiiDetectionLambdaRole:
    Type: AWS::IAM::Role
    Properties:
      RoleName: !Sub "${AWS::StackName}-pii-detection-role"
      AssumeRolePolicyDocument:
        Version: "2012-10-17"
        Statement:
          - Effect: Allow
            Principal:
              Service: lambda.amazonaws.com
            Action: sts:AssumeRole
      ManagedPolicyArns:
        - arn:aws:iam::aws:policy/service-role/AWSLambdaBasicExecutionRole
      Policies:
        - PolicyName: PiiDetectionPolicy
          PolicyDocument:
            Version: "2012-10-17"
            Statement:
              - Sid: S3AccessPoint
                Effect: Allow
                Action:
                  - s3:GetObject
                Resource:
                  - !Sub "arn:aws:s3:::${S3AccessPointAlias}/*"
              - Sid: S3AccessPointOutput
                Effect: Allow
                Action:
                  - s3:PutObject
                Resource:
                  - !Sub "arn:aws:s3:::${S3AccessPointOutputAlias}/*"
              - Sid: Rekognition
                Effect: Allow
                Action:
                  - rekognition:DetectText
                Resource: "*"
              - Sid: CloudWatchLogs
                Effect: Allow
                Action:
                  - logs:CreateLogStream
                  - logs:PutLogEvents
                Resource:
                  - !GetAtt PiiDetectionLogGroup.Arn
                  - !Sub "${PiiDetectionLogGroup.Arn}:*"

  AnonymizationLambdaRole:
    Type: AWS::IAM::Role
    Properties:
      RoleName: !Sub "${AWS::StackName}-anonymization-role"
      AssumeRolePolicyDocument:
        Version: "2012-10-17"
        Statement:
          - Effect: Allow
            Principal:
              Service: lambda.amazonaws.com
            Action: sts:AssumeRole
      ManagedPolicyArns:
        - arn:aws:iam::aws:policy/service-role/AWSLambdaBasicExecutionRole
      Policies:
        - PolicyName: AnonymizationPolicy
          PolicyDocument:
            Version: "2012-10-17"
            Statement:
              - Sid: S3AccessPointOutput
                Effect: Allow
                Action:
                  - s3:PutObject
                Resource:
                  - !Sub "arn:aws:s3:::${S3AccessPointOutputAlias}/*"
              - Sid: ComprehendMedical
                Effect: Allow
                Action:
                  - comprehendmedical:DetectPHI
                Resource: "*"
              - Sid: SNS
                Effect: Allow
                Action:
                  - sns:Publish
                Resource:
                  - !Ref NotificationTopic
              - Sid: CloudWatchLogs
                Effect: Allow
                Action:
                  - logs:CreateLogStream
                  - logs:PutLogEvents
                Resource:
                  - !GetAtt AnonymizationLogGroup.Arn
                  - !Sub "${AnonymizationLogGroup.Arn}:*"

  # -----------------------------------------------------------------
  # Lambda Functions (Python 3.12, 256MB, 300s timeout)
  # -----------------------------------------------------------------
  DiscoveryFunction:
    Type: AWS::Lambda::Function
    Properties:
      FunctionName: !Sub "${AWS::StackName}-discovery"
      Runtime: python3.13
      SnapStart:
        !If
          - SnapStartEnabled
          - ApplyOn: PublishedVersions
          - !Ref AWS::NoValue
      Handler: handler.handler
      Code:
        S3Bucket: !Ref DeployBucket
        S3Key: lambda/healthcare-dicom-discovery.zip
      MemorySize: 512
      Timeout: 900
      Role: !GetAtt DiscoveryLambdaRole.Arn
      VpcConfig:
        SecurityGroupIds:
          - !Ref LambdaSecurityGroup
        SubnetIds: !Ref PrivateSubnetIds
      Environment:
        Variables:
          S3_ACCESS_POINT: !Ref S3AccessPointAlias
          S3_ACCESS_POINT_OUTPUT:
            !If
              - HasOutputS3APAlias
              - !Ref OutputS3APAlias
              - !If
                - HasLegacyOutputAlias
                - !Ref S3AccessPointOutputAlias
                - !Ref S3AccessPointAlias
          OUTPUT_DESTINATION: !Ref OutputDestination
          OUTPUT_S3AP_ALIAS:
            !If
              - UseFsxnS3AP
              - !If
                - HasOutputS3APAlias
                - !Ref OutputS3APAlias
                - !If
                  - HasLegacyOutputAlias
                  - !Ref S3AccessPointOutputAlias
                  - !Ref S3AccessPointAlias
              - ""
          OUTPUT_S3AP_PREFIX: !Ref OutputS3APPrefix
          PREFIX_FILTER: ""
          SUFFIX_FILTER: ".dcm"
      LoggingConfig:
        LogGroup: !Ref DiscoveryLogGroup
      Tags:
        - Key: UseCase
          Value: healthcare-dicom

  DicomParseFunction:
    Type: AWS::Lambda::Function
    Properties:
      FunctionName: !Sub "${AWS::StackName}-dicom-parse"
      Runtime: python3.13
      SnapStart:
        !If
          - SnapStartEnabled
          - ApplyOn: PublishedVersions
          - !Ref AWS::NoValue
      Handler: handler.handler
      Code:
        S3Bucket: !Ref DeployBucket
        S3Key: lambda/healthcare-dicom-dicom_parse.zip
      MemorySize: 256
      Timeout: 300
      Role: !GetAtt DicomParseLambdaRole.Arn
      Environment:
        Variables:
          S3_ACCESS_POINT: !Ref S3AccessPointAlias
          S3_ACCESS_POINT_OUTPUT:
            !If
              - HasOutputS3APAlias
              - !Ref OutputS3APAlias
              - !If
                - HasLegacyOutputAlias
                - !Ref S3AccessPointOutputAlias
                - !Ref S3AccessPointAlias
          OUTPUT_DESTINATION: !Ref OutputDestination
          OUTPUT_S3AP_ALIAS:
            !If
              - UseFsxnS3AP
              - !If
                - HasOutputS3APAlias
                - !Ref OutputS3APAlias
                - !If
                  - HasLegacyOutputAlias
                  - !Ref S3AccessPointOutputAlias
                  - !Ref S3AccessPointAlias
              - ""
          OUTPUT_S3AP_PREFIX: !Ref OutputS3APPrefix
      LoggingConfig:
        LogGroup: !Ref DicomParseLogGroup
      Tags:
        - Key: UseCase
          Value: healthcare-dicom

  PiiDetectionFunction:
    Type: AWS::Lambda::Function
    Properties:
      FunctionName: !Sub "${AWS::StackName}-pii-detection"
      Runtime: python3.13
      SnapStart:
        !If
          - SnapStartEnabled
          - ApplyOn: PublishedVersions
          - !Ref AWS::NoValue
      Handler: handler.handler
      Code:
        S3Bucket: !Ref DeployBucket
        S3Key: lambda/healthcare-dicom-pii_detection.zip
      MemorySize: 256
      Timeout: 300
      Role: !GetAtt PiiDetectionLambdaRole.Arn
      Environment:
        Variables:
          S3_ACCESS_POINT: !Ref S3AccessPointAlias
          S3_ACCESS_POINT_OUTPUT:
            !If
              - HasOutputS3APAlias
              - !Ref OutputS3APAlias
              - !If
                - HasLegacyOutputAlias
                - !Ref S3AccessPointOutputAlias
                - !Ref S3AccessPointAlias
          OUTPUT_DESTINATION: !Ref OutputDestination
          OUTPUT_S3AP_ALIAS:
            !If
              - UseFsxnS3AP
              - !If
                - HasOutputS3APAlias
                - !Ref OutputS3APAlias
                - !If
                  - HasLegacyOutputAlias
                  - !Ref S3AccessPointOutputAlias
                  - !Ref S3AccessPointAlias
              - ""
          OUTPUT_S3AP_PREFIX: !Ref OutputS3APPrefix
      LoggingConfig:
        LogGroup: !Ref PiiDetectionLogGroup
      Tags:
        - Key: UseCase
          Value: healthcare-dicom

  AnonymizationFunction:
    Type: AWS::Lambda::Function
    Properties:
      FunctionName: !Sub "${AWS::StackName}-anonymization"
      Runtime: python3.13
      SnapStart:
        !If
          - SnapStartEnabled
          - ApplyOn: PublishedVersions
          - !Ref AWS::NoValue
      Handler: handler.handler
      Code:
        S3Bucket: !Ref DeployBucket
        S3Key: lambda/healthcare-dicom-anonymization.zip
      MemorySize: 256
      Timeout: 300
      Role: !GetAtt AnonymizationLambdaRole.Arn
      Environment:
        Variables:
          S3_ACCESS_POINT_OUTPUT:
            !If
              - HasOutputS3APAlias
              - !Ref OutputS3APAlias
              - !If
                - HasLegacyOutputAlias
                - !Ref S3AccessPointOutputAlias
                - !Ref S3AccessPointAlias
          OUTPUT_DESTINATION: !Ref OutputDestination
          OUTPUT_S3AP_ALIAS:
            !If
              - UseFsxnS3AP
              - !If
                - HasOutputS3APAlias
                - !Ref OutputS3APAlias
                - !If
                  - HasLegacyOutputAlias
                  - !Ref S3AccessPointOutputAlias
                  - !Ref S3AccessPointAlias
              - ""
          OUTPUT_S3AP_PREFIX: !Ref OutputS3APPrefix
          SNS_TOPIC_ARN: !Ref NotificationTopic
          COMPREHEND_MEDICAL_REGION: !Ref ComprehendMedicalRegion
      LoggingConfig:
        LogGroup: !Ref AnonymizationLogGroup
      Tags:
        - Key: UseCase
          Value: healthcare-dicom

  # -----------------------------------------------------------------
  # Step Functions State Machine
  # Discovery → Map[DICOM Parse → PII Detection → Anonymization]
  # -----------------------------------------------------------------
  StateMachineRole:
    Type: AWS::IAM::Role
    Properties:
      RoleName: !Sub "${AWS::StackName}-sfn-role"
      AssumeRolePolicyDocument:
        Version: "2012-10-17"
        Statement:
          - Effect: Allow
            Principal:
              Service: states.amazonaws.com
            Action: sts:AssumeRole
      Policies:
        - PolicyName: StepFunctionsPolicy
          PolicyDocument:
            Version: "2012-10-17"
            Statement:
              - Sid: InvokeLambda
                Effect: Allow
                Action:
                  - lambda:InvokeFunction
                Resource:
                  - !GetAtt DiscoveryFunction.Arn
                  - !GetAtt DicomParseFunction.Arn
                  - !GetAtt PiiDetectionFunction.Arn
                  - !GetAtt AnonymizationFunction.Arn

  DicomStateMachine:
    Type: AWS::StepFunctions::StateMachine
    Properties:
      StateMachineName: !Sub "${AWS::StackName}-workflow"
      RoleArn: !GetAtt StateMachineRole.Arn
      DefinitionString: !Sub |
        {
          "Comment": "Healthcare DICOM - Classification and Anonymization Workflow",
          "StartAt": "Discovery",
          "States": {
            "Discovery": {
              "Type": "Task",
              "Resource": "${DiscoveryFunction.Arn}",
              "ResultPath": "$.discovery",
              "Next": "ProcessDicomFiles",
              "Retry": [
                {
                  "ErrorEquals": ["States.TaskFailed"],
                  "IntervalSeconds": 5,
                  "MaxAttempts": 2,
                  "BackoffRate": 2.0
                }
              ]
            },
            "ProcessDicomFiles": {
              "Type": "Map",
              "ItemsPath": "$.discovery.objects",
              "MaxConcurrency": 10,
              "ResultPath": "$.processing_results",
              "Next": "NotifyCompletion",
              "ItemProcessor": {
                "ProcessorConfig": {
                  "Mode": "INLINE"
                },
                "StartAt": "DicomParse",
                "States": {
                  "DicomParse": {
                    "Type": "Task",
                    "Resource": "${DicomParseFunction.Arn}",
                    "ResultPath": "$.parse_result",
                    "Next": "PiiDetection",
                    "Retry": [
                      {
                        "ErrorEquals": ["States.TaskFailed"],
                        "IntervalSeconds": 10,
                        "MaxAttempts": 3,
                        "BackoffRate": 2.0
                      }
                    ],
                    "Catch": [
                      {
                        "ErrorEquals": ["States.ALL"],
                        "ResultPath": "$.error",
                        "Next": "MarkFailed"
                      }
                    ]
                  },
                  "PiiDetection": {
                    "Type": "Task",
                    "Resource": "${PiiDetectionFunction.Arn}",
                    "InputPath": "$.parse_result",
                    "ResultPath": "$.pii_result",
                    "Next": "Anonymization",
                    "Retry": [
                      {
                        "ErrorEquals": ["States.TaskFailed"],
                        "IntervalSeconds": 10,
                        "MaxAttempts": 3,
                        "BackoffRate": 2.0
                      }
                    ],
                    "Catch": [
                      {
                        "ErrorEquals": ["States.ALL"],
                        "ResultPath": "$.error",
                        "Next": "MarkFailed"
                      }
                    ]
                  },
                  "Anonymization": {
                    "Type": "Task",
                    "Resource": "${AnonymizationFunction.Arn}",
                    "InputPath": "$.pii_result",
                    "ResultPath": "$.anonymization_result",
                    "End": true,
                    "Retry": [
                      {
                        "ErrorEquals": ["States.TaskFailed"],
                        "IntervalSeconds": 10,
                        "MaxAttempts": 3,
                        "BackoffRate": 2.0
                      }
                    ],
                    "Catch": [
                      {
                        "ErrorEquals": ["States.ALL"],
                        "ResultPath": "$.error",
                        "Next": "MarkFailed"
                      }
                    ]
                  },
                  "MarkFailed": {
                    "Type": "Pass",
                    "Result": {"status": "FAILED"},
                    "End": true
                  }
                }
              }
            },
            "NotifyCompletion": {
              "Type": "Task",
              "Resource": "arn:aws:states:::sns:publish",
              "Parameters": {
                "TopicArn": "${NotificationTopic}",
                "Subject": "Healthcare DICOM Pipeline Completed",
                "Message.$": "States.Format('DICOM pipeline completed. Total files: {}', $.discovery.total_objects)"
              },
              "End": true
            }
          }
        }

  # -----------------------------------------------------------------
  # Step Functions SNS Publish Permission
  # -----------------------------------------------------------------
  StateMachineSnsPolicy:
    Type: AWS::IAM::Policy
    Properties:
      PolicyName: !Sub "${AWS::StackName}-sfn-sns-policy"
      Roles:
        - !Ref StateMachineRole
      PolicyDocument:
        Version: "2012-10-17"
        Statement:
          - Effect: Allow
            Action:
              - sns:Publish
            Resource:
              - !Ref NotificationTopic

  # -----------------------------------------------------------------
  # EventBridge Scheduler
  # -----------------------------------------------------------------
  SchedulerRole:
    Type: AWS::IAM::Role
    Properties:
      RoleName: !Sub "${AWS::StackName}-scheduler-role"
      AssumeRolePolicyDocument:
        Version: "2012-10-17"
        Statement:
          - Effect: Allow
            Principal:
              Service: scheduler.amazonaws.com
            Action: sts:AssumeRole
      Policies:
        - PolicyName: SchedulerPolicy
          PolicyDocument:
            Version: "2012-10-17"
            Statement:
              - Effect: Allow
                Action:
                  - states:StartExecution
                Resource:
                  - !Ref DicomStateMachine

  DicomSchedule:
    Type: AWS::Scheduler::Schedule
    Properties:
      Name: !Sub "${AWS::StackName}-schedule"
      ScheduleExpression: !Ref ScheduleExpression
      FlexibleTimeWindow:
        Mode: "OFF"
      Target:
        Arn: !Ref DicomStateMachine
        RoleArn: !GetAtt SchedulerRole.Arn
        Input: "{}"

  # -----------------------------------------------------------------
  # CloudWatch Alarms (conditional on CreateCloudWatchAlarms)
  # -----------------------------------------------------------------
  StepFunctionsFailureAlarm:
    Type: AWS::CloudWatch::Alarm
    Condition: CreateCloudWatchAlarms
    Properties:
      AlarmName: !Sub "${AWS::StackName}-sfn-failures"
      AlarmDescription: Step Functions execution failures
      Namespace: AWS/States
      MetricName: ExecutionsFailed
      Dimensions:
        - Name: StateMachineArn
          Value: !Ref DicomStateMachine
      Statistic: Sum
      Period: 300
      EvaluationPeriods: 1
      Threshold: 1
      ComparisonOperator: GreaterThanOrEqualToThreshold
      TreatMissingData: notBreaching
      AlarmActions:
        - !Ref NotificationTopic

  DicomParseErrorAlarm:
    Type: AWS::CloudWatch::Alarm
    Condition: CreateCloudWatchAlarms
    Properties:
      AlarmName: !Sub "${AWS::StackName}-dicom-parse-errors"
      AlarmDescription: DICOM Parse Lambda error rate
      Namespace: AWS/Lambda
      MetricName: Errors
      Dimensions:
        - Name: FunctionName
          Value: !Ref DicomParseFunction
      Statistic: Sum
      Period: 300
      EvaluationPeriods: 1
      Threshold: 3
      ComparisonOperator: GreaterThanOrEqualToThreshold
      TreatMissingData: notBreaching
      AlarmActions:
        - !Ref NotificationTopic

  AnonymizationErrorAlarm:
    Type: AWS::CloudWatch::Alarm
    Condition: CreateCloudWatchAlarms
    Properties:
      AlarmName: !Sub "${AWS::StackName}-anonymization-errors"
      AlarmDescription: Anonymization Lambda error rate
      Namespace: AWS/Lambda
      MetricName: Errors
      Dimensions:
        - Name: FunctionName
          Value: !Ref AnonymizationFunction
      Statistic: Sum
      Period: 300
      EvaluationPeriods: 1
      Threshold: 3
      ComparisonOperator: GreaterThanOrEqualToThreshold
      TreatMissingData: notBreaching
      AlarmActions:
        - !Ref NotificationTopic


  # EventBridge rule: notify on Step Functions execution failure/timeout/abort
  StepFunctionsFailureEventRule:
    Type: AWS::Events::Rule
    Condition: CreateCloudWatchAlarms
    Properties:
      Description: !Sub "Notify on ${AWS::StackName} Step Functions execution failures"
      EventPattern:
        source:
          - aws.states
        detail-type:
          - "Step Functions Execution Status Change"
        detail:
          status:
            - FAILED
            - TIMED_OUT
            - ABORTED
          stateMachineArn:
            - !Ref DicomStateMachine
      Targets:
        - Arn: !Ref NotificationTopic
          Id: SnsFailureTarget
          InputTransformer:
            InputPathsMap:
              execName: $.detail.name
              execStatus: $.detail.status
              execArn: $.detail.executionArn
            InputTemplate: '"Step Functions execution <execName> finished with status <execStatus>. ARN: <execArn>"'

  # Allow EventBridge to publish to SNS topic
  EventBridgeToSnsPolicy:
    Type: AWS::SNS::TopicPolicy
    Condition: CreateCloudWatchAlarms
    Properties:
      PolicyDocument:
        Version: "2012-10-17"
        Statement:
          - Sid: AllowEventBridgePublish
            Effect: Allow
            Principal:
              Service: events.amazonaws.com
            Action: sns:Publish
            Resource: !Ref NotificationTopic
            Condition:
              ArnLike:
                aws:SourceArn: !GetAtt StepFunctionsFailureEventRule.Arn
      Topics:
        - !Ref NotificationTopic

# =====================================================================
# Outputs
# =====================================================================
Outputs:
  StateMachineArn:
    Description: Step Functions State Machine ARN
    Value: !Ref DicomStateMachine

  NotificationTopicArn:
    Description: SNS Notification Topic ARN
    Value: !Ref NotificationTopic

  DiscoveryFunctionArn:
    Description: Discovery Lambda Function ARN
    Value: !GetAtt DiscoveryFunction.Arn

  DicomParseFunctionArn:
    Description: DICOM Parse Lambda Function ARN
    Value: !GetAtt DicomParseFunction.Arn

  PiiDetectionFunctionArn:
    Description: PII Detection Lambda Function ARN
    Value: !GetAtt PiiDetectionFunction.Arn

  AnonymizationFunctionArn:
    Description: Anonymization Lambda Function ARN
    Value: !GetAtt AnonymizationFunction.Arn
