solutions/flexcache/gaming-build-pipeline/template.yaml
AWSTemplateFormatVersion: '2010-09-09'
Transform: AWS::Serverless-2016-10-31
Description: >
  Gaming Build Pipeline — ゲームアセット品質チェック・ログ分析パターン
  FSx for ONTAP S3 AP 経由でビルド成果物を分析

Parameters:
  S3AccessPointAlias:
    Type: String
    Description: S3 Access Point エイリアス

  S3AccessPointName:
    Type: String
    Description: S3 Access Point 名（IAM ARN 用）

  OntapSecretName:
    Type: String
    Default: fsxn/ontap-credentials

  BedrockModelId:
    Type: String
    Default: apac.amazon.nova-pro-v1:0
    Description: >-
      Bedrock モデル ID または推論プロファイル ID。Amazon Nova はオンデマンドでは
      クロスリージョン推論プロファイル ID が必須です（リージョンに応じて接頭辞を変更:
      Asia Pacific=apac. / US=us. / Europe=eu.）。
      例: apac.amazon.nova-pro-v1:0, us.amazon.nova-pro-v1:0, eu.amazon.nova-pro-v1:0
      詳細は docs/bedrock-inference-profiles.md を参照。

  ScheduleExpression:
    Type: String
    Default: rate(1 hour)

  NotificationEmail:
    Type: String
    Default: ''

  OutputDestination:
    Type: String
    Default: STANDARD_S3
    AllowedValues: [STANDARD_S3, FSXN_S3AP]

Conditions:
  HasNotificationEmail: !Not [!Equals [!Ref NotificationEmail, '']]

Resources:
  OutputBucket:
    Type: AWS::S3::Bucket
    Properties:
      BucketEncryption:
        ServerSideEncryptionConfiguration:
          - ServerSideEncryptionByDefault:
              SSEAlgorithm: aws:kms

  NotificationTopic:
    Type: AWS::SNS::Topic
    Properties:
      KmsMasterKeyId: alias/aws/sns

  EmailSubscription:
    Type: AWS::SNS::Subscription
    Condition: HasNotificationEmail
    Properties:
      TopicArn: !Ref NotificationTopic
      Protocol: email
      Endpoint: !Ref NotificationEmail

  LambdaRole:
    Type: AWS::IAM::Role
    Properties:
      AssumeRolePolicyDocument:
        Version: '2012-10-17'
        Statement:
          - Effect: Allow
            Principal:
              Service: lambda.amazonaws.com
            Action: sts:AssumeRole
      ManagedPolicyArns:
        - arn:aws:iam::aws:policy/service-role/AWSLambdaBasicExecutionRole
      Policies:
        - PolicyName: GamingBuildPolicy
          PolicyDocument:
            Version: '2012-10-17'
            Statement:
              - Effect: Allow
                Action: [s3:ListBucket, s3:GetBucketLocation]
                Resource: !Sub 'arn:aws:s3:${AWS::Region}:${AWS::AccountId}:accesspoint/${S3AccessPointName}'
              - Effect: Allow
                Action: [s3:GetObject]
                Resource: !Sub 'arn:aws:s3:${AWS::Region}:${AWS::AccountId}:accesspoint/${S3AccessPointName}/object/*'
              - Effect: Allow
                Action: s3:PutObject
                Resource: !Sub '${OutputBucket.Arn}/*'
              - Effect: Allow
                Action: bedrock:InvokeModel
                # Nova 等の推論プロファイル呼び出しには、推論プロファイル ARN と
                # プロファイルがルーティングする各リージョンの foundation-model ARN の両方が必要
                Resource:
                  - !Sub 'arn:aws:bedrock:*::foundation-model/*'
                  - !Sub 'arn:aws:bedrock:${AWS::Region}:${AWS::AccountId}:inference-profile/*'
              - Effect: Allow
                Action: rekognition:DetectLabels
                Resource: '*'
              - Effect: Allow
                Action: sns:Publish
                Resource: !Ref NotificationTopic

  DiscoveryFunction:
    Type: AWS::Serverless::Function
    Properties:
      Handler: handler.handler
      Runtime: python3.12
      CodeUri: functions/discovery/
      Timeout: 120
      MemorySize: 512
      Role: !GetAtt LambdaRole.Arn
      Environment:
        Variables:
          S3_ACCESS_POINT_ALIAS: !Ref S3AccessPointAlias
          OUTPUT_BUCKET: !Ref OutputBucket

  QualityCheckFunction:
    Type: AWS::Serverless::Function
    Properties:
      Handler: handler.handler
      Runtime: python3.12
      CodeUri: functions/quality_check/
      Timeout: 300
      MemorySize: 1024
      Role: !GetAtt LambdaRole.Arn
      Environment:
        Variables:
          S3_ACCESS_POINT_ALIAS: !Ref S3AccessPointAlias

  LogAnalysisFunction:
    Type: AWS::Serverless::Function
    Properties:
      Handler: handler.handler
      Runtime: python3.12
      CodeUri: functions/log_analysis/
      Timeout: 120
      MemorySize: 512
      Role: !GetAtt LambdaRole.Arn
      Environment:
        Variables:
          S3_ACCESS_POINT_ALIAS: !Ref S3AccessPointAlias
          BEDROCK_MODEL_ID: !Ref BedrockModelId

  ReportFunction:
    Type: AWS::Serverless::Function
    Properties:
      Handler: handler.handler
      Runtime: python3.12
      CodeUri: functions/report/
      Timeout: 60
      MemorySize: 256
      Role: !GetAtt LambdaRole.Arn
      Environment:
        Variables:
          OUTPUT_BUCKET: !Ref OutputBucket
          NOTIFICATION_TOPIC_ARN: !Ref NotificationTopic

  BuildPipelineWorkflow:
    Type: AWS::Serverless::StateMachine
    Properties:
      Name: gaming-build-pipeline-analytics
      Definition:
        Comment: Gaming Build Pipeline Analytics Workflow
        StartAt: Discovery
        States:
          Discovery:
            Type: Task
            Resource: !GetAtt DiscoveryFunction.Arn
            ResultPath: $.discovery
            Next: ProcessAssets
          ProcessAssets:
            Type: Map
            ItemsPath: $.discovery.objects
            MaxConcurrency: 10
            Iterator:
              StartAt: QualityCheck
              States:
                QualityCheck:
                  Type: Task
                  Resource: !GetAtt QualityCheckFunction.Arn
                  ResultPath: $.quality
                  Next: LogAnalysis
                LogAnalysis:
                  Type: Task
                  Resource: !GetAtt LogAnalysisFunction.Arn
                  ResultPath: $.logs
                  End: true
            ResultPath: $.processed
            Next: GenerateReport
          GenerateReport:
            Type: Task
            Resource: !GetAtt ReportFunction.Arn
            End: true
      Role: !GetAtt StepFunctionsRole.Arn

  StepFunctionsRole:
    Type: AWS::IAM::Role
    Properties:
      AssumeRolePolicyDocument:
        Version: '2012-10-17'
        Statement:
          - Effect: Allow
            Principal:
              Service: states.amazonaws.com
            Action: sts:AssumeRole
      Policies:
        - PolicyName: InvokeLambda
          PolicyDocument:
            Version: '2012-10-17'
            Statement:
              - Effect: Allow
                Action: lambda:InvokeFunction
                Resource:
                  - !GetAtt DiscoveryFunction.Arn
                  - !GetAtt QualityCheckFunction.Arn
                  - !GetAtt LogAnalysisFunction.Arn
                  - !GetAtt ReportFunction.Arn

  AnalyticsSchedule:
    Type: AWS::Scheduler::Schedule
    Properties:
      ScheduleExpression: !Ref ScheduleExpression
      FlexibleTimeWindow:
        Mode: 'OFF'
      Target:
        Arn: !GetAtt BuildPipelineWorkflow.Arn
        RoleArn: !GetAtt SchedulerRole.Arn
        Input: '{}'

  SchedulerRole:
    Type: AWS::IAM::Role
    Properties:
      AssumeRolePolicyDocument:
        Version: '2012-10-17'
        Statement:
          - Effect: Allow
            Principal:
              Service: scheduler.amazonaws.com
            Action: sts:AssumeRole
      Policies:
        - PolicyName: StartExecution
          PolicyDocument:
            Version: '2012-10-17'
            Statement:
              - Effect: Allow
                Action: states:StartExecution
                Resource: !GetAtt BuildPipelineWorkflow.Arn

Outputs:
  StateMachineArn:
    Value: !GetAtt BuildPipelineWorkflow.Arn
  OutputBucketName:
    Value: !Ref OutputBucket
